.app-download-banner-container[data-v-36c85c42] {
    position: relative;
    z-index: 1;
    padding: .75rem 0
}

@media (max-width:991.98px) {
    .app-download-banner-container[data-v-36c85c42] {
        padding: .625rem 0
    }
}

.app-download-banner-container[data-v-36c85c42]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    z-index: -1;
    background-color: #007493
}

.content-wrapper[data-v-36c85c42] {
    width: 60.625rem;
    text-align: center;
    margin: 0 auto
}

@media (max-width:991.98px) {
    .content-wrapper[data-v-36c85c42] {
        width: auto;
        text-align: left;
        margin: initial
    }
}

.title[data-v-36c85c42] {
    display: inline-block;
    line-height: 1.875rem;
    vertical-align: bottom;
    font-size: 1rem;
    font-weight: 700;
    color: #323232;
    padding-left: .5rem;
    margin-bottom: 0
}

@media (max-width:991.98px) {
    .title[data-v-36c85c42] {
        font-size: .875rem
    }
}

.app-download[data-v-36c85c42] {
    line-height: 1.875rem;
    vertical-align: bottom;
    font-weight: 700;
    color: #00c7ae;
    padding: .1875rem 1rem
}

@media (max-width:991.98px) {
    .app-download[data-v-36c85c42] {
        float: right;
        line-height: normal;
        font-size: .875rem;
        padding: .3125rem .75rem .3125rem .5rem
    }
}

.close-button[data-v-36c85c42] {
    float: right
}

@media (max-width:991.98px) {
    .close-button[data-v-36c85c42] {
        float: left;
        padding: 0 .375rem
    }
}

.ie-end-notice-banner-container[data-v-5a0416e5] {
    position: relative;
    background-color: #eff4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem
}

.content-wrapper[data-v-5a0416e5] {
    width: 60.625rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.notice[data-v-5a0416e5] {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #323232;
    vertical-align: middle;
    margin: 1rem 3.75rem 1rem .5rem
}

.chrome-download-button[data-v-5a0416e5] {
    width: 8.3125rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .75rem;
    border-radius: 1.125rem;
    background-color: #5080fa
}

.chrome-download-button .chrome-download-wrapper[data-v-5a0416e5] {
    position: absolute;
    display: flex;
    align-items: center
}

.chrome-download-button .chrome-download-message[data-v-5a0416e5] {
    font-size: .875rem;
    font-weight: 500;
    color: #fff;
    margin-left: .5rem
}

.close-button[data-v-5a0416e5] {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.user-notification-item[data-v-4e430d78] {
    border-bottom: .0625rem solid #f2f2f2;
    background-color: #fff;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem
}

@media (max-width:767.98px) {
    .user-notification-item[data-v-4e430d78] {
        padding: -8.5rem
    }
}

.user-notification-item a[data-v-4e430d78] {
    color: #323232
}

.user-notification-item p[data-v-4e430d78] {
    margin: 0
}

div.badge[data-v-4e430d78] {
    display: inline-flex
}

div.badge .type[data-v-4e430d78] {
    padding: 0
}

div.badge .type span[data-v-4e430d78] {
    display: inline-block;
    width: 2rem;
    height: 1.375rem;
    background-color: #ccc;
    border-radius: .6875rem;
    color: #525252;
    font-size: .625rem;
    line-height: 1.375rem;
    padding: 0
}

div.badge .type span[data-type=service][data-v-4e430d78] {
    background-color: #eafaf9;
    color: #00c7ae
}

div.badge .type span[data-type=notice][data-v-4e430d78] {
    background-color: #eff4ff;
    color: #5080fa
}

div.badge .type span[data-type=ad][data-v-4e430d78] {
    background-color: #fffaea;
    color: #ffbf0d
}

div.created-date[data-v-4e430d78] {
    padding-left: 0;
    text-align: right;
    line-height: 1.375rem
}

div.created-date p[data-v-4e430d78] {
    color: #737373;
    font-size: .75rem
}

.content[data-v-4e430d78] {
    margin: .5rem 0 0
}

.content .title[data-v-4e430d78] {
    display: -webkit-box;
    max-height: 3em;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    padding-left: .5rem;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    transform: translateX(-.5rem)
}

.content .title .unread-badge[data-v-4e430d78] {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background: #ff3131;
    transform: translateY(-50%)
}

.content .contents[data-v-4e430d78] {
    display: -webkit-box;
    max-height: 3em;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #737373;
    word-break: break-all;
    font-size: .75rem;
    text-align: left;
    margin-top: .25rem
}

.btn-wrapper[data-v-4e430d78] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 2.625rem;
    flex-basis: 2.625rem
}

@media (max-width:767.98px) {
    .btn-wrapper[data-v-4e430d78] {
        max-width: 5.25rem;
        flex-basis: 5.25rem
    }
}

.btn-wrapper .btn-check-alarm[data-v-4e430d78] {
    width: 1.125rem;
    height: 1.125rem;
    padding: 0;
    margin: 0;
    border: 0
}

.btn-wrapper .btn-check-alarm img[data-v-4e430d78] {
    width: 100%;
    height: 100%;
    vertical-align: top
}

.select-version[data-v-66808f12] {
    display: block;
    margin: .625rem auto 1.875rem;
    width: 10.5rem
}

@media (max-width:991.98px) {
    .select-version[data-v-66808f12] {
        width: 100%
    }
}

.title[data-v-28205720] {
    font-size: 1.8125rem
}

.ul-depth-2[data-v-28205720] {
    margin-left: 1.875rem
}

.usermenu-dropdown div[data-name=signout-control][data-v-0ef37ba8],
.usermenu-dropdown div[data-name=signup-pro-control] button.btn[data-v-0ef37ba8],
.usermenu-dropdown div[data-name=user-type-control] button.btn[data-v-0ef37ba8],
.usermenu-dropdown ul[data-name=usermenu-control][data-v-0ef37ba8] {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem
}

.usermenu[data-v-0ef37ba8] {
    position: relative
}

.usermenu[data-v-0ef37ba8] .usermenu-dropdown {
    z-index: 100
}

.usermenu[data-v-0ef37ba8] .usermenu-dropdown .review-average span {
    font-size: .875rem
}

.usermenu-button[data-v-0ef37ba8] {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.usermenu-button .row[data-v-0ef37ba8] {
    flex-wrap: nowrap
}

.usermenu-button .user-profile-picture[data-v-0ef37ba8] {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem
}

.usermenu-button .user-profile-picture[data-v-0ef37ba8]:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: .0625rem solid #e1e1e1
}

.usermenu-button .user-profile-picture.user-menu-open-pro[data-v-0ef37ba8]:after {
    border: .125rem solid #323232
}

.usermenu-button .user-profile-picture.user-menu-open-customer[data-v-0ef37ba8]:after {
    border: .125rem solid #00c7ae
}

.usermenu-dropdown[data-v-0ef37ba8] {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(103%);
    background-color: #fff;
    border: .0625rem solid #e1e1e1;
    border-radius: 4px;
    padding: 1.3125rem;
    width: 15rem;
    overflow: visible;
    box-shadow: 0 0 .625rem 0 rgba(0, 0, 0, .1);
    text-align: left
}

.usermenu-dropdown div[data-name=user-info] h4[data-name=name][data-v-0ef37ba8] {
    font-size: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.usermenu-dropdown div[data-name=user-info] div[data-name=review][data-v-0ef37ba8] {
    cursor: pointer
}

.usermenu-dropdown button.btn[data-v-0ef37ba8] {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none
}

.usermenu-dropdown ul[data-name=usermenu-control][data-v-0ef37ba8] {
    border-bottom: .0625rem solid #e1e1e1;
    margin-top: 1rem;
    margin-bottom: 1.3125rem;
    padding-bottom: 1.3125rem
}

.usermenu-dropdown ul[data-name=usermenu-control] li[data-v-0ef37ba8] {
    padding: .65625rem 0;
    cursor: pointer
}

.usermenu-dropdown ul[data-name=usermenu-control] li[data-name=membership] span[data-v-0ef37ba8] {
    display: inline-block;
    width: 50%
}

.usermenu-dropdown ul[data-name=usermenu-control] li div[class*=col][data-v-0ef37ba8] {
    color: #323232
}

.usermenu-dropdown ul[data-name=usermenu-control] li .new-feature-badge[data-v-0ef37ba8] {
    display: inline-block;
    vertical-align: top
}

.usermenu-dropdown div[data-name=user-type-control][data-v-0ef37ba8] {
    margin: 1.3125rem 0
}

.usermenu-dropdown div[data-name=user-type-control] img[data-v-0ef37ba8] {
    margin-right: .65625rem
}

.usermenu-dropdown div[data-name=user-type-control] button.btn[data-v-0ef37ba8] {
    color: #323232
}

.usermenu-dropdown div[data-name=signup-pro-control] button.btn[data-v-0ef37ba8] {
    background-color: transparent;
    border: none
}

.usermenu-dropdown div[data-name=signout-control][data-v-0ef37ba8] {
    margin: 1.3125rem -1.3125rem -1.3125rem;
    background-color: #fafafa
}

.usermenu-dropdown div[data-name=signout-control] button.btn[data-v-0ef37ba8] {
    text-align: center
}

.empty-thumbnail[data-v-0ef37ba8] {
    background: #e6e8f0;
    color: #646873;
    border-radius: 50%;
    text-align: center
}

.fade-enter-active[data-v-6c349158],
.fade-leave-active[data-v-6c349158] {
    transition: opacity .3s
}

.fade-enter[data-v-6c349158],
.fade-leave-to[data-v-6c349158] {
    opacity: 0
}

.backdrop[data-v-6c349158] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, .3)
}

.row[data-v-6c349158],
[class*=col][data-v-6c349158] {
    margin: 0;
    padding: 0
}

.mobile-usermenu[data-v-6c349158] {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #fff;
    padding: 1.25rem;
    box-shadow: 0 0 6.25rem 0 rgba(0, 0, 0, .1);
    z-index: 31;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    overflow-y: auto
}

.mobile-usermenu a[data-v-6c349158] {
    color: #323232;
    font-size: 1rem;
    font-weight: 500
}

.mobile-usermenu.opened[data-v-6c349158] {
    transform: translateX(0)
}

.mobile-usermenu .header[data-v-6c349158] {
    text-align: right;
    padding-bottom: 1.25rem
}

.mobile-usermenu .header button[data-v-6c349158] {
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent
}

.mobile-usermenu .body div[data-name=user][data-v-6c349158] {
    padding-bottom: 1.25rem;
    border-bottom: .0625rem solid #f2f2f2
}

.mobile-usermenu .body div[data-name=user] div[data-name=user-info][data-v-6c349158] {
    text-align: left;
    cursor: pointer
}

.mobile-usermenu .body div[data-name=user] div[data-name=user-info] h4[data-v-6c349158],
.mobile-usermenu .body div[data-name=user] div[data-name=user-info] p[data-v-6c349158] {
    margin: 0
}

.mobile-usermenu .body div[data-name=user] div[data-name=user-info] h4 .new-feature-badge[data-v-6c349158],
.mobile-usermenu .body div[data-name=user] div[data-name=user-info] p .new-feature-badge[data-v-6c349158] {
    display: inline-block;
    vertical-align: top;
    width: .3125rem;
    height: .3125rem;
    margin: .3125rem .125rem 0
}

.mobile-usermenu .body div[data-name=user] div[data-name=user-info] h4[data-v-6c349158] {
    margin-bottom: .125rem;
    line-height: 1.57;
    font-size: 1rem
}

.mobile-usermenu .body div[data-name=user] div[data-name=user-info] p[data-v-6c349158] {
    color: #737373;
    line-height: 1.67;
    font-size: .875rem
}

.mobile-usermenu .body div[data-name=user] div[data-name=user-info] .angle-icon[data-v-6c349158] {
    margin: -.0625rem 0 .0625rem .1875rem
}

.mobile-usermenu .body div[data-name=user] div[data-name=user-profile] .user-profile-picture[data-v-6c349158] {
    width: 2.75rem;
    height: 2.75rem
}

.mobile-usermenu .body div[data-name=user] div[data-name=provider-review][data-v-6c349158] {
    margin-top: 1rem;
    text-align: left
}

.mobile-usermenu .body div[data-name=user] div[data-name=provider-review]>div[data-v-6c349158] {
    display: inline-block;
    color: #737373;
    margin-left: 1rem;
    font-size: .875rem
}

.mobile-usermenu .body div[data-name=user] div[data-name=provider-review]>div[data-v-6c349158]:first-child {
    margin-left: 0
}

.mobile-usermenu .body div[data-name=user] div[data-name=provider-review]>div strong[data-v-6c349158] {
    margin-left: .25rem;
    color: #323232;
    font-size: 1rem;
    font-weight: 500
}

.mobile-usermenu .body div[data-name=user] .user-controll[data-v-6c349158] {
    margin-top: 1.5rem
}

.mobile-usermenu .body div[data-name=user] .user-controll .row[data-v-6c349158] {
    gap: 0 .5rem
}

.mobile-usermenu .body nav>ul[data-v-6c349158] {
    padding: .75rem 0
}

.mobile-usermenu .body nav .user-menu[data-v-6c349158] {
    border-bottom: .0625rem solid #f2f2f2
}

.mobile-usermenu .body ul[data-v-6c349158] {
    padding: 0;
    margin: 0
}

.mobile-usermenu .body ul li[data-v-6c349158] {
    line-height: 1.57;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    padding: .75rem 0
}

.mobile-usermenu .body ul li .menu-title.show-dot[data-v-6c349158] {
    position: relative
}

.mobile-usermenu .body ul li .menu-title.show-dot[data-v-6c349158]:after {
    content: "";
    position: absolute;
    top: .125rem;
    right: -.5rem;
    background-color: #fa5963;
    width: .375rem;
    height: .375rem;
    border-radius: 50%
}

.mobile-usermenu .body ul li.change-user-type[data-v-6c349158] {
    padding: 1rem 0
}

.mobile-usermenu .body ul li.change-user-type img[data-v-6c349158] {
    width: .6875rem;
    margin-left: .25rem;
    margin-top: -.125rem
}

.mobile-usermenu .body ul li .badge[data-v-6c349158],
.mobile-usermenu .body ul li span[data-name=menu-title][data-v-6c349158] {
    vertical-align: middle
}

.mobile-usermenu .body ul li .badge.menu-badge[data-v-6c349158],
.mobile-usermenu .body ul li span[data-name=menu-title].menu-badge[data-v-6c349158] {
    position: relative
}

.mobile-usermenu .body ul li .badge.menu-badge[data-v-6c349158]:after,
.mobile-usermenu .body ul li span[data-name=menu-title].menu-badge[data-v-6c349158]:after {
    content: "";
    position: absolute;
    top: .125rem;
    right: -.75rem;
    background-color: #ff3131;
    width: .375rem;
    height: .375rem;
    border-radius: 50%
}

.mobile-usermenu .body ul li span[data-name=menu-title][data-v-6c349158] {
    position: relative
}

.mobile-usermenu .body ul li .badge[data-v-6c349158] {
    font-size: .625rem;
    padding: 0 .375rem;
    line-height: 1.6
}

.mobile-usermenu .body ul li div[class*=col][data-name=menu-value][data-v-6c349158] {
    text-align: right
}

.mobile-usermenu .body ul .router-link-active>.hidden[data-v-6c349158] {
    display: none
}

.badge-count[data-v-6c349158] {
    border-radius: 50px;
    padding: 0 .375rem;
    margin-left: .25rem;
    background-color: #fa5963;
    font-size: .625rem;
    font-weight: 400;
    line-height: 1rem
}

.gnb-link.is-new[data-v-6c349158],
.lnb-link.is-new[data-v-6c349158] {
    position: relative;
    padding-right: 2.375rem
}

.gnb-link.is-new[data-v-6c349158]:after,
.lnb-link.is-new[data-v-6c349158]:after {
    margin-top: -.625rem;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 2.125rem;
    height: 1.25rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0iI0ZGRjBGMSIgd2lkdGg9IjM0IiBoZWlnaHQ9IjIwIiByeD0iNCIvPjxwYXRoIGQ9Ik02Ljk3IDE0aDEuMXYtMy40N2MwLS44LS4wOS0xLjY1LS4xNS0yLjQxaC4wNWwuNzcgMS41NEwxMS4xOCAxNGgxLjE5VjYuNjNoLTEuMXYzLjQ0YzAgLjguMDkgMS42OS4xNSAyLjQ1aC0uMDVsLS43Ny0xLjU2LTIuNDQtNC4zM0g2Ljk3VjE0em03LjE0IDBoNC40NnYtLjk4aC0zLjN2LTIuMzhoMi43di0uOThoLTIuN1Y3LjYxaDMuMTl2LS45OGgtNC4zNXptNi41NiAwaDEuNGwuOTctNC4wOWMuMTItLjU4LjI0LTEuMTMuMzUtMS42OWguMDRjLjEuNTYuMjEgMS4xMS4zNCAxLjY5bC45OSA0LjA5aDEuNDNsMS40NS03LjM3aC0xLjExbC0uNyAzLjg0Yy0uMTIuNzctLjI1IDEuNTYtLjM3IDIuMzZoLS4wNWMtLjE3LS44LS4zMy0xLjU5LS41LTIuMzZsLS45NS0zLjg0aC0xLjAzbC0uOTUgMy44NGMtLjE3Ljc4LS4zNCAxLjU3LS41IDIuMzZoLS4wNGMtLjEzLS43OS0uMjYtMS41OC0uMzktMi4zNmwtLjY5LTMuODRoLTEuMTlsMS41IDcuMzd6IiBmaWxsPSIjRkY1ODYxIi8+PC9zdmc+) no-repeat 50%
}

[data-name=change-user-type] button.btn[data-v-6c349158],
[data-name=logout] button.btn[data-v-6c349158] {
    width: 100%;
    height: auto;
    border-color: #f2f2f2;
    color: #737373;
    padding: .375rem 0;
    font-size: .875rem;
    line-height: 1.63
}

.global-navigation-bar[data-v-3a2c0d3c] {
    position: relative;
    z-index: 1020;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 3.625rem;
    text-align: center;
    padding: 1rem;
    border-bottom: .0625rem solid #f2f2f2
}

.fixed .global-navigation-bar[data-v-3a2c0d3c] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff
}

.hide-border-bottom .global-navigation-bar[data-v-3a2c0d3c],
.profile .global-navigation-bar[data-v-3a2c0d3c],
:not(.is-home).has-lnb .global-navigation-bar[data-v-3a2c0d3c] {
    border-bottom: none
}

@media (min-width:992px) {
    .global-navigation-bar[data-v-3a2c0d3c] {
        height: 4.5rem;
        padding: 0;
        border-bottom: none
    }
}

.mobile-header[data-v-3a2c0d3c] {
    width: 100%;
    display: flex;
    align-items: center
}

.mobile-header .mobile-header-col[data-v-3a2c0d3c] {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.mobile-header .mobile-header-col.left[data-v-3a2c0d3c] {
    justify-content: flex-start
}

.mobile-header .mobile-header-col.right[data-v-3a2c0d3c] {
    justify-content: flex-end
}

.mobile-header .logo img[data-v-3a2c0d3c] {
    height: 1.625rem
}

.mobile-header .notification[data-v-3a2c0d3c] {
    margin-left: 1.25rem
}

.desktop-header[data-v-3a2c0d3c] {
    width: 60.625rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.desktop-header .left-section[data-v-3a2c0d3c],
.desktop-header .right-section[data-v-3a2c0d3c] {
    display: flex;
    align-items: center
}

.desktop-header .left-section-item[data-v-3a2c0d3c] {
    margin-left: 1.125rem;
    font-weight: 500
}

.desktop-header .left-section-item[data-v-3a2c0d3c]:first-child {
    margin-left: 0
}

.desktop-header .logo[data-v-3a2c0d3c] {
    margin-right: 1.875rem
}

.desktop-header .logo img[data-v-3a2c0d3c] {
    height: 1.6875rem
}

.desktop-header .right-section[data-v-3a2c0d3c] {
    justify-content: flex-end
}

.desktop-header .right-section-item[data-v-3a2c0d3c] {
    margin-left: 1rem
}

.desktop-header .right-section-item[data-v-3a2c0d3c]:first-child {
    margin-left: 0
}

.desktop-header .right-section-item .gnb-link[data-v-3a2c0d3c] {
    font-size: .875rem
}

.desktop-header .nav-list[data-v-3a2c0d3c] {
    display: flex;
    margin: 0
}

.desktop-header .nav-item[data-v-3a2c0d3c] {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.desktop-header .nav-item.show-dot[data-v-3a2c0d3c]:after {
    content: "";
    position: absolute;
    top: 0;
    right: -.5rem;
    background-color: #ff3131;
    width: .375rem;
    height: .375rem;
    border-radius: 50%
}

.desktop-header .nav-item.show-dot.gnb-service-searcher[data-v-3a2c0d3c] {
    position: absolute;
    width: 13.75rem;
    top: -50%
}

.desktop-header .badge-count[data-v-3a2c0d3c] {
    border-radius: 50px;
    padding: 0 .375rem;
    margin-left: .25rem;
    background-color: #fa5963;
    font-size: .625rem;
    font-weight: 400;
    line-height: 1rem
}

.desktop-header .pro-signup-btn[data-v-3a2c0d3c] {
    width: 5rem;
    padding: .40625rem 0;
    border-radius: 6px;
    font-size: .875rem
}

.gnb-link.is-new[data-v-3a2c0d3c] {
    position: relative;
    padding-right: 1.5rem
}

.gnb-link.is-new[data-v-3a2c0d3c]:after {
    margin-top: -.625rem;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1.25rem;
    height: 1.25rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCBmaWxsPSIjRkZGMEYxIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHJ4PSI0Ii8+PHBhdGggZD0iTTYuOCAxNC4zNDRoMS4zMlYxMC4xOGMwLS45Ni0uMTA4LTEuOTgtLjE4LTIuODkySDhsLjkyNCAxLjg0OCAyLjkyOCA1LjIwOGgxLjQyOFY1LjVoLTEuMzJ2NC4xMjhjMCAuOTYuMTA4IDIuMDI4LjE4IDIuOTRoLS4wNmwtLjkyNC0xLjg3Mkw4LjIyOCA1LjVINi44djguODQ0eiIgZmlsbD0iI0ZGNTg2MSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjwvc3ZnPg==) no-repeat 50%
}

.local-navigation-bar[data-v-07845558] {
    position: relative;
    height: 2.75rem;
    background-color: #fff;
    border-bottom: .0625rem solid #f2f2f2
}

.local-navigation-bar.fixed[data-v-07845558] {
    position: fixed;
    width: 100%
}

.local-navigation-bar.hide[data-v-07845558] {
    transform: translateY(-3.625rem);
    transition: transform .5s
}

.fixed .local-navigation-bar[data-v-07845558] {
    top: 3.625rem
}

.home .local-navigation-bar[data-v-07845558] {
    border-bottom: none
}

.local-navigation-bar ul[data-v-07845558] {
    gap: 0 .75rem;
    height: 100%;
    padding: 0 1rem;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.local-navigation-bar ul[data-v-07845558]:after {
    content: "";
    padding-right: 1rem
}

.local-navigation-bar ul>li[data-v-07845558] {
    flex: 0 0 auto;
    scroll-snap-align: start;
    scroll-margin: 0 0 0 1rem;
    scroll-snap-margin: 0 0 0 1rem
}

.local-navigation-bar ul[data-v-07845558]::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none
}

.local-navigation-bar ul li[data-v-07845558] {
    height: 100%
}

.local-navigation-bar ul li .btn[data-v-07845558] {
    display: inline-flex;
    align-items: center;
    padding: 0 .25rem;
    border: 0;
    height: 100%;
    border-bottom: .125rem solid transparent
}

.local-navigation-bar ul li .btn.router-link-exact-active[data-v-07845558] {
    border-bottom-color: #00c7ae;
    border-radius: 0;
    color: #00c7ae
}

.local-navigation-bar ul li .btn span[data-v-07845558] {
    display: block;
    margin-top: -.125rem
}

.search-pro-header-mobile-wrapper[data-v-76ec24c4] {
    position: fixed;
    width: 100%;
    top: 6.375rem
}

.search-pro-header-mobile-wrapper.fixed[data-v-76ec24c4] {
    top: 0
}

.search-pro-header-mobile-wrapper.over-gnb[data-v-76ec24c4] {
    visibility: hidden;
    z-index: 1021
}

#app-header[data-v-50506024] {
    position: sticky;
    top: 0;
    height: 3.625rem;
    background-color: #fff
}

@media (min-width:992px) {
    #app-header[data-v-50506024] {
        border-bottom: .0625rem solid #f2f2f2;
        height: 4.5rem
    }
}

#app-header.hide-border-bottom[data-v-50506024] {
    border-bottom: none
}

.has-lnb #app-header[data-v-50506024] {
    position: relative;
    height: 6.375rem
}

.global-header[data-v-50506024] {
    z-index: 1020;
    display: block
}

.search-icon-transition-enter-active,
.search-icon-transition-leave-active {
    transition: opacity .1s ease
}

.search-icon-transition-enter,
.search-icon-transition-leave-to {
    opacity: 0
}

.footer-container[data-v-2afc0573] {
    background: #fff;
    border-top: .0625rem solid #e1e1e1;
    padding: 1.3125rem 0 2.5rem
}

@media (max-width:991.98px) {
    .footer-container[data-v-2afc0573] {
        padding: 1.25rem 1.25rem 1.90625rem
    }
}

.footer-container .text[data-v-2afc0573] {
    margin: 0;
    font-size: .75rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373
}

.footer-container .text-middle[data-v-2afc0573] {
    margin: 0;
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373
}

.footer-container .term[data-v-2afc0573] {
    font-weight: 500;
    margin-right: 1.875rem
}

.footer-container .term[data-v-2afc0573]:last-child {
    margin-right: 0
}

.footer-container .title[data-v-2afc0573] {
    font-weight: 500;
    color: #323232
}

@media (max-width:991.98px) {
    .footer-container .title[data-v-2afc0573] {
        font-size: 1rem
    }
}

.footer-container .badge-list[data-v-2afc0573] {
    padding-bottom: 2.5rem
}

@media (max-width:991.98px) {
    .footer-container .badge-list[data-v-2afc0573] {
        padding-bottom: 0;
        padding-top: 1.25rem
    }
}

.footer-container .category[data-v-2afc0573] {
    padding-bottom: .3125rem;
    display: block;
    position: relative
}

@media (max-width:991.98px) {
    .footer-container .category[data-v-2afc0573] {
        width: 100%;
        padding: .8125rem 0;
        font-size: 1rem
    }
}

.footer-container .sr-only[data-v-2afc0573] {
    position: absolute !important
}

.footer-container-row[data-v-2afc0573] {
    display: block;
    max-width: 60.625rem;
    padding: 0
}

@media (max-width:991.98px) {
    .footer-container-row[data-v-2afc0573] {
        text-align: center
    }
}

.footer-container-row .col-content[data-v-2afc0573] {
    display: inline-block;
    vertical-align: top
}

.footer-container-row .col-content.right[data-v-2afc0573] {
    float: right
}

@media (max-width:991.98px) {
    .footer-container-row .col-content.right[data-v-2afc0573] {
        float: none
    }
}

.footer-container-row .col-content.margin-bottom[data-v-2afc0573] {
    margin-bottom: 1.875rem
}

@media (max-width:991.98px) {
    .footer-container-row .col-content.margin-bottom[data-v-2afc0573] {
        margin-bottom: 1.25rem
    }
}

@media (max-width:991.98px) {
    .footer-container-row .col-content[data-v-2afc0573] {
        display: block
    }

    .footer-container-row .col-content.right[data-v-2afc0573] {
        position: relative;
        right: 0
    }
}

.footer-container-row .col-content p[data-v-2afc0573] {
    padding-bottom: 1.875rem
}

@media (max-width:991.98px) {
    .footer-container-row .col-content p[data-v-2afc0573] {
        padding-bottom: 1.0625rem
    }
}

.footer-container-row .col-content p.contact[data-v-2afc0573] {
    padding-bottom: .1875rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    color: #00c7ae
}

.footer-container-row .col-content .download[data-v-2afc0573] {
    display: inline-block;
    width: 8.5rem;
    height: 2.25rem;
    background-color: #00c7ae;
    border-radius: 1.28125rem;
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: normal;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: .5rem;
    text-align: center;
    border: none
}

.footer-container-row .col-content .download[data-v-2afc0573]:last-child {
    margin: 0
}

.footer-container-row .col-content .download img[data-v-2afc0573] {
    padding-right: .375rem;
    margin-top: -.125rem
}

.footer-container-row .col-content .content-list[data-v-2afc0573] {
    margin-bottom: 0
}

.footer-container-row .col-content .content-list>li[data-v-2afc0573] {
    vertical-align: top;
    display: inline-block;
    min-width: 5.9375rem
}

.footer-container-row .col-content .content-list>li.open-padding[data-v-2afc0573] {
    padding-bottom: .9375rem
}

@media (max-width:991.98px) {
    .footer-container-row .col-content .content-list>li[data-v-2afc0573] {
        display: block;
        border-bottom: .0625rem solid #e1e1e1
    }
}

@media (max-width:991.98px) {
    .footer-container-row .col-content .content-list>li p[data-v-2afc0573] {
        padding: .8125rem 0
    }
}

.footer-container-row .col-content .content-list>li img[data-v-2afc0573] {
    position: absolute;
    right: 1.25rem;
    padding-top: .1875rem
}

@media (max-width:991.98px) {
    .footer-container-row .col-content .content-list>li img.open[data-v-2afc0573] {
        transform: rotate(180deg)
    }
}

.footer-container-row .col-content .content-list>li span[data-v-2afc0573] {
    display: block
}

.footer-container-row .col-content .content-list>li .new-badge[data-v-2afc0573] {
    width: .75rem;
    height: .75rem;
    margin-left: .125rem;
    padding: 0 .1875rem;
    background-color: #fa5963;
    font-size: .5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    border-radius: 8px;
    display: inline;
    position: static
}

@media (max-width:991.98px) {
    .footer-container-row .col-content .content-list>li .new-badge[data-v-2afc0573] {
        position: absolute;
        top: 1.25rem;
        display: inline-table;
        margin-left: .25rem
    }
}

.footer-container-row .col-content .footer-badge[data-v-2afc0573] {
    padding: 0 .375rem
}

.footer-container-row .col-content .footer-badge[data-v-2afc0573]:first-child {
    padding-left: 0
}

.footer-container-row .col-content .footer-badge[data-v-2afc0573]:last-child {
    padding-right: 0
}

@media (max-width:991.98px) {
    .footer-container-row .col-content .footer-badge[data-v-2afc0573] {
        padding: 0 .875rem
    }
}

.footer-container-row .col-content .col-content-guide[data-v-2afc0573] {
    margin: 0
}

.footer-container-row .col-content .col-content-guide li[data-v-2afc0573] {
    display: block;
    padding: 0;
    font-size: .75rem
}

.footer-container-row .col-content .col-content-list-term[data-v-2afc0573] {
    line-height: 1.125rem;
    padding-right: 6rem;
    padding-bottom: .5rem
}

@media (max-width:991.98px) {
    .footer-container-row .col-content .col-content-list-term[data-v-2afc0573] {
        padding-right: 0;
        padding-bottom: 0;
        margin: 1.25rem 0
    }
}

.footer-container-row .col-content .col-content-list-term .term[data-v-2afc0573] {
    font-weight: 500
}

.footer-container-row .col-content .col-content-list-term .term-text[data-v-2afc0573] {
    display: inline-block;
    font-weight: 400
}

@media (max-width:991.98px) {
    .footer-container-row .col-content .col-content-list-term .term-text[data-v-2afc0573] {
        padding: 0 1.6875rem
    }
}

@media (min-width:768px) {
    .terms[data-v-2afc0573] {
        padding-top: 1.25rem
    }
}

.term-container[data-v-2afc0573] {
    width: 100%;
    display: flex;
    align-items: flex-end
}

@media (max-width:991.98px) {
    .term-container[data-v-2afc0573] {
        display: block
    }
}

.term-content[data-v-2afc0573] {
    flex: 1
}