.nudge[data-v-7a10991e] {
    background-color: rgba(50, 50, 50, .9);
    color: #fff;
    font-size: .875rem;
    letter-spacing: -.01875rem;
    height: 2.75rem;
    padding: .75rem 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 2
}

@media (min-width:768px) {
    .nudge[data-v-7a10991e] {
        top: 2.4375rem;
        left: 8.25rem;
        width: 18.75rem;
        justify-content: center
    }
}

.nudge-slide-mobile-enter-active[data-v-7a10991e],
.nudge-slide-pc-enter-active[data-v-7a10991e] {
    transition: transform .5s ease-out
}

.nudge-slide-mobile-leave-active[data-v-7a10991e],
.nudge-slide-pc-leave-active[data-v-7a10991e] {
    transition: transform .5s ease-in
}

.nudge-slide-mobile-enter[data-v-7a10991e],
.nudge-slide-mobile-leave-to[data-v-7a10991e] {
    transform: translateY(-3.75rem)
}

.nudge-slide-pc-enter[data-v-7a10991e],
.nudge-slide-pc-leave-to[data-v-7a10991e] {
    transform: translateY(-5.25rem)
}

.indicator[data-v-e0e63576] {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00c7ae;
    opacity: .2
}

.profile-badges[data-v-2608d7d0] {
    width: 100%;
    font-size: .75rem;
    gap: .25rem
}

.profile-badges .review-rate[data-v-2608d7d0],
.profile-badges[data-v-2608d7d0] {
    display: flex;
    height: 1.375rem;
    align-items: center
}

.profile-badges .review-rate.is-profile[data-v-2608d7d0] {
    cursor: pointer
}

.profile-badges .review-rate>img[data-v-2608d7d0] {
    display: block;
    margin: .125rem .125rem .125rem 0
}

.profile-badges .review-rate .rate[data-v-2608d7d0] {
    font-size: .875rem;
    font-weight: 700;
    margin-right: .125rem
}

.profile-badges .badge-item[data-v-2608d7d0] {
    display: inline-block;
    padding: .125rem .375rem;
    background-color: #f2f2f2;
    border-radius: .25rem;
    font-weight: 500
}

.tooltip-outer[data-v-2608d7d0] {
    opacity: 1
}

.tooltip-outer[x-placement^=bottom][data-v-2608d7d0] {
    margin-top: .0625rem
}

.tooltip-outer[data-v-2608d7d0]>.tooltip-inner {
    padding: .5rem .75rem;
    font-size: .875rem;
    min-width: 14.75rem;
    margin-left: 1rem;
    text-align: center;
    background: #5080fa;
    border-radius: 6px
}

@media (min-width:992px) {
    .tooltip-outer[data-v-2608d7d0]>.tooltip-inner {
        margin-left: .5rem
    }
}

.tooltip-outer[data-v-2608d7d0]>.arrow:before {
    border-width: 0 .5rem .625rem;
    border-top-color: #5080fa;
    border-bottom-color: #5080fa
}

.pro-info[data-v-2e7e0be3] {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    padding-right: .25rem
}

@media (min-width:768px) {
    .pro-info[data-v-2e7e0be3] {
        padding-right: .5rem
    }
}

.pro-name[data-v-2e7e0be3] {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .25rem
}

@media (min-width:768px) {
    .pro-name[data-v-2e7e0be3] {
        font-size: 1.125rem
    }
}

.pro-introduction[data-v-2e7e0be3] {
    font-size: .75rem;
    color: #737373;
    margin-bottom: .375rem
}

.pro-profile-picture[data-v-2e7e0be3] {
    width: 4rem;
    height: 4rem;
    border-radius: 12px
}

.pro-extra-info[data-v-2e7e0be3] {
    font-size: .6875rem;
    color: #737373;
    margin-top: .625rem
}

@media (min-width:768px) {
    .pro-extra-info[data-v-2e7e0be3] {
        margin-top: .75rem
    }
}

.pro-extra-info .avg-response-time[data-v-2e7e0be3]:before {
    content: "쨌";
    margin: 0 .25rem
}

.pro-extra-info .avg-response-time.no-career[data-v-2e7e0be3]:before {
    content: "";
    margin: 0
}

.quote-avatars[data-v-16fd2b8f] {
    display: flex;
    height: 2.75rem
}

.quote-avatars>.waiting[data-v-16fd2b8f] {
    display: inline-flex;
    background: #fafafa;
    border-radius: .25rem;
    font-size: .875rem;
    color: #737373;
    align-items: center
}

.quote-avatars>.waiting>.icon-waiting[data-v-16fd2b8f] {
    margin-right: .25rem
}

.quote-avatars>.waiting>.icon-empty[data-v-16fd2b8f] {
    margin-left: .75rem;
    margin-right: .75rem
}

.avatar-profile[data-v-16fd2b8f] {
    display: inline-flex;
    width: 2.75rem;
    height: 2.75rem;
    position: relative
}

.avatar-profile.checked[data-v-16fd2b8f]:after {
    content: "";
    position: absolute;
    right: -.1875rem;
    bottom: -.1875rem;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTc0LTc1aDkxMHY1ODZILTc0eiIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgZmlsbD0iIzAwQzdBRSIgcng9IjkiLz48cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNSA4LjY4OEw3Ljg4IDExLjVsNS4xMi01Ii8+PC9nPjwvZz48L3N2Zz4=)
}

.avatar-profile.unread[data-v-16fd2b8f]:after {
    content: "";
    position: absolute;
    top: -.1875rem;
    right: -.1875rem;
    width: .375rem;
    height: .375rem;
    background: #fa5963;
    border-radius: 50%
}

.avatar-profile>.icon-waiting[data-v-16fd2b8f],
.avatar-profile>.more-count[data-v-16fd2b8f],
.avatar-profile>img[data-v-16fd2b8f] {
    width: 100%;
    height: 100%;
    border-radius: .625rem;
    border: .0625rem solid #f2f2f2
}

.avatar-profile>.icon-waiting[data-v-16fd2b8f] {
    background: #fafafa;
    border-color: #fafafa
}

.avatar-profile>.more-count[data-v-16fd2b8f] {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .5)
}

.avatar-profile>.more-count>span[data-v-16fd2b8f] {
    color: #fff;
    font-weight: 700;
    text-align: center
}

.avatar-profile>.more-count>span[data-v-16fd2b8f]:before {
    content: "+"
}

.recent-login[data-v-25ee22a8] {
    text-align: center;
    color: #737373
}

.new-review-average[data-v-3da91626] {
    display: inline-block
}

.new-review-average.no-star img[data-v-3da91626] {
    -o-object-fit: cover;
    object-fit: cover
}

.new-review-average.no-star span.star[data-v-3da91626] {
    font-weight: 500;
    color: #999
}

img[data-v-3da91626] {
    width: 1rem;
    margin-right: .25rem;
    margin-bottom: .25rem;
    display: initial
}

@media (max-width:767.98px) {
    img[data-v-3da91626] {
        margin-right: .4rem;
        margin-bottom: 0
    }
}

.content[data-v-3da91626] {
    margin: 0;
    display: inline-block
}

@media (max-width:767.98px) {
    .content[data-v-3da91626] {
        vertical-align: middle
    }
}

.content.star[data-v-3da91626] {
    color: #323232;
    font-weight: 500
}

.content.review[data-v-3da91626] {
    margin-left: .14rem;
    color: #999
}

span[data-v-87384d86] {
    font-size: 1rem;
    vertical-align: middle;
    color: #737373
}

span.bulkhead[data-v-87384d86] {
    display: inline-block;
    width: .0625rem;
    height: .625rem;
    margin: 0 .5rem;
    background-color: #737373
}

.star-icon[data-v-87384d86] {
    width: .875rem;
    margin-top: -.1875rem
}

ul[data-v-c2d4a85c] {
    margin: 0 0 1.75rem;
    padding: 0;
    font-size: 0;
    border-top: .0625rem solid #f2f2f2
}

ul li[data-v-c2d4a85c] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    height: 2.875rem;
    line-height: 2.875rem;
    position: relative;
    padding: 0 1rem;
    display: inline-block;
    font-size: .875rem;
    letter-spacing: -.025rem;
    font-weight: 400;
    color: #323232
}

ul li .bottom-border[data-v-c2d4a85c] {
    background: #f2f2f2;
    position: absolute;
    height: .0625rem;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    margin: 0 1rem
}

ul li[data-v-c2d4a85c]:hover {
    background: #f2f2f2
}

@media (max-width:767.98px) {
    ul li[data-v-c2d4a85c]:hover {
        background: inherit
    }
}

@media (max-width:767.98px) {
    ul li[data-v-c2d4a85c]:active {
        background: #f2f2f2
    }
}

ul li.parent[data-v-c2d4a85c]:after {
    content: "";
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAAXNSR0IArs4c6QAAAHZJREFUGBmNjzEOgCAMACkPYuE7Tj6MyefA4nNckDOFaAS0CaFp72gxpkRKyXH/icpakpxzLPfyJcIo66z3fheRtRTCTFYpwOK0ITRijEdPnvWuB3pArwYsbaQmgKzNSpRqXtbb7uxLpFllcv3TQ6I+DGTOCDgB4Ztk5SkEZ/MAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    width: .875rem;
    height: .875rem;
    top: 1.125rem;
    right: 1rem
}

ul li.parent:not(.disabled).expanded[data-v-c2d4a85c] {
    background-color: #f2f2f2
}

ul li.parent:not(.disabled).expanded[data-v-c2d4a85c]:after {
    transform: scaleY(-1)
}

ul li[data-v-c2d4a85c]:last-child {
    border: none
}

ul li.level1 i[data-v-c2d4a85c] {
    position: absolute;
    top: 1rem;
    right: 3.125rem
}

ul li.level2[data-v-c2d4a85c] {
    text-indent: 1rem
}

ul li:not(.disabled).selected[data-v-c2d4a85c] {
    color: #00c7ae
}

ul li:not(.disabled).selected[data-v-c2d4a85c]:after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgMTEuNjUybDQuODgzIDQuNjk2TDE4LjU2NSA4Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    top: .6875rem;
    right: 1rem
}

ul li.disabled[data-v-c2d4a85c] {
    color: #b5b5b5;
    cursor: not-allowed;
    pointer-events: none
}

ul li .loading-indicator[data-v-c2d4a85c] {
    position: absolute;
    top: 1rem;
    right: 2.5rem
}

@media (max-width:767.98px) {
    .search-area-modal.mobile .modal .modal-dialog.mobile-full-modal[data-v-c2d4a85c] {
        height: 100%
    }
}

.search-area-modal.mobile .modal .modal-dialog.mobile-full-modal .modal-content[data-v-c2d4a85c] {
    border: none
}

@media (max-width:767.98px) {
    .search-area-modal.mobile .modal .modal-dialog.mobile-full-modal .modal-content[data-v-c2d4a85c] {
        height: 100%
    }
}

.search-area-modal.is-loading .modal .modal-dialog ul li[data-v-c2d4a85c]:hover {
    background: inherit
}

@media (max-width:767.98px) {
    .search-area-modal .modal-dialog[data-v-c2d4a85c] {
        max-width: 100%;
        margin: 0
    }
}

.search-area-modal .modal-dialog .modal-content[data-v-c2d4a85c] {
    border: none;
    background-clip: initial
}

.search-area-modal .modal-dialog .modal-content .modal-header[data-v-c2d4a85c] {
    padding: 1.75rem 1.75rem .5625rem
}

.search-area-modal .modal-dialog .modal-content .modal-header .modal-title[data-v-c2d4a85c] {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -.01875rem;
    margin: 0 auto;
    color: #2d2d2d;
    padding-left: 1.125rem;
    padding-top: .875rem
}

.search-area-modal .modal-dialog .modal-content .modal-body[data-v-c2d4a85c] {
    padding: 0
}

@media (max-width:767.98px) {
    .search-area-modal .modal-dialog .modal-content .modal-body[data-v-c2d4a85c] {
        height: auto;
        overflow-y: scroll
    }
}

.search-service-autocomplete[data-v-13d97ef1] {
    display: flex;
    flex-direction: column
}

.autocomplete-input[data-v-13d97ef1] {
    padding: .75rem .75rem .75rem 2.125rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2U9IiNBQkFFQkEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIuOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSI+PGNpcmNsZSBjeD0iNS44MzMiIGN5PSI1LjgzMyIgcj0iNS44MzMiLz48cGF0aCBkPSJNMTQgMTRMOS45NTYgOS45NTYiLz48L2c+PC9zdmc+);
    background-size: 1rem;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-position: .75rem .875rem;
    border: none;
    width: auto;
    margin: 0 1rem 1rem;
    background-color: #fafafa;
    height: 2.75rem
}

.autocomplete-input[data-v-13d97ef1]::-moz-placeholder {
    font-size: .875rem;
    color: #a9a9a9
}

.autocomplete-input[data-v-13d97ef1]:-ms-input-placeholder {
    font-size: .875rem;
    color: #a9a9a9
}

.autocomplete-input[data-v-13d97ef1]::placeholder {
    font-size: .875rem;
    color: #a9a9a9
}

.remove-button[data-v-13d97ef1] {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNLTczNy00MTdINDMzVjc1M0gtNzM3eiIvPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtb3BhY2l0eT0iLjQiIGQ9Ik0tNzM3LTQxN0g0MzNWNzUzSC03Mzd6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTS0zNjItMTQ3SDU4djYyMmgtNDIweiIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMzQgLTEzKSI+PHJlY3Qgd2lkdGg9IjM2NCIgaGVpZ2h0PSI0NCIgZmlsbD0iI0YyRjJGMiIgcng9IjgiLz48cGF0aCBkPSJNMzM0IDMxaDE4VjEzaC0xOHoiLz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzYgMTUpIj48Y2lyY2xlIGN4PSI3IiBjeT0iNyIgcj0iNyIgZmlsbD0iI0I1QjVCNSIvPjxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9Ii44MzUiIGQ9Ik00LjUgNC41bDUgNW0wLTVsLTUgNSIvPjwvZz48L2c+PC9nPjwvc3ZnPg==) no-repeat;
    border: none;
    width: 1.125rem;
    height: 1.125rem;
    position: absolute;
    right: 2.5rem;
    top: .8125rem
}

.no-result[data-v-13d97ef1] {
    text-align: center;
    margin: 0 1.75rem 4.125rem
}

.no-result h4[data-v-13d97ef1] {
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 700;
    color: #323232;
    margin: 1.5rem 0 .5rem
}

.no-result p[data-v-13d97ef1] {
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
    margin-bottom: .625rem
}

.no-result button[data-v-13d97ef1] {
    margin: .5rem .25rem;
    padding: .5rem .75rem;
    border-radius: 18px;
    border: .09375rem solid #e1e1e1;
    background-color: #fff;
    font-size: .75rem;
    line-height: normal;
    color: #323232
}

.category-badge[data-v-13d97ef1] {
    font-size: .75rem;
    color: #737373;
    padding: .125rem .5rem;
    border-radius: 12px;
    background-color: #f2f2f2
}

ul[data-v-13d97ef1] {
    margin: 0 0 1.75rem;
    padding: 0;
    font-size: 0;
    border-top: .0625rem solid #f2f2f2
}

ul li[data-v-13d97ef1] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    position: relative;
    padding: .75rem 1rem;
    display: inline-block;
    font-size: .875rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    color: #323232
}

ul li .bottom-border[data-v-13d97ef1] {
    background: #f2f2f2;
    position: absolute;
    height: .0625rem;
    bottom: 0;
    left: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    margin: 0 1rem
}

ul li[data-v-13d97ef1]:hover {
    background: #f2f2f2
}

@media (max-width:767.98px) {
    ul li[data-v-13d97ef1]:hover {
        background: inherit
    }
}

@media (max-width:767.98px) {
    ul li[data-v-13d97ef1]:active {
        background: #f2f2f2
    }
}

ul li.parent[data-v-13d97ef1]:after {
    content: "";
    position: absolute;
    width: .875rem;
    height: .875rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0iI0I1QjVCNSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTYuMTA3IDUuMjU3bC43MDcuNzA3LTcuNzc5IDcuNzc5LS43MDctLjcwN3oiLz48cGF0aCBkPSJNMS4yNTcgNS45NjRsLjcwNy0uNzA3IDcuNzc5IDcuNzc5LS43MDcuNzA3eiIvPjwvZz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    top: 1rem;
    right: 1rem
}

ul li.parent.expanded[data-v-13d97ef1] {
    background-color: #f2f2f2
}

ul li.parent.expanded[data-v-13d97ef1]:after {
    transform: scaleY(-1)
}

ul li[data-v-13d97ef1]:last-child {
    border: none
}

ul li.selected[data-v-13d97ef1] {
    color: #00c7ae
}

ul li.selected[data-v-13d97ef1]:after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgMTEuNjUybDQuODgzIDQuNjk2TDE4LjU2NSA4Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    top: .8125rem;
    right: 1.75rem
}

ul li.level1 i[data-v-13d97ef1] {
    position: absolute;
    top: 1rem;
    right: 3.125rem
}

ul li.level2[data-v-13d97ef1] {
    text-indent: 1rem
}

ul li.level3[data-v-13d97ef1] {
    text-indent: 2rem
}

ul li .loading-indicator[data-v-13d97ef1] {
    position: absolute;
    top: 1rem;
    right: 2.5rem
}

.search-suggestion .popular-recent-section[data-v-5f9e60ee] li.nav-item a.nav-link {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem
}

@media (min-width:768px) {
    .search-suggestion[data-v-5f9e60ee] {
        position: absolute;
        width: 100%;
        background-color: #fff;
        border: .0625rem solid #f2f2f2;
        border-top: none;
        border-bottom-right-radius: .375rem;
        border-bottom-left-radius: .375rem;
        z-index: 2
    }
}

.search-suggestion .suggestion-body[data-v-5f9e60ee] {
    overflow-y: scroll
}

@media (min-width:768px) {
    .search-suggestion .suggestion-body[data-v-5f9e60ee] {
        max-height: 15.5rem;
        height: unset;
        min-height: 12.25rem
    }
}

.search-suggestion .popular-recent-section[data-v-5f9e60ee] ul.nav-tabs {
    border-color: #f2f2f2
}

.search-suggestion .popular-recent-section[data-v-5f9e60ee] li.nav-item {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0
}

.search-suggestion .popular-recent-section[data-v-5f9e60ee] li.nav-item a.nav-link {
    text-align: center;
    font-weight: 500;
    border: none;
    color: #b5b5b5;
    padding: .75rem 0;
    outline: none
}

.search-suggestion .popular-recent-section[data-v-5f9e60ee] li.nav-item a.nav-link.active {
    color: #00c7ae
}

.search-suggestion .popular-recent-section .tab-pane[role=tabpanel] ul[data-v-5f9e60ee] {
    margin: 0
}

.search-suggestion .popular-recent-section .tab-pane[role=tabpanel] .created-at[data-v-5f9e60ee] {
    color: #b5b5b5;
    font-weight: 400
}

.search-suggestion .popular-recent-section .tab-pane[role=tabpanel] button.btn[data-v-5f9e60ee] {
    background-color: transparent;
    padding: 0 0 0 .75rem;
    height: auto;
    border: none;
    line-height: 0;
    margin-top: -.125rem
}

.search-suggestion .suggestion-contents[data-v-5f9e60ee] {
    min-height: 12.25rem
}

.search-suggestion .suggestion-contents .list[data-v-5f9e60ee] {
    margin: 0;
    background-color: #fff
}

.search-suggestion .suggestion-contents .item[data-v-5f9e60ee] {
    padding: .75rem 1rem;
    font-size: .875rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer
}

.search-suggestion .suggestion-contents .item[data-v-5f9e60ee]:hover {
    background-color: #fafafa
}

.search-suggestion .recent-contents .item[data-v-5f9e60ee] {
    justify-content: space-between
}

.search-suggestion .recent-contents .service-name[data-v-5f9e60ee] {
    padding-right: .5rem
}

.search-suggestion .recent-contents .created-at[data-v-5f9e60ee] {
    color: #b5b5b5;
    margin-right: .75rem
}

.search-suggestion .recent-contents .no-recent-results[data-v-5f9e60ee] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    color: #b5b5b5;
    margin-top: 7.5rem;
    height: unset
}

@media (min-width:768px) {
    .search-suggestion .recent-contents .no-recent-results[data-v-5f9e60ee] {
        height: 12.25rem;
        margin-top: 0
    }
}

.search-suggestion .search-contents .title[data-v-5f9e60ee] {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1rem .5rem;
    margin: 0
}

.search-suggestion .search-contents .title strong[data-v-5f9e60ee] {
    color: #00c7ae
}

.search-suggestion .search-contents .search-icon[data-v-5f9e60ee] {
    margin-right: .5rem
}

.search-suggestion .search-contents .service-name[data-v-5f9e60ee] strong {
    font-weight: 500
}

.search-suggestion .search-contents .cat-badge[data-v-5f9e60ee] {
    background-color: #f2f2f2;
    width: 3.5625rem;
    height: 1.375rem;
    margin-right: .5rem;
    padding: .125rem .375rem;
    border-radius: 4px;
    font-size: .75rem;
    font-weight: 500
}

.search-suggestion .search-contents .cat-arrow-icon[data-v-5f9e60ee] {
    height: .75rem;
    margin: 0 .125rem
}

.search-suggestion .no-results-contents[data-v-5f9e60ee] {
    padding: 7.5rem .75rem;
    font-size: .875rem;
    color: #b5b5b5;
    text-align: center
}

.search-suggestion .no-results-contents strong[data-v-5f9e60ee] {
    color: #00c7ae;
    font-weight: 500
}

@media (min-width:768px) {
    .search-suggestion .no-results-contents[data-v-5f9e60ee] {
        padding: 3.5rem .75rem
    }
}

.search-suggestion .no-results-contents .popular-service[data-v-5f9e60ee] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0
}

.search-suggestion .no-results-contents .popular-service li[data-v-5f9e60ee] {
    margin: .25rem;
    padding: .375rem .75rem;
    border-radius: 24px;
    border: .0625rem solid #e1e1e1;
    height: 2.25rem
}

.search-suggestion .suggestion-footer[data-v-5f9e60ee] {
    display: block;
    padding: .75rem 1rem;
    border-top: .0625rem solid #f2f2f2;
    justify-content: space-between;
    color: #737373;
    font-size: .875rem;
    font-weight: 500
}

.search-suggestion .suggestion-footer>div[data-v-5f9e60ee] {
    cursor: pointer
}

.search-suggestion .flex[data-v-5f9e60ee] {
    display: flex;
    align-items: center
}

.search-suggestion .text-ellipsis[data-v-5f9e60ee] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.service-searcher[data-v-307d1eb5] {
    position: relative
}

@media (max-width:991.98px) {
    .service-searcher form .input-group[data-v-307d1eb5] {
        display: flex;
        flex-direction: column;
        gap: .5rem
    }
}

.service-searcher form .form-control[data-v-307d1eb5] {
    color: #737373;
    height: inherit
}

@media (max-width:991.98px) {
    .service-searcher form .form-control[data-v-307d1eb5] {
        border-radius: .25rem
    }
}

.service-searcher form .btn.btn-primary[data-v-307d1eb5] {
    height: 2.875rem;
    padding: .875rem 1.5rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    vertical-align: bottom
}

@media (max-width:991.98px) {
    .service-searcher form .btn.btn-primary[data-v-307d1eb5] {
        border-radius: .25rem;
        width: 100%
    }
}

.service-searcher form .btn.btn-primary span[data-v-307d1eb5] {
    margin: 0 .3125rem;
    vertical-align: top
}

.service-searcher form .btn.btn-primary .search-icon[data-v-307d1eb5] {
    width: 1.125rem;
    margin: -.25rem .25rem 0 0
}

.service-searcher form .input-group-prepend img[data-v-307d1eb5] {
    height: 1.25rem;
    margin: auto
}

.service-searcher .service-searcher-typehead[data-v-307d1eb5] {
    position: absolute;
    width: 100%;
    max-height: 25rem;
    background-color: #fff;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 .4375rem .3125rem 0 rgba(0, 0, 0, .3);
    overflow-y: scroll
}

@media (max-width:991.98px) {
    .service-searcher .service-searcher-typehead[data-v-307d1eb5] {
        max-height: 15.625rem
    }
}

.service-searcher .service-searcher-typehead ul[data-v-307d1eb5] {
    padding: .625rem;
    margin: 0
}

.service-searcher .service-searcher-typehead ul li[data-v-307d1eb5] {
    padding: .5rem;
    list-style: none;
    text-align: left;
    border-radius: 4px;
    cursor: pointer
}

.service-searcher .service-searcher-typehead ul li.selected[data-v-307d1eb5] {
    background-color: #00c7ae;
    color: #fff
}

#service-search-modal * {
    color: #525252;
    text-align: left
}

@media (max-width:991.98px) {
    #service-search-modal .modal-header {
        position: relative;
        padding: 0
    }
}

#service-search-modal .modal-header h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem
}

@media (max-width:991.98px) {
    #service-search-modal .modal-body {
        margin: 0;
        padding: 1.5rem 0
    }
}

#service-search-modal .modal-body ul {
    margin: 0;
    padding: 0;
    text-align: center
}

#service-search-modal .modal-body ul li {
    display: inline-block;
    margin: .5rem;
    padding: .2rem .8rem;
    font-size: 1rem;
    border-radius: .4rem;
    background-color: #4785ff;
    cursor: pointer
}

#service-search-modal .modal-body ul li:hover {
    opacity: .8
}

#service-search-modal .modal-body ul li a {
    color: #fff
}

#service-search-modal .modal-footer {
    display: block;
    background-color: #e1e1e1;
    padding: 2rem
}

@media (max-width:991.98px) {
    #service-search-modal .modal-footer {
        position: relative;
        width: auto;
        padding: 1rem
    }
}

#service-search-modal .modal-footer .other-cat-desc {
    margin: 1rem 0 1.5rem
}

#service-search-modal .modal-footer .other-cat-desc p {
    color: #737373;
    text-align: center;
    margin-bottom: .5rem
}

#service-search-modal .modal-footer ul {
    padding: 0;
    margin: 0;
    text-align: center
}

#service-search-modal .modal-footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 .5rem
}

#service-search-modal .modal-footer ul li a {
    color: #00c7ae;
    text-decoration: underline;
    cursor: pointer
}

.service-searcher-desktop[data-v-3cfeddf8] {
    position: relative
}

@media (min-width:768px) {
    .service-searcher-desktop[data-v-3cfeddf8] {
        padding-top: 0
    }
}

.service-searcher-desktop.suggestion-opened[data-v-3cfeddf8] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background-color: #fff
}

@media (min-width:768px) {
    .service-searcher-desktop.suggestion-opened[data-v-3cfeddf8] {
        position: relative;
        width: unset
    }
}

.service-searcher-desktop .input-group[data-v-3cfeddf8] {
    height: 2.5rem;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    border-radius: 6px;
    padding: 0 .75rem;
    background: #f4f4f4
}

@media (min-width:768px) {
    .service-searcher-desktop .input-group[data-v-3cfeddf8] {
        width: 17.5rem;
        margin: 0;
        border-radius: 6px
    }
}

.service-searcher-desktop .input-group.suggestion-opened[data-v-3cfeddf8] {
    height: 2.5rem;
    border-radius: 0;
    border: none;
    border-bottom: .125rem solid #00c7ae;
    width: 100%;
    margin: 0;
    padding: 0 1rem
}

@media (min-width:768px) {
    .service-searcher-desktop .input-group.suggestion-opened[data-v-3cfeddf8] {
        width: 17.5rem;
        padding: 0 .6875rem;
        border: .125rem solid #00c7ae;
        position: relative;
        height: 2.75rem;
        background: #fff;
        border-top-left-radius: .375rem;
        border-top-right-radius: .375rem
    }

    .service-searcher-desktop .input-group.suggestion-opened input.form-control[data-v-3cfeddf8] {
        background-color: #fff
    }
}

.service-searcher-desktop input.form-control[data-v-3cfeddf8] {
    border: none;
    font-size: .875rem;
    line-height: 1.5;
    height: auto;
    caret-color: #00c7ae;
    color: #323232;
    padding: 0;
    background: #f4f4f4
}

.service-searcher-desktop input.form-control[data-v-3cfeddf8]::-moz-placeholder {
    color: #b5b5b5
}

.service-searcher-desktop input.form-control[data-v-3cfeddf8]:-ms-input-placeholder {
    color: #b5b5b5
}

.service-searcher-desktop input.form-control[data-v-3cfeddf8]::placeholder {
    color: #b5b5b5
}

.service-searcher-desktop input.form-control[data-v-3cfeddf8]::-ms-clear {
    display: none
}

.service-searcher-desktop input.form-control[data-v-3cfeddf8]:focus {
    box-shadow: none
}

.has-lnb .service-searcher-desktop input.form-control[data-v-3cfeddf8] {
    background-color: #f4f4f4
}

.service-searcher-desktop .input-group-append[data-v-3cfeddf8],
.service-searcher-desktop .input-group-prepend[data-v-3cfeddf8] {
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer
}

.service-searcher-desktop .input-group-append img[data-v-3cfeddf8],
.service-searcher-desktop .input-group-prepend img[data-v-3cfeddf8] {
    max-width: 100%;
    margin: auto
}

.service-searcher-desktop .input-group-prepend[data-v-3cfeddf8] {
    padding-right: .5rem
}

@media (max-width:991.98px) {
    .service-searcher-desktop .suggestion-opened .input-group-prepend[data-v-3cfeddf8] {
        padding-right: .75rem
    }
}

.service-searcher-desktop .input-group-append[data-v-3cfeddf8] {
    position: relative;
    z-index: 1
}