.sg-filter-chips[data-v-6fa8eaf5] {
    margin-bottom: 0;
    position: relative
}

.sg-filter-chips[data-v-6fa8eaf5]:after {
    position: absolute;
    display: inline-block;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 3rem;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff)
}

.sg-filter-chips>ul[data-v-6fa8eaf5] {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.sg-filter-chips>ul[data-v-6fa8eaf5]:after {
    content: "";
    padding-right: 1rem
}

.sg-filter-chips>ul>li[data-v-6fa8eaf5] {
    flex: 0 0 auto
}

.sg-filter-chips>ul[data-v-6fa8eaf5]::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none
}

.sg-filter-chips>ul>li[data-v-6fa8eaf5] {
    display: inline-block
}

.sg-filter-chips>ul>li+li[data-v-6fa8eaf5] {
    margin-left: .5rem
}

.sg-filter-chips>ul>li[data-v-6fa8eaf5]:last-child {
    padding-right: 1.5rem
}

.sg-filter-chips-multiple[data-v-2f58148b] {
    margin-bottom: 0;
    position: relative
}

.sg-filter-chips-multiple[data-v-2f58148b]:after {
    position: absolute;
    display: inline-block;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 3rem;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff)
}

.sg-filter-chips-multiple>ul[data-v-2f58148b] {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.sg-filter-chips-multiple>ul[data-v-2f58148b]:after {
    content: "";
    padding-right: 1rem
}

.sg-filter-chips-multiple>ul>li[data-v-2f58148b] {
    flex: 0 0 auto
}

.sg-filter-chips-multiple>ul[data-v-2f58148b]::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none
}

.sg-filter-chips-multiple>ul>li[data-v-2f58148b] {
    display: inline-block
}

.sg-filter-chips-multiple>ul>li+li[data-v-2f58148b] {
    margin-left: .5rem
}

.sg-filter-chips-multiple>ul>li[data-v-2f58148b]:last-child {
    padding-right: 1.5rem
}

p[data-v-fc3fcce8] {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem
}

@-webkit-keyframes spin-data-v-fc3fcce8 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes spin-data-v-fc3fcce8 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.indicator-body[data-v-fc3fcce8] {
    border-radius: 50%;
    -webkit-animation: spin-data-v-fc3fcce8 1s ease-in-out infinite;
    animation: spin-data-v-fc3fcce8 1s ease-in-out infinite
}

.indicator-body.center[data-v-fc3fcce8] {
    margin: 0 auto
}

.indicator-body.has-text[data-v-fc3fcce8] {
    margin-bottom: 1rem
}

.file-uploader[data-v-6fd29d40] {
    margin: 0;
    position: relative;
    border-radius: .5rem;
    border: .0625rem solid #f2f2f2;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0iI0I1QjVCNSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNOSAwaDJ2MjBIOXoiLz48cGF0aCBkPSJNMCAxMVY5aDIwdjJ6Ii8+PC9nPjwvc3ZnPg==) no-repeat 50%, #f2f2f2;
    cursor: pointer
}

.file-uploader>.file-uploader-input[data-v-6fd29d40] {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer
}

.file-uploader>.delete[data-v-6fd29d40] {
    display: none;
    content: "";
    position: absolute;
    z-index: 4;
    top: -.3125rem;
    right: -.3125rem;
    width: 1.25rem;
    height: 1.25rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSIxMCIgZmlsbD0iI0ZBNTk2MyIvPjxwYXRoIGQ9Ik03IDdsNiA2bS02IDBsNi02IiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9nPjwvc3ZnPg==) no-repeat 50%;
    cursor: pointer
}

.file-uploader>.thumbnail[data-v-6fd29d40] {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-size: cover;
    background-position: 50% 50%
}

.file-uploader>.file-name>[data-v-6fd29d40] {
    position: relative;
    z-index: 3
}

.file-uploader>.file-name>span[data-v-6fd29d40] {
    display: flex
}

.file-uploader>.file-name>span>span[data-v-6fd29d40]:first-child {
    margin-bottom: .125rem;
    display: inline-block;
    font-size: .875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.file-uploader>.file-name>span>span:first-child+span[data-v-6fd29d40] {
    display: inline-block;
    font-size: .875rem
}

.file-uploader>.file-name>small[data-v-6fd29d40] {
    display: block;
    color: #737373;
    font-size: .75rem
}

.file-uploader>.slot-content[data-v-6fd29d40] {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    border-radius: 8px;
    transition: background .2s ease-in-out
}

.file-uploader.read-only .slot-content[data-v-6fd29d40] {
    z-index: -1
}

.file-uploader.in-progress[data-v-6fd29d40] {
    cursor: wait
}

.file-uploader.is-loading[data-v-6fd29d40] {
    cursor: wait;
    pointer-events: none;
    background-image: none
}

.file-uploader.is-loading>.loading[data-v-6fd29d40] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.file-uploader.has-file[data-v-6fd29d40] {
    position: relative;
    background: #fff;
    border-color: #e1e1e1
}

.file-uploader.has-file>.delete[data-v-6fd29d40] {
    display: inline-block
}

.file-uploader.has-file.is-image>.slot-content>.file-progress[data-v-6fd29d40] {
    opacity: 0;
    transition: opacity .2s ease-in-out
}

.file-uploader.has-file.is-image>.slot-content>.file-progress[data-v-6fd29d40]>.value {
    font-size: .75rem
}

.file-uploader.has-file.is-image.in-progress>.thumbnail[data-v-6fd29d40] {
    opacity: .5
}

.file-uploader.has-file.is-image.in-progress>.slot-content[data-v-6fd29d40] {
    background: hsla(0, 0%, 100%, .5)
}

.file-uploader.has-file.is-image.in-progress>.slot-content>.file-progress[data-v-6fd29d40] {
    opacity: .75
}

.file-uploader.has-file[data-v-6fd29d40]:not(.is-image) {
    width: 18.75rem !important;
    height: auto !important;
    padding: .625rem .75rem
}

.file-uploader.has-file:not(.is-image)>.slot-content>.file-progress[data-v-6fd29d40] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 199, 174, .2);
    opacity: 0;
    transition: opacity .2s ease-in-out, width .2s ease-in-out
}

.file-uploader.has-file:not(.is-image).in-progress>.file-name>[data-v-6fd29d40] {
    opacity: .75
}

.file-uploader.has-file:not(.is-image).in-progress>.slot-content>.file-progress[data-v-6fd29d40] {
    opacity: 1
}

.FormatNumber.colored.minus[data-v-7f16af64] {
    color: #fa5963
}

.FormatNumber.colored.plus[data-v-7f16af64] {
    color: #00c7ae
}

.height-clamp[data-v-7fdb566e] {
    position: relative
}

.height-clamp>.collapse-toggle[data-v-7fdb566e] {
    display: none;
    padding-top: 1rem
}

.height-clamp.is-clamped>.collapse-toggle[data-v-7fdb566e] {
    display: block
}

.height-clamp.is-collapsed[data-v-7fdb566e] {
    overflow: hidden;
    max-height: var(--hc-height)
}

.height-clamp.is-collapsed>.collapse-toggle[data-v-7fdb566e] {
    z-index: 2;
    position: absolute;
    top: var(--hc-height);
    width: 100%;
    background: #fff;
    transform: translateY(-100%)
}

.height-clamp.is-collapsed>.collapse-toggle[data-v-7fdb566e]:after {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    display: block;
    height: var(--hc-gradient-height);
    background-image: linear-gradient(transparent, hsla(0, 0%, 100%, .004) 5.118%, hsla(0, 0%, 100%, .02) 9.988%, hsla(0, 0%, 100%, .043) 14.633%, hsla(0, 0%, 100%, .075) 19.074%, hsla(0, 0%, 100%, .114) 23.335%, hsla(0, 0%, 100%, .157) 27.438%, hsla(0, 0%, 100%, .204) 31.405%, hsla(0, 0%, 100%, .259) 35.259%, hsla(0, 0%, 100%, .318) 39.023%, hsla(0, 0%, 100%, .376) 42.72%, hsla(0, 0%, 100%, .439) 46.371%, hsla(0, 0%, 100%, .502) 50%, hsla(0, 0%, 100%, .561) 53.629%, hsla(0, 0%, 100%, .624) 57.28%, hsla(0, 0%, 100%, .682) 60.977%, hsla(0, 0%, 100%, .741) 64.741%, hsla(0, 0%, 100%, .796) 68.595%, hsla(0, 0%, 100%, .843) 72.563%, hsla(0, 0%, 100%, .886) 76.665%, hsla(0, 0%, 100%, .925) 80.926%, hsla(0, 0%, 100%, .957) 85.367%, hsla(0, 0%, 100%, .98) 90.012%, hsla(0, 0%, 100%, .996) 94.882%, #fff)
}

.height-clamp.hide-less:not(.is-collapsed)>.collapse-toggle[data-v-7fdb566e] {
    display: none
}

ul[data-v-40276a2e] {
    padding: 0;
    font-size: 0;
    margin: 0 -.3125rem
}

ul[max-width~="767.98px"][data-v-40276a2e] {
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%
}

ul[max-width~="767.98px"][data-v-40276a2e]::-webkit-scrollbar {
    display: none
}

ul[max-width~="767.98px"] li[data-v-40276a2e] {
    flex: 0 0 36%;
    max-width: 36%
}

ul li[data-v-40276a2e] {
    display: inline-block;
    padding: 0 .3125rem;
    margin-bottom: .625rem;
    cursor: pointer
}

ul li[data-v-40276a2e]:hover {
    opacity: .6
}

ul li img[data-v-40276a2e] {
    display: none
}

ul li div[data-name=thumbnail][data-v-40276a2e] {
    background-size: cover;
    background-position: 50% 50%;
    border: .0625rem solid #f2f2f2;
    border-radius: 8px;
    width: 100%;
    padding-bottom: 100%;
    background-color: #fafafa;
    position: relative
}

.load-more[data-v-40276a2e] {
    text-align: center;
    margin-top: 1.5625rem
}

.load-more .text[data-v-40276a2e] {
    border-radius: 21px;
    border: .0625rem solid #e1e1e1;
    padding: .5625rem 2.375rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.01875rem;
    color: #00c7ae;
    display: inline-block;
    cursor: pointer
}

.load-more .text[data-v-40276a2e]:hover {
    opacity: .6
}

.line-clamp[data-v-a3afae98] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.no-items>i[data-v-414f00e5] {
    display: inline-block;
    width: 5rem;
    height: 5rem
}

.no-items>i>img[data-v-414f00e5] {
    width: 100%;
    height: 100%
}

.no-items>h3[data-v-414f00e5] {
    margin-top: .75rem;
    line-height: normal;
    font-size: 1.125rem;
    font-weight: 500;
    white-space: pre-line
}

.no-items>.help-block[data-v-414f00e5] {
    white-space: break-spaces;
    color: #b5b5b5
}

.no-items>.footer-buttons[data-v-414f00e5] {
    max-width: 13.4375rem
}

.not-enough-cash .current-cash[data-v-fc9491d4] {
    display: flex;
    background: #f2f2f2;
    padding: .75rem 0
}

.not-enough-cash .current-cash span[data-v-fc9491d4] {
    flex: 1 1 50%;
    line-height: 1.25rem;
    text-align: right
}

.not-enough-cash .current-cash span+span[data-v-fc9491d4] {
    text-align: center;
    font-weight: 500
}

.not-enough-cash p[data-v-fc9491d4] {
    text-align: center;
    margin: 1rem 0 0
}

.notification-counter[data-v-4685089c] {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.btn-clear[data-v-4685089c] {
    border: 0;
    background: none;
    padding: 0;
    margin: 0
}

.badge.badge-danger[data-v-4685089c] {
    position: absolute;
    top: .1875rem;
    right: 0;
    transform: translateX(70%);
    padding: 0 .375rem;
    border-radius: 500px;
    font-size: .625rem;
    line-height: 1.6
}

.notifications-overlay[data-v-4685089c] {
    position: absolute;
    top: 2.375rem;
    right: -5.5rem;
    width: 21.875rem;
    height: 43.875rem;
    background: #fff;
    border: .0625rem solid #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 1.125rem 2.5rem -.75rem rgba(50, 50, 50, .3);
    margin-bottom: 1rem;
    overflow: visible
}

.notifications-overlay[data-v-4685089c]:before {
    content: "";
    position: absolute;
    top: -.5625rem;
    right: 5.625rem;
    width: 1.125rem;
    height: .625rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMCI+PGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNOS4wNSAxbDcuODUgOC42SDEuMnoiLz48cGF0aCBzdHJva2U9IiNGMkYyRjIiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xIDlsOC04IDggOCIvPjwvZz48L3N2Zz4=) no-repeat
}

@media (max-width:991.98px) {
    .notifications-overlay[data-v-4685089c] {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: none
    }

    .notifications-overlay[data-v-4685089c]:before {
        display: none
    }
}

.notifications-overlay .overlay-content[data-v-4685089c] {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden
}

.notifications-overlay .overlay-content .overlay-header[data-v-4685089c] {
    padding: 1.5rem 1.5rem .5rem
}

@media (max-width:991.98px) {
    .notifications-overlay .overlay-content .overlay-header[data-v-4685089c] {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 1rem 1.25rem
    }
}

.notifications-overlay .overlay-content .overlay-header .btn-close[data-v-4685089c] {
    display: none;
    padding: 0;
    margin: 0;
    border: 0
}

.notifications-overlay .overlay-content .overlay-header .btn-close img[data-v-4685089c] {
    vertical-align: top
}

@media (max-width:991.98px) {
    .notifications-overlay .overlay-content .overlay-header .btn-close[data-v-4685089c] {
        display: block;
        position: absolute;
        width: 1.125rem;
        height: 1.125rem;
        right: 1.25rem;
        top: 50%;
        transform: translateY(-50%)
    }
}

.notifications-overlay .overlay-content .overlay-header h3[data-v-4685089c] {
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.125rem;
    margin: 0;
    color: #323232;
    text-align: left
}

@media (max-width:991.98px) {
    .notifications-overlay .overlay-content .overlay-header h3[data-v-4685089c] {
        font-weight: 700;
        letter-spacing: -.01875rem;
        line-height: 1.625rem;
        text-align: center
    }
}

.notifications-overlay .overlay-content .overlay-body[data-v-4685089c] {
    height: 100%;
    overflow: auto
}

.notification-counter[data-v-f8be2a20] {
    position: relative;
    cursor: pointer
}

.notification-counter.has-badge[data-v-f8be2a20]:after {
    content: "";
    position: absolute;
    top: 0;
    right: -.125rem;
    background-color: #ff3131;
    width: .375rem;
    height: .375rem;
    border-radius: 50%
}

.btn-clear[data-v-f8be2a20] {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    display: flex
}

.badge.badge-danger[data-v-f8be2a20] {
    position: absolute;
    top: .1875rem;
    right: 0;
    transform: translateX(70%);
    padding: 0 .375rem;
    border-radius: 31.25rem;
    font-size: .625rem;
    line-height: 1.6
}