<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 별별마켓</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/market/market.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
</head>
<body>
<div id="wrapper">
    <th:block th:if="${session.member == null}">
        <header th:replace="/app/fix/header.html :: header"></header>
    </th:block>
    <th:block th:if="${session.member != null}">
        <header th:replace="/app/fix/headerLogin.html :: header"></header>
    </th:block>
    <div id="app-body">
        <div class="instant-purchase-container">
            <main data-v-72c8052a="" data-testid="ip-product-list" class="ip-product-list">
                <div data-v-e0e63576="" data-v-193e7af6="" data-v-72c8052a="" class="observer-container">
                    <header data-v-193e7af6="" data-v-e0e63576="" data-observe="page-heading" class="page-heading"
                            id="page-heading">
                        <h1 data-v-193e7af6="" data-v-e0e63576="" class="page-title">별별마켓</h1>
                    </header>
                </div>
                <div data-v-e0e63576="" data-v-72c8052a="" class="observer-container">
                    <section data-v-78206d9f="" data-v-72c8052a="" class="market-keyword-search-form" data-v-e0e63576="">
                        <div data-v-78206d9f="" class="search-area">
                            <form data-v-ebe7d0bc="" data-v-daea50a6="" class="search-bar">
                                <div data-v-78206d9f="" class="input-wrap">
                                    <div data-v-78206d9f="" role="group" class="input-group">
                                        <div data-v-78206d9f="" class="input-group-prepend">
                                            <img data-v-78206d9f="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiIHN0cm9rZT0iI0M1QzVDNSIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBjeD0iNi42MTEiIGN5PSI2LjYxMSIgcj0iNS44NjEiLz4KICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im0xNS4yNSAxNS4yNS00LjI0My00LjI0MyIvPgogICAgPC9nPgo8L3N2Zz4K" alt="검색" class="search-icon">
                                        </div>
                                        <input data-v-78206d9f="" onkeyup="if(window.event.keyCode===13){searchKeyword()}"
                                               type="text" placeholder="원하는 상품을 검색해보세요" class="search-input form-control" maxlength="15" id="__BVID__183" autocomplete="off">
                                        <input type="text" style="display: none;">
                                        <div data-v-78206d9f="" class="input-group-append" style="display: none;">
                                            <button style="padding: 0; padding-right: 6px;"  data-v-78206d9f="" type="button" class="btn btn-keyword-del">
                                                <img class="reset reset-keyword-btn" data-v-78206d9f="" onclick="javascript:resetKeyword();" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgMykiPgogICAgICAgICAgICA8Y2lyY2xlIGZpbGw9IiNDNUM1QzUiIGN4PSI5IiBjeT0iOSIgcj0iOSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im02IDYgNi4wMDUgNi4wMDZNMTIuMDA1IDYgNiAxMi4wMDYiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=" alt="키워드 삭제">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="goHome" onclick="goHome()" style="cursor: pointer; display: flex; align-items: center; background: #f4f4f4; border: 0; border-radius: 8px; height: 2.75rem; margin-left: 3px; padding: 0px 13px; font-size: 15px;">
                                        <img src="/images/program/returngray.png" style="width: 1.2rem">
                                    </div>
                                </div>
                                <div data-v-78206d9f="" class="keyword-box">
                                    <ul data-v-78206d9f="">
                                        <li data-v-78206d9f="" class="title">추천 상품</li>
                                        <li data-v-78206d9f="" class="title">
                                            <a data-v-e052d09c=""  class="title" href="javascript:;" target="_self"> 생활 </a>
                                        </li>
                                        <li data-v-78206d9f="" class="title">
                                            <a data-v-e052d09c=""  class="title" href="javascript:;" target="_self"> 주방 </a>
                                        </li>
                                        <li data-v-78206d9f="" class="title">
                                            <a data-v-e052d09c=""  class="title" href="javascript:;" target="_self"> 욕실</a>
                                        </li>
                                        <li data-v-78206d9f="" class="title">
                                            <a data-v-e052d09c=""  class="title" href="javascript:;" target="_self"> 문구 </a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
                <!--<div data-v-e0e63576="" data-v-72c8052a="" class="observer-container">
                    <section data-v-78206d9f="" data-v-72c8052a="" class="market-keyword-search-form" data-v-e0e63576="">
                        <div data-v-78206d9f="" class="search-area">
                            <div data-v-78206d9f="" class="input-wrap">
                                <div data-v-78206d9f="" role="group" class="input-group">
                                    <div data-v-78206d9f="" class="input-group-prepend">
                                        <img data-v-78206d9f="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiIHN0cm9rZT0iI0M1QzVDNSIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBjeD0iNi42MTEiIGN5PSI2LjYxMSIgcj0iNS44NjEiLz4KICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im0xNS4yNSAxNS4yNS00LjI0My00LjI0MyIvPgogICAgPC9nPgo8L3N2Zz4K" alt="검색" class="search-icon">
                                    </div>
                                    <form onsubmit="return false">
                                        <input type="text" style="display:none">
                                        &lt;!&ndash; 검색 입력 input &ndash;&gt;
                                        &lt;!&ndash;onkeyup="if(window.event.keyCode===13){searchKeyword(this.value)}"  onkeydown="javascript:if(event.keyCode==13)searchList(this.form);"&ndash;&gt;
                                        <input name="enter" autocomplete='off' value="" onkeydown="javascript:if(event.keyCode==13)searchList(this.form);" data-v-78206d9f="" type="text" placeholder="원하는 프로그램을 검색해보세요" class="pro-form-control" maxlength="20" id="__BVID__183">
                                    </form>
                                    <div data-v-78206d9f="" class="input-group-append" style="display: none;">
                                        <button style="padding: 0; padding-right: 6px;" data-v-78206d9f="" type="button" class="btn btn-keyword-del">
                                            <img data-v-78206d9f="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgMykiPgogICAgICAgICAgICA8Y2lyY2xlIGZpbGw9IiNDNUM1QzUiIGN4PSI5IiBjeT0iOSIgcj0iOSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im02IDYgNi4wMDUgNi4wMDZNMTIuMDA1IDYgNiAxMi4wMDYiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=" alt="키워드 삭제">
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <button data-v-3a2c0d3c="" type="button" class="btn pro-signup-btn right-section-item btn-primary">
                                        <a data-v-3a2c0d3c="" class="">전체목록</a>
                                    </button>
                                </div>
                                <div class="goHome" onclick="goHome()" style="cursor: pointer;">
                                    <img src="/images/program/returngray.png" style="width: 1.2rem">
                                </div>
                            </div>-->
                <section data-v-e052d09c="" data-v-72c8052a="" class="filter-group">
                    <ul data-v-e052d09c="" class="tab">
                        <li data-v-e052d09c="" id="group-0">
                            <a data-v-e052d09c="" href="javascript:;" class="btn-category btn router-link-active btn-link selected router-link-exact-active fixed" target="_self"> 전체 </a>
                        </li>
                        <li data-v-e052d09c="" id="group-1 "  data-testid="group-filter">
                            <a data-v-e052d09c=""  class="btn-category btn btn-link fixed" href="javascript:;" target="_self"> 생활 </a>
                        </li>
                        <li data-v-e052d09c="" id="group-2" data-testid="group-filter">
                            <a data-v-e052d09c=""  class="btn-category btn btn-link fixed" href="javascript:;" target="_self"> 주방 </a>
                        </li>
                        <li data-v-e052d09c="" id="group-3" data-testid="group-filter">
                            <a data-v-e052d09c="" class="btn-category btn btn-link fixed"  href="javascript:;" target="_self"> 욕실 </a>
                        </li>
                        <li data-v-e052d09c="" id="group-4" data-testid="group-filter" >
                            <a data-v-e052d09c="" class="btn-category btn btn-link fixed" href="javascript:;" target="_self"> 식품 </a>
                        </li>
                        <li data-v-e052d09c="" id="group-5" data-testid="group-filter">
                            <a data-v-e052d09c=""  class="btn-category btn btn-link fixed" href="javascript:;" target="_self"> 취미 </a>
                        </li>
                        <li data-v-e052d09c="" id="group-6" data-testid="group-filter">
                            <a data-v-e052d09c=""  class="btn-category btn btn-link fixed" href="javascript:;" target="_self"> 문구 </a>
                        </li>
                        <li data-v-e052d09c="" id="group-7" data-testid="group-filter">
                            <a data-v-e052d09c=""  class="btn-category btn btn-link fixed" href="javascript:;" target="_self"> 반려동물 </a>
                        </li>
                    </ul>
                </section>

                <section data-v-72c8052a="" class="page-content">
                    <div data-v-72c8052a="" class="flex-container">
                        <div data-v-72c8052a="" class="flex-side-right market-list">
                            <div data-v-18e85706="" class="product-list responsive">
                            </div>
                        </div>
                    </div>
                    <!--상품이 없을 때-->
                    <div data-v-644ea9c9="" data-v-72c8052a="" class="infinite-loading-container">
                        <div data-v-644ea9c9="" class="infinite-status-prompt" style="display: none;">
                            <div data-v-fc3fcce8="" data-v-72c8052a="" class="" data-v-644ea9c9="">
                                <div data-v-fc3fcce8="" class="indicator-body center" style="width: 24px; height: 24px; border-width: 0.25rem; border-style: solid; border-color: rgb(0, 199, 174) rgba(0, 199, 174, 0.2) rgba(0, 199, 174, 0.2); border-image: initial;"> </div>
                                <p data-v-fc3fcce8="" style="display: none;"></p>
                            </div>
                        </div>
                        <div id="noArticle1">
                            <!--프로그램 없는 경우 실행 되는 자리-->
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <th:block th:if="${session.member != null}">
        <input type="hidden" name="memberId" th:value="${session.member.memberId}">
        <input type="hidden" name="memberName" th:value="${session.member.memberName}">
    </th:block>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/market/marketModule.js"></script>
<script src="/js/market/market.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<script src="/js/fix/header.js"></script>
<!-- Channel Plugin Scripts -->
<script>
    (function() {
        var w = window;
        if (w.ChannelIO) {
            return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
        }
        var ch = function() {
            ch.c(arguments);
        };
        ch.q = [];
        ch.c = function(args) {
            ch.q.push(args);
        };
        w.ChannelIO = ch;
        function l() {
            if (w.ChannelIOInitialized) {
                return;
            }
            w.ChannelIOInitialized = true;
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
            s.charset = 'UTF-8';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (document.readyState === 'complete') {
            l();
        } else if (window.attachEvent) {
            window.attachEvent('onload', l);
        } else {
            window.addEventListener('DOMContentLoaded', l, false);
            window.addEventListener('load', l, false);
        }
    })();
    ChannelIO('boot', {
        "pluginKey": "9620d8f4-5a7a-4113-aa8d-0e440e89b936"
    });
</script>
<!-- End Channel Plugin -->
</html>