<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 장바구니</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/market/marketBasket.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>
<body class="doz_sys  _body_menu_m2020010384a0229905583  shop_cart  fixed-menu-on new_fixed_menu_on new_header_site"
      id="doz_body">
<th:block th:if="${session.member == null}">
    <header th:replace="/app/fix/header.html :: header"></header>
</th:block>
<th:block th:if="${session.member != null}">
    <header th:replace="/app/fix/headerLogin.html :: header"></header>
</th:block>
<div doz_type="section"
     class="section_wrap  pc_section    section_first _section_first   mobile_section_first    side_basic     "
     id="s202001034d12264e5bce8" doz_change_mobile="N" doz_aside="N" doz_side_width="200" doz_side_margin="0"
     doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
     doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="background-color:#ffffff;  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <main>
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200103d18d078a64396">
                        <div class="_widget_data _ds_animated_except" data-widget-name="쇼핑 카트"
                             data-widget-type="shop_cart" data-widget-parent-is-mobile="N">
                            <div class="shop-content cart" id="shop_cart_list">
                                <div class="shop-tit im-flex im-justify-between im-items-center">
                                    <div class="hidden-sm hidden-xs"> 장바구니
                                        <span class="b_cnt">
                                            <em class="_cart_item_count"></em>
                                        </span>
                                    </div>
                                </div>
                                <!--장바구니 아이템 리스트 가져옴-->
                                <div class="table-wrap _cart_list_wrap holder">
                                    <table class="table no-margin shop-table _shop_table">
                                        <colgroup>
                                            <col>
                                            <col style="width:189px">
                                            <col style="width:189px">
                                            <col style="width:147px">
                                        </colgroup>
                                        <thead class="item-subject">
                                        <tr class="hidden-xs text-14">
                                            <th class="item-info">
                                                <div class="im-flex">
<!--                                                    <div class="im-cart-checkbox-wrap">-->
                                                        <div class="checkbox checkbox-styled no-margin">
                                                            <label class="firstChecked">
                                                                <input type="checkbox" value="" id="_all_check">
                                                            </label>
                                                        </div>
<!--                                                    </div>-->
<!--                                                    <span class="hidden-sm hidden-xs">상품 정보</span>-->
<!--                                                    <span class="hidden-lg hidden-md">전체선택</span>-->
                                                </div>
                                            </th>
                                            <th class="amount text-center"><span
                                                    class="hidden-sm hidden-xs">수량</span></th>
                                            <th class="price text-center"><span
                                                    class="hidden-sm hidden-xs">주문금액</span></th>
                                            <th class="deliv_price text-center"><span class="hidden-sm hidden-xs">배송
                                                        정보</span></th>
                                        </tr>
                                        <tr class="hidden-lg hidden-md hidden-sm">
                                            <th class="slt full-width" colspan="4">
                                                <div
                                                        class="im-flex im-justify-between im-items-center im-cart-checkbox-wrap">
                                                    <div
                                                            class="im-flex im-items-center checkbox checkbox-styled no-margin">
<!--                                                        <label>-->
<!--                                                            <input type="checkbox" value="" class="_all_check">-->
<!--                                                            <span></span>-->
<!--                                                        </label>-->
                                                        <label class="firstChecked">
<!--                                                            <input type="checkbox" value="" id="_all_check"> 전체 동의-->
                                                        </label>
<!--                                                        <span id="basketAllSelect" class="text-15" style="margin-left: 10px;">전체선택</span>-->
                                                    </div>
                                                    <div class="cart-btn-tools text-13">
                                                        <a href="javascript:;" class="btn">선택상품 삭제</a>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody class="startBakset">
                                        <form name = "deleteForm" method="post" action = "/cart/delete/">
                                        <div style="display:none;" class="item_price 0"></div>
                                        </form>
                                        <!--<tr class="content basket-list" style="overflow: visible;">
                                            <td class="slt img">
                                                <div class="im-flex">
                                                    <div class="im-cart-checkbox-wrap">
                                                        <div class="checkbox checkbox-styled no-margin">
                                                            <label>
                                                                <input type="checkbox" value="i20221117b8f210ee88cd6" class="_cartItemCheckbox" checked="checked">
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="im-cart-img-wrap im-grow im-xs-flex im-xs-flex-col">
                                                        <a class="cart-item-wrap" href="http://localhost:10001/market/detail">
                                                            <div class="cart-item-img">
                                                                <img src="https://cdn.imweb.me/thumbnail/20201125/a1f4cba207bf1.jpg" alt="cart item">
                                                            </div>
                                                            <p class="cart-item-title text-15" id="shop_cart_title_i20221117b8f210ee88cd6">
                                                                [지구샵]&nbsp;천연물방울수세미(3개입)
                                                            </p>
                                                        </a>
                                                        <span class="cart-item-remove">
                                                            <i class="btl bt-times" aria-hidden="true"></i>
                                                        </span>
                                                        <div class="opt">
                                                            <div class="more im-flex im-justify-between">
                                                                <a href="javascript:;" style="margin-left: 5px;"  class="float_r hidden-xs">
                                                                    <i class="btl bt-times" aria-hidden="true"></i>
                                                                    <span class="hidden">삭제</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amount td-blocked hidden-xs">
                                                <div class="text-13 title text-center text-15"> 1 </div>
                                                <div class="text-center margin-top-xl no-margin-bottom">
                                                    <span class="cart-btn-tools">
                                                        <a href="javascript:;" class="btn _modal_open_btn no-margin-bottom">수량 변경</a>
                                                        &lt;!&ndash; 아래 옵션 변경과 같은 기능. 모바일에선 해당 버튼은 사라지고 아래 옵션 변경 버튼이 노출&ndash;&gt;
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="amount td-blocked hidden-lg hidden-md hidden-sm no-margin-bottom">
                                                <div class="im-price-result im-flex im-justify-between">
                                                    <div class="title"> 주문금액 </div>
                                                    <div class="cont blocked text-20 text-bold"> 9,900원 </div>
                                                </div>
                                                <div class="im-flex im-justify-between margin-bottom-xl">
                                                    <div class="title">
                                                            <span>상품금액(
                                                                <em class="hidden-lg hidden-md ">총</em>1개)
                                                            </span>
                                                    </div>
                                                    <div class="cont blocked"> 9,900원 </div>
                                                </div>
                                                <div>
                                                    <div class="im-flex im-justify-between margin-bottom-xl">
                                                        <span class="title">배송비</span>
                                                        <div class="cont text-12 text-right">
                                                            <span>3,000원</span>
                                                            <a href="javascript:;" class="html-popover deliv_price_info" data-toggle="popover" tabindex="0" data-trigger="focus" title="" data-content="<div class=&quot;&quot;><label class=&quot;text-bold text-13&quot;>배송비 안내</label><div class=&quot;table-responsive&quot;><table class=&quot;table no-margin table-no-padding-x&quot;><caption class=&quot;text-bold no-padding-top&quot;>조건부 무료배송</caption><tr><td colspan=&quot;2&quot;><p>기본 배송비 3,000원<br>50,000원 이상 구매 시 무료배송</p></td></tr></table></div></div>" data-placement="auto" data-original-title="">
                                                                <i class="btm bt-question-circle opacity-60 text-13" aria-hidden="true"></i>
                                                                <span class="sr-only">배송안내 툴팁</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="im-flex im-justify-between margin-bottom-xl">
                                                        <span class="title">배송수단</span>
                                                        <div class="cont text-13 text-right">
                                                            <span class="margin-bottom-lg">택배</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="price td-blocked text-center hidden-xs">
                                                <span class="text-bold text-20">9,900원</span>
                                                <p class="margin-top-xl no-margin-bottom">
                                                    <span class="cart-btn-tools">
                                                        <a href="javascript:;" class="btn hidden-xs btn-primary no-margin-bottom">바로구매</a>
                                                    </span>
                                                </p>
                                            </td>
                                            </tr>
                                            <td class="hidden-xs td-blocked text-center" rowspan="2">
                                                <div class="cont text-15 text-center im-flex im-justify-center im-items-center margin-bottom-lg">
                                                    <span class="text-bold">
                                                        <span>3,000원</span>
                                                    </span>
                                                    <a href="javascript:;" class="html-popover deliv_price_info margin-left-lg" data-toggle="popover" tabindex="0" data-trigger="focus" title="" data-content="<div class=&quot;&quot;><label class=&quot;text-bold text-15&quot;>배송비 안내</label><div class=&quot;table-responsive&quot;><table class=&quot;table no-margin&quot;><caption class=&quot;text-bold no-padding-top&quot;>조건부 무료배송</caption><tr><td colspan=&quot;2&quot;><p>기본 배송비 3,000원<br>50,000원 이상 구매 시 무료배송</p></td></tr></table></div></div>" data-placement="auto" data-original-title="">
                                                        <i class="btm bt-question-circle opacity-60 text-13" aria-hidden="true"></i>
                                                        <span class="sr-only">배송안내 툴팁</span>
                                                    </a>
                                                </div>
                                                <div class="cont text-13 text-center opacity-60">
                                                    <span class="margin-bottom-lg">택배</span>
                                                </div>
                                            </td>
                                            <td class="td-blocked hidden-lg hidden-md hidden-sm" style="margin-top: 6px;">
                                                <div class="im-flex cart-btn-tools">
                                                    <a href="javascript:;" class="btn btn-cart-option full-width margin-right-lg _modal_open_btn">수량 변경</a>
                                                    <a class="btn btn-cart-order full-width btn-primary" href="javascript:;">바로구매</a>
                                                </div>
                                            </td>-->
                                        </tbody>

                                        <tbody class="cart_empty">
                                       <!-- <tr>
                                            <td colspan="4">
                                                <i class="btl bt-shopping-cart bt-3x"></i>
                                                <div class="body_font_color_40" style="font-size:14px;">장바구니가
                                                    비어있습니다.</div>
                                            </td>
                                        </tr>-->
                                        </tbody>

                                    </table>
                                    <table id="im_cart_footer" class="shop-table full-width">
                                        <tfoot>
                                            <tr class="hidden-xs">
                                                <td>
                                                    <div class="im-flex im-justify-between">
                                                        <div class="cart-btn-tools">
                                                            <a href="javascript:checkedProductDelete();" class="btn">선택상품 삭제</a>
                                                        </div>
                                                        <div class="text-right text-13 opacity-60">
                                                            <p class="no-margin-bottom">결제 시 추가 할인 적용에 따라 배송비가 변경될 수 있습니다.</p>
                                                            <p class="no-margin-bottom">네이버페이로 결제 시 할인금액과 배송비가 변경될 수 있습니다.</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="payment-info hidden-lg hidden-md hidden-sm _cart_result_container">
                                                <td class="full-width">
                                                    <div class="im-flex im-justify-between im-items-center _cart_price_field">
                                                        <div class="pay-txt"> 상품금액(<em class="hidden-lg hidden-md ">총</em>
                                                            <span class="text-primary _cart_count"></span>개)
                                                        </div>
                                                        <div class="pay-number">
                                                            <span class="_cart-real_price">14,800원</span>
                                                        </div>
                                                    </div>
                                                    <div class="im-flex im-justify-between im-items-center _cart_deliv_price_field">
                                                        <div class="pay-txt"> 배송비 </div>
                                                        <div class="pay-number">
                                                            <span class="_plus_deliv_price">+ </span>
                                                            <span class="_cart_deliv_price">3,000원</span>
                                                        </div>
                                                    </div>
                                                    <div class="im-flex im-justify-between im-items-center _cart_period_field" style="display: none;">
                                                        <div class="pay-txt"> 상품 할인금액 </div>
                                                        <div class="pay-number"> - <span class="_cart_period_discount">-</span>
                                                        </div>
                                                    </div>
                                                    <div class="im-flex im-justify-between im-items-center _cart_membership_field" style="display: none;">
                                                        <div class="pay-txt"> 회원 할인금액 </div>
                                                        <div class="pay-number"> - <span class="_cart_membership_discount">-</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="im-total-payment-info hidden-lg hidden-md hidden-sm">
                                                <td class="full-width">
                                                    <div class="im-flex im-justify-between im-items-center _cart_total_field">
                                                        <div class="pay-text"> 총 주문금액 </div>
                                                        <div class="pay-number text-primary _cart_main_total_price"> 17,800원</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <table class="table im-cart-result-table _cart_result_table hidden-xs">
                                        <thead>
                                        <tr>
                                            <th class="text-left text-14"> 총 주문 상품
                                                <span class="text-primary _cart_check-count"></span>개
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="im-cart-result-container _cart_result_container">
                                                        <div class="_cart_price_field">
                                                            <div class="im-cart-result-wrap">
                                                                <p class="_cart-real_price">원</p>
                                                                <p>상품금액</p>
                                                            </div>
                                                        </div>
                                                        <div class="_cart_deliv_price_field">
                                                            <div>
                                                                <i class="im-icon im-ico-plus-plain"></i>
                                                            </div>
                                                            <div class="im-cart-result-wrap">
                                                                <p class="_cart_deliv_price">3,000원</p>
                                                                <p>배송비</p>
                                                            </div>
                                                        </div>
                                                        <div class="_cart_period_field" style="display: none;">
                                                            <div>
                                                                <i class="im-icon im-ico-minus-plain"></i>
                                                            </div>
                                                            <div class="im-cart-result-wrap">
                                                                <p class="_cart_period_discount">-</p>
                                                                <p>상품 할인금액</p>
                                                            </div>
                                                        </div>
                                                        <div class="_cart_membership_field" style="display: none;">
                                                            <div>
                                                                <i class="im-icon im-ico-minus-plain"></i>
                                                            </div>
                                                            <div class="im-cart-result-wrap">
                                                                <p class="_cart_membership_discount">-</p>
                                                                <p>회원 할인금액</p>
                                                            </div>
                                                        </div>
                                                        <div class="_cart_total_field">
                                                            <div>
                                                                <i class="im-icon im-ico-equals-plain"></i>
                                                            </div>
                                                            <div class="im-cart-result-wrap">
                                                                <p class="text-primary _cart_main_total_price"> 17,800원</p>
                                                                <p>총 주문금액</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--END-->
                                <div class="bottom-btn clearfix btn-wrap">
                                    <div class="pay-box">
                                        <a class="btn bg-brand to-order _fade_link _btn_order" href="javascript:checkedProductBuy()" style="display: flex;">주문하기</a>
                                    </div>
                                    <a href="/market" class="cart-ctn ctn _fade_link">계속 쇼핑하기</a>
                                </div>
                                <div class="im-cart-info hidden-lg hidden-md hidden-sm">
                                    <p class="no-margin-bottom">결제 시 추가 할인 적용에 따라 배송비가 변경될 수 있습니다.</p>
                                    <p class="no-margin-bottom">네이버페이로 결제 시 할인금액과 배송비가 변경될 수 있습니다.</p>
                                </div>
                            </div>

                            <!-- 수량변경 클릭시 노출되는 모달 -->
                            <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" class="modal in modal_widget_cartopt" id="shop_cart_change_layer">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="layer_pop">
                                            <div class="top-block">
                                                <div class="set-tit text-center">옵션 변경</div>
                                                <a href="javascript:;" data-dismiss="modal" class="bt-close bt bt-flat bt-default btn-cancel _modal_close_btn">
                                                    <i class="btl bt-times"></i>
                                                </a>
                                            </div>
                                            <div class="container-fluid" style="max-height: 570px; overflow-y: auto;">
                                                <div class="item-opt">
                                                    <div>
                                                        <img name="basket-img" src="">
                                                        <input name="hidden-basket-id" class="hidden-basket-id" style="display: none;">
                                                        <input name="hidden-product-id" class="hidden-product-id" style="display: none;">
                                                    </div>
                                                    <div class="product">
                                                        <div class="name"></div>
                                                        <div class="text-brand text-brand-price"></div>
                                                    </div>
                                                </div>
                                                <div class="goods_payment" id="prod_selected_options">
                                                    <div class="_selected_require_option opt_block" id="prdOption0">
                                                        <div class="full-width opt_product_area">
                                                            <div class="area_count holder">
                                                                <div class="option_btn_wrap">
                                                                    <div class="option_btn_tools">
                                                                        <a href="javascript: minusItemCount(0);">
                                                                            <i class="btl bt-minus" aria-hidden="true"></i>
                                                                        </a>
                                                                        <input name="changeCount" id="orderCount" type="text" title="number" value="1" class="form-control _order_count_mobile 0">
                                                                        <input type="text" style="display: none;" name="basketId" id="takeId">
                                                                        <a href="javascript: plusItemCount(0);">
                                                                            <i class="btl bt-plus"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="area_price absolute absolute_right absolute_middle">
                                                                    <span class="product-price"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="opt_block total bottom">
                                                        <div class="col-xs-4 vertical-middle">
                                                            <p class="no-margin text-left" style="display:inline-block;">
                                                                <span class="body_font_color_70 itemCount" style="padding: 16px 0">총 상품금액(1개)</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-8 vertical-middle">
                                                            <p class="text-right" style="display:inline-block; float: right;">
                                                                <span class="total-price" style="padding: 16px 0">원</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bottom-btn">
                                                <a href="javascript:optionModalClose();" class="btn btn-cancel _modal_close_btn" style="background: #fff; width: 25%">취소</a>
                                                <a href="javascript:optionChangeModal();" style="width: 25%;" class="btn _modal_close_btn bg-brand to-order">변경</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:if="${session.member != null}">
            <input type="hidden" name="memberId" th:value="${session.member.memberId}">
            <input type="hidden" name="memberName" th:value="${session.member.memberName}">
        </th:block>
    </main>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/market/marketBasketModule.js"></script>
<script src="/js/market/marketBasket.js"></script>
<script src="/js/market/orderModule.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<!-- Channel Plugin Scripts -->
<script>
    (function() {
        var w = window;
        if (w.ChannelIO) {
            return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
        }
        var ch = function() {
            ch.c(arguments);
        };
        ch.q = [];
        ch.c = function(args) {
            ch.q.push(args);
        };
        w.ChannelIO = ch;
        function l() {
            if (w.ChannelIOInitialized) {
                return;
            }
            w.ChannelIOInitialized = true;
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
            s.charset = 'UTF-8';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (document.readyState === 'complete') {
            l();
        } else if (window.attachEvent) {
            window.attachEvent('onload', l);
        } else {
            window.addEventListener('DOMContentLoaded', l, false);
            window.addEventListener('load', l, false);
        }
    })();
    ChannelIO('boot', {
        "pluginKey": "9620d8f4-5a7a-4113-aa8d-0e440e89b936"
    });
</script>
<!-- End Channel Plugin -->
</html>