<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 기사회원가입</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/join/joinCollector.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>

<body class="pro-signup">
<div id="app" data-browser="Chrome" data-is-loaded="true" class>
    <th:block th:if="${session.member == null}">
        <header th:replace="/app/fix/header.html :: header"></header>
    </th:block>
    <th:block th:if="${session.member != null}">
        <header th:replace="/app/fix/headerLogin.html :: header"></header>
    </th:block>
    <div id="app-body">
        <div data-v-61b32e29="" class="container">
            <form data-v-61b32e29="" id="id_pro_form" autocomplete="off" th:method="get" th:action="@{/join/picker/detail}" th:object="${memberDTO}">
                <div data-v-2b9a1ce0="" data-v-61b32e29="" class="signup-progress-bar header">
                    <div data-v-2b9a1ce0="" class="progress">
                        <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75"
                             class="progress-bar" style="width: 50%;"></div>
                    </div>
                    <div data-v-2b9a1ce0="" class="value-text">50%</div>
                </div>
                <div data-v-a46f16b0="" data-v-61b32e29="" id="step3" is-initial-mounted="true" class="body"><h1
                        data-v-a46f16b0="">기사님의 활동 지역의 주소를 알려주세요.</h1>
                    <p data-v-a46f16b0="" class="headline">활동 지역은 근처의 고객을 찾는데 도움이 됩니다.</p>
                    <div data-v-a46f16b0="" class="addr-search">
                        <div data-v-a46f16b0="" class="addr-input"><span data-v-a46f16b0=""
                                                                         class="active-area">활동 지역</span></div><!---->

                    </div>
                    <!--                    map start-->
                    <div class="map-wrapx" style="text-align: center">
                        <input type="text" placeholder="주소" style="width: 400px;
                                height: 48px; outline:none; border: 2px solid #00c7ae; border-radius: 5px;"
                                class="disabled" id="show-address-input" disabled="disabled" value="">
                        <input type="hidden" th:field="*{memberAddress}">
                        <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색" style="color: #fff;
                                background-color: #00c7ae;
                                border-style: none;
                                height: 48px;
                                border-radius: 0.25rem;"><br>
                        <div id="map" style="width:518px;height:300px;margin: 20px auto;display:none"></div>
                    </div>
                    <!--                    map end-->
                </div>
                <div data-v-f6f3ff14="" data-v-61b32e29="" class="step-navigator footer">
                    <div data-v-f6f3ff14="" class="wrapper">
                        <div data-v-f6f3ff14="" class="warning"></div>
                        <span data-v-f6f3ff14="" class="left btn-container"><button data-v-f6f3ff14="" type="button" onclick="location.href='/join/picker'"
                                                                                    class="btn btn-prev btn-outline-primary"> 이전 </button></span><span
                            data-v-f6f3ff14="" class="right btn-container"><button data-v-f6f3ff14="" type="submit"
                                                                                   onclick="location.href='/join/picker/detail'" class="btn btn-next btn-primary"> 다음 </button></span>
                    </div><!----></div>
            </form>
        </div>
    </div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5c8d8f8733f928d836ce54c96c0143ba&libraries=services"></script>
<script src="/js/join/pickerJoinOne.js"></script>
</html>