<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/join/joinNormal.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>
<body class="sign-up">
<header th:replace="/app/fix/header.html :: header"></header>
<div id="app" data-browser="Chrome" data-is-loaded="true" class="">
    <div class="__cov-progress"
         style="background-color: rgb(0, 199, 174); opacity: 0; position: fixed; top: 0px; left: 0px; width: 0%; height: 2px; transition: opacity 0.6s ease 0s;">
    </div>
    <div id="app-sticky-nav" class="vue-portal-target"></div>
    <div id="app-body">
        <div data-testid="customer-signup-page" class="customer-signup-page" data-v-55fec228="">
            <div data-v-55fec228="">
                <h1 data-v-55fec228="">숨고에 오신 것을 환영합니다</h1>
                <div data-v-55fec228="" class="card">
                    <form>
                        <div data-v-79992f5d="" data-v-55fec228="" no-gutters="" data-testid="signup-form"
                             class="form-row signup-form">
                            <div data-v-79992f5d="" class="col-12">
                                <fieldset data-v-79992f5d="" class="form-group text-field" id="__BVID__74">
                                    <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                            id="__BVID__74__BV_label_">이름
                                    </legend>
                                    <div><input data-v-79992f5d="" name="username" type="text"
                                                placeholder="이름(실명)을 입력해주세요"
                                                class="text-input form-control is-invalid"
                                                data-testid="signup-username" x-autocompletetype="off"
                                                autocompletetype="off" autocorrect="off" spellcheck="true"
                                                autocapitalize="off" maxlength="7" data-vv-validate-on="blur"
                                                aria-invalid="true" id="__BVID__75" autofocus>
                                        <div data-v-79992f5d="" class="invalid-feedback" style="display: none">이름을 입력해주세요.
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <fieldset data-v-79992f5d="" class="form-group text-field" id="__BVID__76">
                                    <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                            id="__BVID__76__BV_label_">이메일
                                    </legend>
                                    <div>
                                        <div data-v-79992f5d="" role="group" class="input-group float-button-right">
                                            <input data-v-79992f5d="" name="email" type="email"
                                                   placeholder="example@soomgo.com" autocomplete="off"
                                                   class="text-input form-control is-invalid"
                                                   data-testid="signup-email" x-autocompletetype="off" autocorrect="off"
                                                   spellcheck="true" autocapitalize="off" maxlength="30"
                                                   data-vv-validate-on="blur" aria-invalid="true" id="__BVID__77">
                                            <button
                                                    data-v-79992f5d="" type="button"
                                                    class="btn email-duplicate btn-secondary" disabled>중복 확인</button>
                                        </div>
                                        <div data-v-79992f5d="" class="invalid-feedback" style="display: none">이메일 주소를
                                            입력해주세요.
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <fieldset data-v-79992f5d="" class="form-group text-field" id="__BVID__78">
                                    <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                            id="__BVID__78__BV_label_">비밀번호
                                    </legend>
                                    <div>
                                        <div data-v-79992f5d="" role="group" class="input-group float-button-right">
                                            <input data-v-79992f5d="" name="password" type="password"
                                                   placeholder="영문+숫자 조합 8자리 이상 입력해주세요" autocomplete="new-password"
                                                   class="text-input form-control is-invalid"
                                                   data-testid="signup-password" x-autocompletetype="off" autocorrect="off"
                                                   spellcheck="false" autocapitalize="off" data-vv-validate-on="blur"
                                                   aria-invalid="true" id="__BVID__79" aria-autocomplete="list">
                                            <button
                                                    data-v-79992f5d="" type="button"
                                                    class="btn password-show btn-secondary">표시</button>
                                        </div>
                                        <div data-v-79992f5d="" class="invalid-feedback" style="display: none"> 비밀번호를
                                            입력해주세요.
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <fieldset data-v-79992f5d="" class="form-group text-field" id="pwCheckingForm">
                                    <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0"
                                            id="pwChecking_label_">비밀번호 확인
                                    </legend>
                                    <div>
                                        <div data-v-79992f5d="" role="group" class="input-group float-button-right">
                                            <input data-v-79992f5d="" type="password"
                                                   placeholder="영문+숫자 조합 8자리 이상 입력해주세요" autocomplete="new-password"
                                                   class="text-input form-control is-invalid"
                                                   data-testid="signup-password" x-autocompletetype="off" autocorrect="off"
                                                   spellcheck="false" autocapitalize="off" data-vv-validate-on="blur"
                                                   aria-invalid="true" id="pwChecking" aria-autocomplete="list">
                                            <button
                                                    data-v-79992f5d="" type="button"
                                                    class="btn password-show btn-secondary">표시</button>
                                        </div>
                                        <div data-v-79992f5d="" class="invalid-feedback" style="display: none"> 비밀번호가 일치하지 않습니다.
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <div data-v-20b04169="" data-v-79992f5d="" class="agree-to-terms-checkbox"><input
                                        data-v-20b04169="" id="agree-terms-checkbox-1667907552644" type="checkbox"
                                        name="agreeToTerms" class="agree-to-terms" aria-required="true"
                                        aria-invalid="false"><label data-v-20b04169=""
                                                                    for="agree-terms-checkbox-1667907552644"
                                                                    data-testid="agree-to-terms-checkbox-label">
                                    <p data-v-20b04169="" class="terms-wrapper"><span data-v-20b04169=""
                                                                                      class="terms">이용약관</span>, <span
                                            data-v-20b04169="" class="terms">개인정보
                                                수집 및 이용</span> 동의 (필수) </p>
                                </label>
                                    <p data-v-20b04169="" class="error-message" style="display: none"> 이용약관에 동의해주세요. </p>
                                </div>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <div data-v-9224195e="" data-v-79992f5d="" class="more-than-14-checkbox"><input
                                        data-v-9224195e="" id="more-than-14-checkbox-1667907552646" type="checkbox"
                                        name="moreThan14" class="more-than-14" aria-required="true"
                                        aria-invalid="false"><label data-v-9224195e=""
                                                                    data-testid="more-than-14-checkbox-label"
                                                                    for="more-than-14-checkbox-1667907552646">
                                    <p data-v-9224195e="" class="terms-wrapper">만 14세 이상 (필수)</p>
                                </label>
                                    <p data-v-9224195e="" class="error-message" style="display: none"> 만 14세 이상 가입에 동의해주세요. </p>
                                </div>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <button data-v-79992f5d="" data-testid="btn-signup"
                                        type="submit" class="btn btn-signup btn-primary">
                                    <span data-v-79992f5d="">회원가입</span>
                                    <span data-v-79992f5d="" style="display: none;">
                                        <div data-v-fc3fcce8="" data-v-79992f5d="" class="">
                                            <div data-v-fc3fcce8="" class="indicator-body"
                                                 style="width: 24px; height: 24px; border-width: 0.25rem; border-style: solid; border-color: rgb(255, 255, 255) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2); border-image: initial;">
                                            </div>
                                            <p data-v-fc3fcce8="" style="display: none;"></p>
                                        </div>
                                    </span>
                                </button>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <button data-v-6dfa1fbf="" data-v-79992f5d="" type="button" class="btn kakao-login-btn btn-secondary">
                                    <img data-v-6dfa1fbf="" src="https://assets.cdn.soomgo.com/icons/icon-login-kakaotalk-btn.svg">
                                    <span data-v-6dfa1fbf="">카카오로 가입하기</span>
                                </button>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <button data-v-d2f0a4f0="" data-v-79992f5d="" type="button" class="btn naver-id-login btn-secondary">
                                    <img data-v-d2f0a4f0="" src="https://assets.cdn.soomgo.com/icons/icon-login-naver-btn.svg">
                                    <span data-v-d2f0a4f0="">네이버로 가입하기</span>
                                </button>
                            </div>
                            <div data-v-79992f5d="" class="col-12">
                                <button data-v-0edf7af4="" data-v-79992f5d="" type="button" class="btn google-login-btn btn-secondary">
                                    <img data-v-0edf7af4="" src="/images/login/google.png">
                                    <span data-v-0edf7af4="">구글로 가입하기</span>
                                </button>
                            </div>
                            <div data-v-79992f5d="" class="col-12"><a data-v-79992f5d="" href="/pro"
                                                                      class="pro-sign-up"> 고수로 가입하시나요? </a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="vue-portal-target">
        <div class="toast-container vot-bottom-center"></div>
    </div>
    <div>
    </div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<script src="/js/join/joinNormal.js"></script>
</html>