<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>기사회원 설명</title>
    <link
            data-vue-meta="1"
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap"
    />
    <link rel="stylesheet" href="/css/jubgging/css68.css">
    <link rel="stylesheet" href="/css/jubgging/css69.css" />
    <link rel="stylesheet" href="/css/jubgging/css257.css" />
    <link rel="stylesheet" href="/css/jubgging/css75.css" />
    <link rel="stylesheet" href="/css/jubgging/css76.css" />
    <link rel="stylesheet" href="/css/jubgging/kmong.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>

<body>
<div>

<header th:replace="/app/fix/header.html :: header"></header>
<div id="app-body">
    <div data-v-593ade4e="" class="pro">
        <div data-v-593ade4e="" class="hero-image-container">
            <div data-v-593ade4e="" class="container container">
                <h1 data-v-593ade4e="">
                    기사가 되어<br data-v-593ade4e="" />
                    환경을 지켜주세요!
                </h1>
            </div>
        </div>

        <div data-v-6e7535bb="" data-v-593ade4e="" id="people">
            <div data-v-6e7535bb="" class="container">
                <div data-v-6e7535bb="" class="row">
                    <div data-v-6e7535bb="" class="col-12">
                        <h2 data-v-6e7535bb="">
                            그전에 잠깐!
                            <!---->안전이 최우선입니다.
                        </h2>
                        <p data-v-6e7535bb="" class="headline">
                            작은 실천으로 안전하고 즐거운 수거를 할 수 있습니다.
                        </p>
                    </div>
                </div>
                <div data-v-6e7535bb="" class="row">
                    <div data-v-6e7535bb="" class="col-4">
                        <h3 data-v-6e7535bb="">200,000+</h3>
                        <p data-v-6e7535bb="" class="label-count">
                            매년 교통사고 발생
                        </p>
                    </div>
                    <div data-v-6e7535bb="" class="col-4">
                        <h3 data-v-6e7535bb="">25,000+</h3>
                        <p data-v-6e7535bb="" class="label-count">
                            그 중 이륜차, 자전거 교통사고
                        </p>
                    </div>
                    <div data-v-6e7535bb="" class="col-4">
                        <h3 data-v-6e7535bb="">500+</h3>
                        <p data-v-6e7535bb="" class="label-count">이륜차, 자전거 교통사고 사망</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="section-02" id="section-02" tabindex="0" style="background: url('images/jubgging/jub.png') center top no-repeat;width:100%;height:573px;">

        </section>

        <section class="css-44ob05 e6qyvs40">
            <div class="css-4ajt1y e6qyvs41">
                <div class="css-gg4vpm e1sdoe380">
                    <div class="css-zo57ty e1sdoe381">
                        <h1 class="css-1qjs9ls e1sdoe384">기본부터 사고 후 대처까지<br />배울 수 있는 도로교통공단!</h1>
                        <h2 class="css-1blg2w3 e1sdoe385">누적 조회수 1072만!<br />다양한 차종에 대한 영상이 준비되어있으니<br/>여러분에게 필요한 교육을 시청해 보세요.</h2>
                    </div>
                    <iframe style="margin-top: 46px" width="560" height="315" src="https://www.youtube.com/embed/AS4xffVfBCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="css-7l5lee e1sdoe383">
                        <div class="css-1pishuq e1sdoe382">
                        </div>
                    </div>
                </div>
                <div class="css-ae3v06 e1o8iw1h0">
                    <article class="css-4wklnm e1o8iw1h1">
                        <h3 class="css-17mol43 e1o8iw1h2">다양한 종류</h3>
                        <h4 class="css-kay9jn e1o8iw1h3">사륜차 뿐만 아니라 오토바이, 전동킥보드 등의 이륜차에 대한 영상도 있습니다.</h4>
                        <div class="css-qhcigr e1o8iw1h4">
                  <span style=" box-sizing: border-box; display: inline-block; overflow: hidden; width: 28px; height: 28px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                      <img
                              alt="카드 0"
                              src="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-01%403x.png&w=320&q=75"
                              decoding="async"
                              data-nimg="fixed"
                              style="position: absolute;
                        inset: 0px;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;"
                              srcset="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-01%403x.png&w=320&q=75
                      " /><noscript></noscript
                  ></span>
                        </div>
                    </article>
                    <article class="css-4wklnm e1o8iw1h1">
                        <h3 class="css-17mol43 e1o8iw1h2">짧은 영상 길이</h3>
                        <h4 class="css-kay9jn e1o8iw1h3">대부분의 영상이 5분 내외로 되어있어 바쁜 현대인들의 시간을 아낄 수 있습니다.</h4>
                        <div class="css-qhcigr e1o8iw1h4">
                  <span
                          style="
                      box-sizing: border-box;
                      display: inline-block;
                      overflow: hidden;
                      width: 28px;
                      height: 28px;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                      position: relative;
                    "
                  ><img
                          alt="카드 1"
                          src="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-02%403x.png&w=320&q=75"
                          decoding="async"
                          data-nimg="fixed"
                          style="
                        position: absolute;
                        inset: 0px;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;
                      "
                          srcset="
                      https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-02%403x.png&w=320&q=75
                      " /><noscript></noscript
                  ></span>
                        </div>
                    </article>
                    <article class="css-4wklnm e1o8iw1h1">
                        <h3 class="css-17mol43 e1o8iw1h2">정의의 기사</h3>
                        <h4 class="css-kay9jn e1o8iw1h3">교육을 잘 받아 환경과 사람 모두를 지킬 수 있습니다.</h4>
                        <div class="css-qhcigr e1o8iw1h4">
                  <span
                          style="
                      box-sizing: border-box;
                      display: inline-block;
                      overflow: hidden;
                      width: 28px;
                      height: 28px;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                      position: relative;
                    "
                  ><img
                          alt="카드 2"
                          src="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-03%403x.png&w=320&q=75"
                          decoding="async"
                          data-nimg="fixed"
                          style="
                        position: absolute;
                        inset: 0px;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;
                      "
                          srcset="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-03%403x.png&w=320&q=75
                      " /><noscript></noscript
                  ></span>
                        </div>
                    </article>
                </div>
                <div style="text-align: right">
                    <a href="https://www.youtube.com/watch?v=7bS8Qkj_Gcw&list=PLfbZxhPbZke-kzfUtJvvvJxySJjenRkfR">더보기</a>
                </div>
            </div>
        </section>

        <div data-v-d92feee2="" data-v-593ade4e="" id="operation">
            <div data-v-d92feee2="" class="container">
                <div data-v-d92feee2="" class="row">
                    <div data-v-d92feee2="" class="col-12">
                        <h2 data-v-d92feee2="">교육을 잘 받으셨나요?</h2>
                    </div>
                </div>
                <div data-v-d92feee2="">
                    <div data-v-d92feee2="" >
                        <figure data-v-d92feee2="" class="num">
                            <h3 data-v-d92feee2="">모두의 행복을 위해 안전운전을 부탁드려요!</h3>
<!--                            <figcaption data-v-d92feee2="">-->
<!--                                모두의 행복을 위해 안전운전을 부탁드려요!-->
<!--                            </figcaption>-->
                        </figure>
                    </div>
                    <div data-v-d92feee2="" class="col-12">
                        <a data-v-d92feee2="" href="http://localhost:10001/join/joinpicker1" class="btn btn-primary btn-lg" target="_self" style="margin-top: 35px;">가입하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/headerLogin.js"></script>
</html>
