*, :after, :before {
    box-sizing: border-box;
}
* {
    word-break: break-word;
}
body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}
body, html {
    height: 100%;
}

.h1, h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
    letter-spacing: -.04375rem;
}
.h1, .h2, h1, h2 {
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h1[data-v-a46f16b0] {
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p[data-v-a46f16b0] {
    margin-bottom: 1.875rem;
}
img {
    border-style: none;
}
img, svg {
    vertical-align: middle;
}
input{
    outline: none;
}
input::placeholder{
    color: #b5b5b5;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto, .modal .modal-footer .btn {
    position: relative;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
#app {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
}#app #app-body, #app #app-header {
    opacity: 0;
    transition: opacity .3s ease-in;
}
#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}
#app[data-is-loaded=true], #app[data-is-loaded=true] #app-body, #app[data-is-loaded=true] #app-header, #app[data-is-loaded=true] #app-sticky-nav {
    opacity: 1;
}
.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #fafafa;
}
#id_pro_form[data-v-61b32e29] {
    background: #fff;
    margin: 0 0 7.6875rem;
}
.signup-progress-bar[data-v-2b9a1ce0] {
    position: relative;
    margin: 0 -0.9375rem 2.5rem;
}
.progress {
    height: 1rem;
    font-size: .75rem;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
}
.progress, .progress-bar {
    display: flex;
    overflow: hidden;
}
.signup-progress-bar .progress[data-v-2b9a1ce0] {
    height: 0.25rem;
    background-color: #f2f2f2;
    border-radius: 0;
}


.progress-bar {
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #00c7ae;
    transition: width .6s ease;
}

@media (prefers-reduced-motion: reduce){
.progress-bar {
    transition: none;
}
}
.signup-progress-bar .progress[data-v-2b9a1ce0] .progress-bar {
    background-color: #00c7ae;
}

.signup-progress-bar .value-text[data-v-2b9a1ce0] {
    margin-top: 0.25rem;
    text-align: center;
    font-size: .75rem;
    color: #00c7ae;
    font-weight: 500;
    line-height: normal;
}

#id_pro_form #step1[data-v-61b32e29], #id_pro_form #step2[data-v-61b32e29], #id_pro_form #step3[data-v-61b32e29], #id_pro_form #step4[data-v-61b32e29] {
    width: 100%;
}
.information-step h1[data-v-66225419] {
    margin-bottom: 3.625rem;
}
@media (min-width: 768px){
.information-step h1[data-v-66225419] {
    margin-bottom: 4.5rem;
}
}
#id_pro_form #step1[data-v-61b32e29] h1, #id_pro_form #step2[data-v-61b32e29] h1, #id_pro_form #step3[data-v-61b32e29] h1, #id_pro_form #step4[data-v-61b32e29] h1 {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: #351b1b;
    line-height: normal;
}
.information-step .step-body[data-v-66225419] {
    background-color: #fff;
}
.form-group {
    margin-bottom: 1rem;
}
.information-step .form-group[data-v-66225419] {
    margin-bottom: 1.5rem;
    position: relative;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.information-step .form-group label[data-v-66225419] {
    font-weight: 500;
    margin-bottom: 0.375rem;
    text-align: left;
    font-size: 1rem;
    color: #4d4d4d;
}




button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion: reduce){
.form-control {
    transition: none;
}
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #00c7ae;
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #ccc;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #fa5963;
}
.form-control.is-invalid, input.form-control.is-valid, textarea.form-control.is-valid {
    background-image: none;
}
.information-step .form-group .form-control[data-v-66225419] {
    border-color: #e1e1e1;
    padding: 0.75rem;
}
.information-step .form-group .form-control.is-invalid[data-v-66225419] {
    border-color: #fa5963;
}

.input-lg.form-control:focus {
    border-color: #e1e1e1;
    box-shadow: 0px 0px 2px 2px #00c7acf5;
}
.input-lg.form-control.is-invalid:focus{
    box-shadow: 0px 0px 2px 2px #fa5963;
}

.email-show{
    position: absolute;
    top: 1px;
    right: 4px;
    height: 100%;
    background-color: transparent;
    border: none;
    z-index: 10;
    text-align: right;
    color: #00c7ae;
    font-weight: 400;
    font-size: .8rem;
}

.email-show:disabled{
    color: #f1f1f1;
    cursor: default;
}

.password-show{
    position: absolute;
    top: 1px;
    right: 4px;
    height: 100%;
    background-color: transparent;
    border: none;
    z-index: 10;
    text-align: right;
    color: #00c7ae;
    font-weight: 400;
    font-size: .8rem;
}

.answer-input.form-control.is-invalid:focus{
    border-color: #e1e1e1;
    box-shadow: 0px 0px 2px 2px #00c7acf5;
}
.answer-input.form-control.is-invalid.error:focus{
    box-shadow: 0px 0px 2px 2px #fa5963;
}

.answer-input.form-control.is-valid:focus{
    box-shadow: 0px 0px 2px 2px #00c7acf5;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fa5963;
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    display: block;
}

.information-step .form-group p.error[data-v-66225419], .information-step .form-group p.info[data-v-66225419] {
    font-size: .875rem;
}


.information-step .form-group[data-v-66225419] {
    margin-bottom: 1.5rem;
    position: relative;
}


.information-step .form-group .gender-radio[data-v-66225419] {
    display: flex;
    margin: 0 -0.3125rem;
}

.information-step .form-group .gender-radio>span[data-v-66225419] {
    padding: 0.3125rem;
    flex-basis: 50%;
}


.information-step .form-group .gender-radio>span .radio.selected[data-v-66225419] {
    color: #fff;
    background-color: #00c7ae;
}
.information-step .form-group .gender-radio>span .radio[data-v-66225419] {
    cursor: pointer;
    text-align: center;
    width: 100%;
    border-radius: 0.25rem;
    border: 0.0625rem solid #e1e1e1;
    padding: 0.75rem;
    font-size: 1rem;
}
.information-step .form-group .gender-radio.is-invalid>span .radio[data-v-66225419] {
    border: 0.0625rem solid #fa5963;
    background: #fff;
    color: #323232;
}
.information-step .form-group .input-lg+.form-action[data-v-66225419] {
    display: none;
}

.input-label[data-v-b5001060] {
    font-size: 1rem;
    font-weight: 500;
    color: #323232;
    margin: 0;
    padding-bottom: 0.375rem;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}


.input-group[data-v-b5001060] {
    align-items: center;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .answer-input[data-v-b5001060] {
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    padding: 0.75rem 5.75rem 0.75rem 0.75rem;
}
.input-group .answer-input.error[data-v-b5001060] {
    border-color: #fa5963;
}
.input-group .answer-input.complete-phone-auth[data-v-b5001060] {
    background-color: #f2f2f2;
    pointer-events: none;
    color: #b5b5b5;
    border-radius: 0.25rem;
    border: none;
}
[hidden] {
    display: none!important;
}
.input-group-append, .input-group-prepend {
    display: flex;
}
.input-group-append {
    margin-left: -0.0625rem;
}
.button-wrapper[data-v-b5001060] {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
}
button {
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}


[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.send-button[data-v-b5001060] {
    width: 4.5rem;
    height: 1.75rem;
    font-size: .875rem;
    border: none;
    border-radius: 0.25rem;
    padding: 0.1875rem 0.625rem;
    color: #fff;
    background-color: #00c7ae;
    outline: none;
    z-index: 3;
}

.send-button.disabled[data-v-b5001060] {
    background-color: #e1e1e1;
    pointer-events: none;
}


.validation-msg-wrapper[data-v-b5001060] {
    font-size: .875rem;
    font-weight: 400;
}

.validation[data-v-b5001060] {
    margin: 0;
    padding-top: 0.25rem;
    color: #fa5963;
}


.information-step .terms[data-v-66225419] {
    margin-top: 1.5rem;
}
.information-step[data-v-66225419] .agree-to-terms-checkbox {
    margin-bottom: 0.625rem;
}


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.agree-to-terms-checkbox input[type=checkbox][data-v-20b04169] {
    display: none;
}
.agree-to-terms-checkbox input[type=checkbox]~label[data-v-20b04169] {
    margin: 0;
    cursor: pointer;
}
.agree-to-terms-checkbox .terms-wrapper[data-v-20b04169] {
    font-size: .875rem;
    color: #737373;
    margin: 0;
    padding-left: 1.75rem;
    line-height: 1.25rem;
}
.agree-to-terms-checkbox .terms-wrapper .terms[data-v-20b04169] {
    color: #00c7ae;
    text-decoration: underline;
    cursor: pointer;
}


.more-than-14-checkbox input[type=checkbox][data-v-9224195e] {
    display: none;
}
.more-than-14-checkbox input[type=checkbox]~label[data-v-9224195e] {
    margin: 0;
    cursor: pointer;
}
.more-than-14-checkbox .terms-wrapper[data-v-9224195e] {
    font-size: .875rem;
    color: #737373;
    margin: 0;
    padding-left: 1.75rem;
    line-height: 1.25rem;
}


.agree-to-terms-checkbox input[type=checkbox]~label[data-v-20b04169]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}
.agree-to-terms-checkbox input[type=checkbox]:checked~label[data-v-20b04169]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiMwMEM3QUUiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}
.agree-to-terms-checkbox .error-message[data-v-20b04169] {
    color: #fa5963;
    font-size: .875rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
}
.more-than-14-checkbox input[type=checkbox]~label[data-v-9224195e]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}
.more-than-14-checkbox input[type=checkbox]:checked~label[data-v-9224195e]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiMwMEM3QUUiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}
.more-than-14-checkbox .error-message[data-v-9224195e] {
    color: #fa5963;
    font-size: .875rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
}
div.step-navigator[data-v-f6f3ff14] {
    padding: 0.4375rem 0.5625rem;
    border: 0.0625rem solid #f2f2f2;
    background-color: #fff;
}
@media (min-width: 768px){
div.step-navigator[data-v-f6f3ff14] {
    text-align: center;
    padding: 0.375rem 0;
}
}
#id_pro_form .footer[data-v-61b32e29] {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
div.step-navigator .wrapper[data-v-f6f3ff14] {
    display: flex;
    justify-content: space-between;
}
div.step-navigator .wrapper .warning[data-v-f6f3ff14] {
    margin-right: auto;
    color: #fa5963;
    font-size: .875rem;
    line-height: normal;
}
div.step-navigator .wrapper .btn-container[data-v-f6f3ff14] {
    width: 50%;
    padding: 0.375rem;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion: reduce){
.btn {
    transition: none;
}
}
.btn-outline-primary {
    color: #00c7ae;
    border-color: #00c7ae;
}
.btn-primary {
    color: #fff;
    background-color: #00c7ae;
    border-color: #00c7ae;
}
.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn:hover {
    color: #323232;
    text-decoration: none;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #00a18d;
    border-color: #009481;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #00c7ae;
    border-color: #00c7ae;
}
.btn[class*=btn-outline]:hover {
    opacity: .6;
}

#step3 .addr-search[data-v-a46f16b0] {
    background-color: #fff;
    margin-bottom: 1.5rem;
}
#step3 .addr-search .addr-input[data-v-a46f16b0] {
    display: flex;
    align-items: center;
    font-weight: 500;
}
#step3 .addr-search .addr-input .active-area[data-v-a46f16b0] {
    font-size: 1rem;
    margin: 0.625rem 0;
    display: inline-block;
}
#step3 .addr-search .addr-input .edit-addr-btn[data-v-a46f16b0] {
    margin-left: auto;
    color: #00c7ae;
    cursor: pointer;
}
#step3 .addr-search .col-12[data-v-a46f16b0] {
    padding: 0;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #f2f2f2;
    opacity: 1;
}
#step3 .addr-search .id-addr1[data-v-a46f16b0] {
    color: #737373;
}
#step3 .map-distance[data-v-a46f16b0] {
    background-color: #fff;
}
#step3 .map-distance .title[data-v-a46f16b0] {
    margin-bottom: 0.5rem;
    font-weight: 500;
}











div.step-navigator .wrapper .btn-container .btn-prev[data-v-f6f3ff14] {
    border-color: #e1e1e1;
}
div.step-navigator .wrapper .btn-container .btn[data-v-f6f3ff14] {
    width: 100%;
}

div.step-navigator .wrapper .btn-container[data-v-f6f3ff14] {
    width: 50%;
    padding: 0.375rem;
}

@media (min-width: 768px){
body.pro-signup {
    background-color: #f9f9f9;
}
}

@media (min-width: 576px){
.container {
    max-width: 33.75rem;
}
}
@media (min-width: 768px){
.container {
    max-width: 45rem;
}
}
@media (min-width: 992px){
.container {
    max-width: 60rem;
}
}
@media (min-width: 1200px){
.container {
    max-width: 62.5rem;
}
}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 33.75rem;
}
}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 45rem;
}
}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 60rem;
}
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 62.5rem;
    }
}

@media (min-width: 768px){
    .container[data-v-61b32e29] {
        width: auto;
    }
}


@media (min-width: 768px){
    #id_pro_form[data-v-61b32e29] {
        max-width: 37.5rem;
        margin: 3.125rem auto 7.6875rem;
        padding: 2.5rem;
        border-radius: 8px;
        border: 0.0625rem solid #f2f2f2;
    }
    }
    @media (min-width: 768px){
    .signup-progress-bar[data-v-2b9a1ce0] {
        margin: 0 0 2.5rem;
    }
    }
    @media (min-width: 768px){
    .signup-progress-bar .progress[data-v-2b9a1ce0] {
        border-radius: 0.25rem;
    }
    }
    @media (min-width: 768px){
    .signup-progress-bar .value-text[data-v-2b9a1ce0] {
        margin-top: 0.5rem;
    }
    }
    @media (min-width: 768px){
    #id_pro_form #step1[data-v-61b32e29] h1, #id_pro_form #step2[data-v-61b32e29] h1, #id_pro_form #step3[data-v-61b32e29] h1, #id_pro_form #step4[data-v-61b32e29] h1 {
        font-size: 1.5rem;
    }
    }
    @media (min-width: 768px){
    div.step-navigator .wrapper[data-v-f6f3ff14] {
        width: 37.5rem;
        justify-content: flex-end;
        display: inline-flex;
        flex-direction: row;
        padding: 0 2rem 0 2.5rem;
        align-items: center;
    }
    }
    @media (min-width: 768px){
    div.step-navigator .wrapper .btn-container[data-v-f6f3ff14] {
        width: 8.25rem;
    }
    }




    @media (min-width: 768px){
        p[data-v-a46f16b0] {
            margin-bottom: 2.5rem;
        }
    }

    #id_pro_form #step1[data-v-61b32e29] p.headline, #id_pro_form #step2[data-v-61b32e29] p.headline, #id_pro_form #step3[data-v-61b32e29] p.headline, #id_pro_form #step4[data-v-61b32e29] p.headline {
        text-align: center;
        font-size: .875rem;
        height: 1.25rem;
        font-weight: 500;
        line-height: normal;
        color: #737373;
    }
    
    @media (min-width: 768px){
        #id_pro_form #step1[data-v-61b32e29] p.headline, #id_pro_form #step2[data-v-61b32e29] p.headline, #id_pro_form #step3[data-v-61b32e29] p.headline, #id_pro_form #step4[data-v-61b32e29] p.headline {
            font-size: 1rem;
        }
    }