

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
    --blue: #4785ff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ff3131;
    --orange: #fd7e14;
    --yellow: #ffce21;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #999;
    --gray-dark: #525252;
    --primary: #00c7ae;
    --secondary: #e1e1e1;
    --success: #00c7ae;
    --info: #17a2b8;
    --warning: #ffce21;
    --danger: #ff3131;
    --light: #fafafa;
    --dark: #525252;
    --breakpoint-xs: 0;
    --breakpoint-sm: 36rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 62rem;
    --breakpoint-xl: 75rem;
    --font-family-sans-serif: "Noto Sans KR","Malgun Gothic",-apple-system,"Segoe UI",Roboto,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
style attribute {
    --gnb-height: 0px;
}   










*, :after, :before {
    box-sizing: border-box;
}
* {
    word-break: break-word;
}
body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}
body, body.hide-mobile-global-header #app, html {
    height: 100%;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.h1, h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
    letter-spacing: -.04375rem;
}
.h1, .h2, h1, h2 {
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
a {
    color: #323232;
    background-color: transparent;
}

a, a:hover {
    text-decoration: none;
}

#app[data-is-loaded=true], #app[data-is-loaded=true] #app-body, #app[data-is-loaded=true] #app-header, #app[data-is-loaded=true] #app-sticky-nav {
    opacity: 1;
}
.login #app, .sign-up #app {
    background: #fafafa;
}
#app {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
}
.__cov-progress {
    opacity: 1;
    z-index: 999999;
}
#app #app-sticky-nav {
    position: sticky;
    top: 3.625rem;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateY(-100%);
}

#app #app-body, #app #app-header {
    opacity: 0;
    transition: opacity .3s ease-in;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}
.customer-signup-page[data-v-55fec228] {
    background-color: #fafafa;
    padding: 5rem 0;
}
.customer-signup-page h1[data-v-55fec228] {
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 500;
    font-size: 2.125rem;
    line-height: normal;
    letter-spacing: normal;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card {
    border: none;
    border-radius: 4px;
    box-shadow: 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 20%);
}
.card[data-v-55fec228] {
    width: 26.25rem;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 0.5rem;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: none;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem;
}
.form-row>.col, .form-row>[class*=col-], .modal .modal-footer .form-row>.btn {
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto, .modal .modal-footer .btn {
    position: relative;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.form-group {
    margin-bottom: 1rem;
}
.signup-form .text-field[data-v-79992f5d] {
    font-weight: 500;
    margin-bottom: 1.5rem;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
.col-form-label {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.pt-0, .py-0 {
    padding-top: 0!important;
}
.signup-form[data-v-79992f5d] .col-form-label {
    font-size: 1rem;
    padding-bottom: 0.375rem;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #fa5963;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

.form-control.is-invalid, input.form-control.is-valid, textarea.form-control.is-valid {
    background-image: none;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.signup-form .text-input[data-v-79992f5d] {
    padding: 0.75rem;
    border-radius: 4px;
    border: 0.0625rem solid #e1e1e1;
}


.signup-form .float-button-right .form-control[data-v-79992f5d] {
    padding-right: 3.125rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.signup-form .text-input.invalid[data-v-79992f5d] {
    border: 0.0625rem solid #fa5963;
}
.signup-form button.btn[data-v-79992f5d] {
    width: 100%;
}
.signup-form button.btn.password-show[data-v-79992f5d] {
    font-size: .8rem;
}

.signup-form .float-button-right button.btn[data-v-79992f5d] {
    position: absolute;
    top: -4px;
    right: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    width: 5.125rem;
    z-index: 10;
    text-align: right;
    color: #00c7ae;
    font-weight: 400;
    font-size: .8rem;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fa5963;
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    display: block;
}
.signup-form .invalid-feedback[data-v-79992f5d] {
    display: block;
    width: auto;
    font-size: .875rem;
    margin-top: 0.25rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}

.signup-form[data-v-79992f5d] .agree-to-terms-checkbox {
    margin-bottom: 0.625rem;
}
.agree-to-terms-checkbox input[type=checkbox][data-v-20b04169] {
    display: none;
}
input{
    outline: none;
}
input::placeholder{
    color: #b5b5b5;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.agree-to-terms-checkbox input[type=checkbox]~label[data-v-20b04169] {
    margin: 0;
    cursor: pointer;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.agree-to-terms-checkbox input[type=checkbox]~label[data-v-20b04169]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}
.agree-to-terms-checkbox input[type=checkbox]:checked~label[data-v-20b04169]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiMwMEM3QUUiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}

.agree-to-terms-checkbox .terms-wrapper[data-v-20b04169] {
    font-size: .875rem;
    color: #737373;
    margin: 0;
    padding-left: 1.75rem;
    line-height: 1.25rem;
}
.agree-to-terms-checkbox .terms-wrapper .terms[data-v-20b04169] {
    color: #00c7ae;
    text-decoration: underline;
    cursor: pointer;
}
.agree-to-terms-checkbox .error-message[data-v-20b04169] {
    color: #fa5963;
    font-size: .875rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
}
.signup-form[data-v-79992f5d] .more-than-14-checkbox {
    margin-bottom: 1.75rem;
}
.more-than-14-checkbox input[type=checkbox][data-v-9224195e] {
    display: none;
}
.more-than-14-checkbox input[type=checkbox]~label[data-v-9224195e] {
    margin: 0;
    cursor: pointer;
}
.more-than-14-checkbox input[type=checkbox]~label[data-v-9224195e]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}
.more-than-14-checkbox input[type=checkbox]:checked~label[data-v-9224195e]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiMwMEM3QUUiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
}
.more-than-14-checkbox .terms-wrapper[data-v-9224195e] {
    font-size: .875rem;
    color: #737373;
    margin: 0;
    padding-left: 1.75rem;
    line-height: 1.25rem;
}
.more-than-14-checkbox .error-message[data-v-9224195e] {
    color: #fa5963;
    font-size: .875rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
}
/* [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
} */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn-primary {
    color: #fff;
    background-color: #00c7ae;
    border-color: #00c7ae;
}
.btn-secondary {
    color: #323232;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}
.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}
button[data-v-0edf7af4] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn:hover {
    color: #323232;
    text-decoration: none;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #00a18d;
    border-color: #009481;
}


.signup-form button.btn.btn-signup[data-v-79992f5d] {
    margin-top: 0.75rem;
}
.signup-form button.btn span[data-v-79992f5d] {
    color: #fff;
}
.signup-form button.btn[data-v-79992f5d] .indicator-body {
    margin: 0 auto;
}
.indicator-body[data-v-fc3fcce8] {
    border-radius: 50%;
    -webkit-animation: spin-data-v-fc3fcce8 1s ease-in-out infinite;
    animation: spin-data-v-fc3fcce8 1s ease-in-out infinite;
}
p[data-v-fc3fcce8] {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}

/*button.btn[data-v-0edf7af4] {*/
/*    background-color: #1876f1;*/
/*    border-color: #1876f1;*/
/*    color: #fff;*/
/*    width: 100%;*/
/*}*/
/*button.btn[data-v-0edf7af4]:hover {*/
/*    color: #fff;*/
/*    background-color: #0d64d6;*/
/*    border-color: #0c5eca;*/
/*}*/
button.btn[data-v-6dfa1fbf] {
    color: #323232;
    background-color: #fee500;
    border-color: #fee500;
    color: rgba(0,0,0,.85);
    width: 100%;
}
button.btn[data-v-6dfa1fbf]:hover {
    color: #323232;
    background-color: #d8c300;
    border-color: #cbb700;
}

.naver-id-login.btn[data-v-d2f0a4f0] {
    background-color: #03c75a;
    border-color: #03c75a;
    color: #fff;
    width: 100%;
}
.naver-id-login.btn[data-v-d2f0a4f0]:hover {
    color: #fff;
    background-color: #02a149;
    border-color: #029543;
}
button.btn[data-v-0edf7af4] {
    background-color: #fff;
    border-color: rgb(219 219 219);
    color: #000;
    width: 100%;
}

.google-login-btn > img{
    width: 20px;
    height: 20px;
    margin-left: -16px;
}
.btn{
    margin: 5px 0px;
}


img {
    border-style: none;
}
img, svg {
    vertical-align: middle;
}
.btn.btn-outline-secondary, .btn.btn-secondary {
    color: #737373;
}
button.btn span[data-v-0edf7af4] {
    margin-left: 0.5rem;
}
.signup-form .pro-sign-up[data-v-79992f5d] {
    font-weight: 500;
    color: #737373;
    margin: 1.5rem 0 0.75rem;
    display: block;
    text-align: center;
}


.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}



.signup-form .float-button-right[data-v-79992f5d] {
    position: relative;
}
.text-input.form-control.is-invalid:focus {
    border: 0.0625rem solid #e1e1e1;
    box-shadow: 0px 0px 2px 2px #00c7acf5;
}
.text-input.form-control.is-invalid.invalid:focus{
    box-shadow: 0px 0px 2px 2px #fa5963;
}


.btn.email-duplicate:disabled {
    color: #FFE1E1E1 !important;
    cursor: default !important;
}


@media (min-width: 992px){
    #app #app-sticky-nav {
        top: 4.5rem;
    }
}
@media (prefers-reduced-motion: reduce){
    .form-control {
        transition: none;
    }
}
@media (prefers-reduced-motion: reduce){
    .btn {
        transition: none;
    }
}

@media (min-width:768px) {
    [data-v-aa47da8c] .agree-to-terms-modal .modal-content .modal-header {
        padding: 1.75rem 1.75rem .5rem;
        height: 3.75rem
    }
}

@media (min-width:768px) {
    [data-v-aa47da8c] .agree-to-terms-modal .modal-content .modal-body {
        padding: 0 1.75rem 1.75rem
    }
}

@media (min-width:768px) {
    [data-v-aa47da8c] .agree-to-terms-modal .modal-content .title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem
    }
}

@media (min-width:768px) {
    [data-v-aa47da8c] .agree-to-terms-modal .modal-content .button-wrapper {
        position: static;
        margin-top: 2.5rem;
        padding: 0
    }
}

@media (max-width:991.98px) {
    .customer-signup-page h1[data-v-55fec228] {
        font-size: 1.75rem;
        text-align: left;
        padding-left: 1rem
    }
}

@media (max-width:991.98px) {
    .customer-signup-page[data-v-55fec228] {
        background-color: #fff;
        padding-top: 2.5rem
    }
}

@media (max-width:991.98px) {
    .card[data-v-55fec228] {
        width: 100%;
        border: none;
        padding: 0 1rem
    }
}