<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 기사메인</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
    <link rel="stylesheet" href="/css/pickup/pickMain.css">

</head>

<body class="fontLoaded">
<div>
    <!-- 로그인 된 기사님만 들어올 수 있음 -->
    <header th:replace="/app/fix/headerLoginPicker.html :: header"></header>
    <div id="app" style="opacity: 1">
        <div class="App__AppWrapper-nc5ti6-0 idXWQn">
            <div class="Top__TopToastMessage-boaj4f-0 ToastContainer__ExtendedTopToastMessage-sqfjqn-2 hKZUBk"
                 style="top: -88px;"></div>
            <div class="ToastContainer__BottomToastWrapper-sqfjqn-0 boEfOZ">
                <div class="PageWrapper-sc-1w87j10-0 ToastContainer__ToastPageWrapper-sqfjqn-1 eskQgv">
                    <div></div>
                </div>
            </div>

            <div class="PageWrapper-sc-1w87j10-0 bScXKt">

                <!-- BEGIN : 카테고리 -->
                <div class="Padded-sc-1mbfr4n-0 KOZEV">
                    <h1 font-size="20px" class="Left__LeftPageTitle-sc-12djr3w-0 cqeeCQ">카테고리</h1>
                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block;">
                        <div class="CategoryList__Wrapper-l9zk8m-0 hWBKQy">
                            <!-- 수거 신청 -->
                            <a th:href="@{/pickup/wantedlist}"
                               class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                                <div class="CategoryItem__Category-sc-7y9o4v-1 dXlPAQ">
                                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF" style="opacity: 1;"></div>
                                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div>
                                    <span>수거신청</span>
                                </div>
                            </a>
                            <!-- 수거 현황 -->
                            <a th:href="@{/pickup/acceptedlist}"
                               class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                                <div class="CategoryItem__Category-sc-7y9o4v-1 lkwiLY">
                                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF" style="opacity: .7;"></div>
                                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div>
                                    <span>수거현황</span>
                                </div>
                            </a>
                            <!-- 수거 내역 -->
                            <a th:href="@{/pickup/finishedlist}"
                               class="CategoryItem__A-sc-7y9o4v-0 gePshk">
                                <div class="CategoryItem__Category-sc-7y9o4v-1 hgfmjb">
                                    <div class="CategoryItem__BackgroundDeemed-sc-7y9o4v-2 dVWsbF"></div>
                                    <div class="CategoryItem__TextDeemed-sc-7y9o4v-3 fjwRlv"></div>
                                    <span>완료내역</span>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- END : 카테고리 -->

                <br><br>

                <!-- BEGIN : 수거 가이드 -->
                <!-- 정적 데이터 : 변경 없음 -->
                <div class="widget board _list_wrap">
                    <h1 font-size="20px" class="Left__LeftPageTitle-sc-12djr3w-0 cqeeCQ" style="border-bottom: 1px solid #646464;
                    padding-bottom: 16px;
                    margin-bottom: 10px;">수거 가이드</h1>
                    <div class="li_table  hide_writer  hide_time  hide_hit_cnt  hide_comment_cnt  row_04 type_row container_border"
                         id="post_card_b2020010555a90add4fa95">
                        <!-- BEGIN : 수거 가이드 1 -->
                        <div class="acd_group accordion" aria-multiselectable="true">
                            <div class="acd_row">
                                <div class="acd_heading">
                                    <h4 class="acd_title" style="margin: 10px 0 10px">
                                        <a class="tabled full-width holder">

                                            <!-- 순서 -->
                                            <div class="number" style="
    display: inline-block;
    margin-right: 10px;
"><span>1</span></div>

                                            <!-- 카테고리 -->
                                            <div class="category" style="display: inline-block;"><span>수거</span></div>

                                            <!-- 제목 -->
                                            <div class="title">
                                                <div class="tabled">
                                                    <span class="table-cell">아이디와 비밀번호가 기억나지 않아요.</span>
                                                </div>
                                            </div>

                                            <span class="icon_warp">
                                                <i class="acd_icon icon-arrow-up hidden"></i>
                                                <i class="acd_icon icon-arrow-down"></i>
                                            </span>
                                        </a>
                                    </h4>
                                </div>

                                <div class="acd_collapse collapse"
                                     data-code="p20200718753a06c1de2a1">
                                    <div class="acd_body">

                                        <!-- 내용 -->
                                        <div class="board_contents fr-view">
                                            우측 상단의 'Login' 메뉴에 접속하여 '내계정찾기'를 통해 아이디와 비밀번호를 찾으실 수 있습니다.<br>
                                            아이디는 이메일 형식이며, 계정 정보는 가입하신 이메일 주소로 전달됩니다.<br>
                                            가입하신 이메일 주소를 통해 비밀번호를 재설정하실 수 있습니다.
                                            <div class="file_area"></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END : 수거 가이드 1 -->

                        <!-- BEGIN : 수거 가이드 2 -->
                        <div class="acd_group accordion" aria-multiselectable="true">

                            <div class="acd_row  ">

                                <div class="acd_heading">
                                    <h4 class="acd_title" style="margin: 10px 0 10px">
                                        <a class="tabled full-width holder">
                                            <div class="number" style="
    display: inline-block;
    margin-right: 10px;
"><span>2</span></div>
                                            <div class="category" style="
    display: inline-block;
"><span>수거</span></div>
                                            <div class="title">
                                                <div class="tabled">
                                                    <span class="table-cell">아이디와 비밀번호가 기억나지 않아요.</span>
                                                </div>
                                            </div>

                                            <span class="icon_warp">
                                                <i class="acd_icon icon-arrow-up hidden"></i>
                                                <i class="acd_icon icon-arrow-down"></i>
                                            </span>
                                        </a>
                                    </h4>
                                </div>

                                <div class="acd_collapse collapse "
                                     data-code="p20200718753a06c1de2a1">
                                    <div class="acd_body">

                                        <div class="board_contents fr-view">
                                            우측 상단의 'Login' 메뉴에 접속하여 '내계정찾기'를 통해 아이디와 비밀번호를 찾으실 수 있습니다.<br>
                                            아이디는 이메일 형식이며, 계정 정보는 가입하신 이메일 주소로 전달됩니다.<br>
                                            가입하신 이메일 주소를 통해 비밀번호를 재설정하실 수 있습니다.
                                            <div class="file_area"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END : 수거 가이드 2 -->

                        <!-- BEGIN : 수거 가이드 3 -->
                        <div class="acd_group accordion" aria-multiselectable="true">

                            <div class="acd_row  ">

                                <div class="acd_heading">
                                    <h4 class="acd_title" style="margin: 10px 0 10px">
                                        <a class="tabled full-width holder">
                                            <div class="number" style="
    display: inline-block;
    margin-right: 10px;
"><span>3</span></div>
                                            <div class="category" style="
    display: inline-block;
"><span>수거</span></div>
                                            <div class="title">
                                                <div class="tabled">
                                                    <span class="table-cell">아이디와 비밀번호가 기억나지 않아요.</span>
                                                </div>
                                            </div>

                                            <span class="icon_warp">
                                                <i class="acd_icon icon-arrow-up hidden"></i>
                                                <i class="acd_icon icon-arrow-down"></i>
                                            </span>
                                        </a>
                                    </h4>
                                </div>

                                <div class="acd_collapse collapse "
                                     data-code="p20200718753a06c1de2a1">
                                    <div class="acd_body">

                                        <div class="board_contents fr-view">
                                            우측 상단의 'Login' 메뉴에 접속하여 '내계정찾기'를 통해 아이디와 비밀번호를 찾으실 수 있습니다.<br>
                                            아이디는 이메일 형식이며, 계정 정보는 가입하신 이메일 주소로 전달됩니다.<br>
                                            가입하신 이메일 주소를 통해 비밀번호를 재설정하실 수 있습니다.
                                            <div class="file_area"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END : 수거 가이드 3 -->

                        <!-- BEGIN : 수거 가이드 4 -->
                        <div class="acd_group accordion" aria-multiselectable="true">

                            <div class="acd_row  ">

                                <div class="acd_heading">
                                    <h4 class="acd_title" style="margin: 10px 0 10px">
                                        <a class="tabled full-width holder">
                                            <div class="number" style="
    display: inline-block;
    margin-right: 10px;
"><span>4</span></div>
                                            <div class="category" style="
    display: inline-block;
"><span>수거</span></div>
                                            <div class="title">
                                                <div class="tabled">
                                                    <span class="table-cell">아이디와 비밀번호가 기억나지 않아요.</span>
                                                </div>
                                            </div>

                                            <span class="icon_warp">
                                                <i class="acd_icon icon-arrow-up hidden"></i>
                                                <i class="acd_icon icon-arrow-down"></i>
                                            </span>
                                        </a>
                                    </h4>
                                </div>

                                <div class="acd_collapse collapse "
                                     data-code="p20200718753a06c1de2a1">
                                    <div class="acd_body">

                                        <div class="board_contents fr-view">
                                            우측 상단의 'Login' 메뉴에 접속하여 '내계정찾기'를 통해 아이디와 비밀번호를 찾으실 수 있습니다.<br>
                                            아이디는 이메일 형식이며, 계정 정보는 가입하신 이메일 주소로 전달됩니다.<br>
                                            가입하신 이메일 주소를 통해 비밀번호를 재설정하실 수 있습니다.
                                            <div class="file_area"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END : 수거 가이드 4 -->

                        <!-- BEGIN : 수거 가이드 5 -->
                        <div class="acd_group accordion" aria-multiselectable="true">

                            <div class="acd_row  ">

                                <div class="acd_heading">
                                    <h4 class="acd_title" style="margin: 10px 0 10px">
                                        <a class="tabled full-width holder">
                                            <div class="number" style="
    display: inline-block;
    margin-right: 10px;
"><span>5</span></div>
                                            <div class="category" style="
    display: inline-block;
"><span>수거</span></div>
                                            <div class="title">
                                                <div class="tabled">
                                                    <span class="table-cell">아이디와 비밀번호가 기억나지 않아요.</span>
                                                </div>
                                            </div>

                                            <span class="icon_warp">
                                                <i class="acd_icon icon-arrow-up hidden"></i>
                                                <i class="acd_icon icon-arrow-down"></i>
                                            </span>
                                        </a>
                                    </h4>
                                </div>

                                <div class="acd_collapse collapse "
                                     data-code="p20200718753a06c1de2a1">
                                    <div class="acd_body">

                                        <div class="board_contents fr-view">
                                            우측 상단의 'Login' 메뉴에 접속하여 '내계정찾기'를 통해 아이디와 비밀번호를 찾으실 수 있습니다.<br>
                                            아이디는 이메일 형식이며, 계정 정보는 가입하신 이메일 주소로 전달됩니다.<br>
                                            가입하신 이메일 주소를 통해 비밀번호를 재설정하실 수 있습니다.
                                            <div class="file_area"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END : 수거 가이드 5 -->

                        <!-- BEGIN : 수거 가이드 6 -->
                        <div class="acd_group accordion" aria-multiselectable="true">

                            <div class="acd_row  ">

                                <div class="acd_heading">
                                    <h4 class="acd_title" style="margin: 10px 0 10px">
                                        <a class="tabled full-width holder">
                                            <div class="number" style="
    display: inline-block;
    margin-right: 10px;
"><span>6</span></div>
                                            <div class="category" style="
    display: inline-block;
"><span>수거</span></div>
                                            <div class="title">
                                                <div class="tabled">
                                                    <span class="table-cell">아이디와 비밀번호가 기억나지 않아요.</span>
                                                </div>
                                            </div>

                                            <span class="icon_warp">
                                                <i class="acd_icon icon-arrow-up hidden"></i>
                                                <i class="acd_icon icon-arrow-down"></i>
                                            </span>
                                        </a>
                                    </h4>
                                </div>

                                <div class="acd_collapse collapse "
                                     data-code="p20200718753a06c1de2a1">
                                    <div class="acd_body">

                                        <div class="board_contents fr-view">
                                            우측 상단의 'Login' 메뉴에 접속하여 '내계정찾기'를 통해 아이디와 비밀번호를 찾으실 수 있습니다.<br>
                                            아이디는 이메일 형식이며, 계정 정보는 가입하신 이메일 주소로 전달됩니다.<br>
                                            가입하신 이메일 주소를 통해 비밀번호를 재설정하실 수 있습니다.
                                            <div class="file_area"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END : 수거 가이드 6 -->

                        <!-- BEGIN : 수거 가이드 7 -->
                        <div class="acd_group accordion" aria-multiselectable="true">

                            <div class="acd_row  ">

                                <div class="acd_heading">
                                    <h4 class="acd_title" style="margin: 10px 0 10px">
                                        <a class="tabled full-width holder">
                                            <div class="number" style="
    display: inline-block;
    margin-right: 10px;
"><span>7</span></div>
                                            <div class="category" style="
    display: inline-block;
"><span>수거</span></div>
                                            <div class="title">
                                                <div class="tabled">
                                                    <span class="table-cell">아이디와 비밀번호가 기억나지 않아요.</span>
                                                </div>
                                            </div>

                                            <span class="icon_warp">
                                                <i class="acd_icon icon-arrow-up hidden"></i>
                                                <i class="acd_icon icon-arrow-down"></i>
                                            </span>
                                        </a>
                                    </h4>
                                </div>

                                <div class="acd_collapse collapse "
                                     data-code="p20200718753a06c1de2a1">
                                    <div class="acd_body">

                                        <div class="board_contents fr-view">
                                            우측 상단의 'Login' 메뉴에 접속하여 '내계정찾기'를 통해 아이디와 비밀번호를 찾으실 수 있습니다.<br>
                                            아이디는 이메일 형식이며, 계정 정보는 가입하신 이메일 주소로 전달됩니다.<br>
                                            가입하신 이메일 주소를 통해 비밀번호를 재설정하실 수 있습니다.
                                            <div class="file_area"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END : 수거 가이드 7 -->

                    </div>
                </div>
                <!-- END : 수거 가이드 -->


            </div>
        </div>
    </div>
    <footer th:replace="/app/fix/footer.html :: footer"></footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<script src="/js/pickup/pickMain.js"></script>
</html>