<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/pickup/pickWantedList.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>

<body class="sent-requests" data-modal-open-count="0" style>
<div>
<header th:replace="/app/fix/header.html :: header"></header>
<div id="app" data-browser="Chrome" data-is-loaded="true" class>

    <div id="app-body">
        <article data-v-564412cd="" class="sent-request-list">
            <section class="container" data-v-584c25b2="">
                <div class="banner-list-user" data-v-5f3ed876="" data-v-584c25b2="">
                    <div data-v-3d1a4f76="" data-v-55917fe8="" data-v-5f3ed876="" dir="ltr"
                         class="slick-slider slick-initialized">
                        <div data-v-3d1a4f76="" class="slick-list">
                            <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track"
                                 style="opacity: 1;">
                                <div data-v-e4caeaf8="" tabindex="-1" data-index="-1" aria-hidden="true"
                                     class="slick-slide slick-cloned">
                                    <div data-v-e4caeaf8="">
                                        <div data-v-4721ba7d="" data-v-5f3ed876="" class="banner" tabindex="-1"
                                             data-v-e4caeaf8=""
                                             style="background-image: url(https://static.cdn.soomgo.com/upload/banner/c8a1fbc5-7437-4069-bff8-31e8bb3112d7.png); width: 100%; display: inline-block;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section data-v-564412cd="" class="container">
                <h1 data-v-564412cd="" class="page-heading-h1"><span data-v-564412cd="">수거 현황</span></h1>
                <ul data-v-564412cd="" class="row quote-list no-gutters">
                    <li data-v-564412cd="" class="quote-list-item col-md-6 col-lg-4 col-12">
                        <div data-v-05822788="" data-v-564412cd="" data-testid="request-card" class="request-card">
                            <div data-v-05822788="" class="request-card-header align-items-center">
                                <div data-v-05822788="" class="request-card-title text-truncate"> 이사/입주 청소 업체</div>
                                <time data-v-05822788="">20.03.16</time>
                            </div>
                            <div data-v-05822788="" class="request-card-body">
                                <div data-v-78eb3aa2="" data-v-05822788="" class="request-progress-bar">
                                    <div data-v-78eb3aa2="" class="progress">
                                        <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                             aria-valuenow="100" class="progress-bar" style="width: 50%;"></div>
                                    </div>
                                    <div data-v-78eb3aa2="" class="status-wrapper">
                                        <div data-v-78eb3aa2="" class="status">수거요청</div>
                                        <div data-v-78eb3aa2="" class="status bold">수거진행</div>
                                        <div data-v-78eb3aa2="" class="status"> 수거완료</div>
                                    </div>
                                </div>
                                <div data-v-05822788="" class="quote-status-wrapper">
                                    <div data-v-f02739d2="" data-v-05822788=""
                                         class="row quote-status flex-nowrap no-gutters">
                                        <div data-v-f02739d2="" class="status-message closed"> 계획변경</div>
                                    </div>
                                    <!---->
                                </div>
                                <button data-v-05822788="" data-testid="request-detail-btn" type="button"
                                        class="btn quote-cta btn-primary btn-block" onclick="location.href='http://localhost:10001/pickup/pickdetaildone'">자세히 보기
                                </button>
                            </div>
                        </div>
                    </li>
                    <li data-v-564412cd="" class="quote-list-item col-md-6 col-lg-4 col-12">
                        <div data-v-05822788="" data-v-564412cd="" data-testid="request-card" class="request-card">
                            <div data-v-05822788="" class="request-card-header align-items-center">
                                <div data-v-05822788="" class="request-card-title text-truncate"> 원룸/소형 이사</div>
                                <time data-v-05822788="">20.03.08</time>
                            </div>
                            <div data-v-05822788="" class="request-card-body">
                                <div data-v-78eb3aa2="" data-v-05822788="" class="request-progress-bar">
                                    <div data-v-78eb3aa2="" class="progress">
                                        <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                             aria-valuenow="100" class="progress-bar" style="width: 50%;"></div>
                                    </div>
                                    <div data-v-78eb3aa2="" class="status-wrapper">
                                        <div data-v-78eb3aa2="" class="status">수거요청</div>
                                        <div data-v-78eb3aa2="" class="status bold">수거진행</div>
                                        <div data-v-78eb3aa2="" class="status"> 수거완료</div>
                                    </div>
                                </div>
                                <div data-v-05822788="" class="quote-status-wrapper">
                                    <div data-v-f02739d2="" data-v-05822788=""
                                         class="row quote-status flex-nowrap no-gutters">
                                        <div data-v-f02739d2="" class="status-message closed"> 고용으로 인한 요청 중단</div>
                                    </div>
                                    <!---->
                                </div>
                                <button data-v-05822788="" data-testid="request-detail-btn" type="button"
                                        class="btn quote-cta btn-primary btn-block">자세히 보기
                                </button>
                            </div>
                        </div>
                    </li>
                    <li data-v-564412cd="" class="quote-list-item col-md-6 col-lg-4 col-12">
                        <div data-v-05822788="" data-v-564412cd="" data-testid="request-card" class="request-card">
                            <div data-v-05822788="" class="request-card-header align-items-center">
                                <div data-v-05822788="" class="request-card-title text-truncate"> 도배 시공</div>
                                <time
                                        data-v-05822788="">20.03.08
                                </time>
                            </div>
                            <div data-v-05822788="" class="request-card-body">
                                <div data-v-78eb3aa2="" data-v-05822788="" class="request-progress-bar">
                                    <div data-v-78eb3aa2="" class="progress">
                                        <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                             aria-valuenow="100" class="progress-bar" style="width: 50%;"></div>
                                    </div>
                                    <div data-v-78eb3aa2="" class="status-wrapper">
                                        <div data-v-78eb3aa2="" class="status">수거요청</div>
                                        <div data-v-78eb3aa2="" class="status bold">수거진행</div>
                                        <div data-v-78eb3aa2="" class="status"> 수거완료</div>
                                    </div>
                                </div>
                                <div data-v-05822788="" class="quote-status-wrapper">
                                    <div data-v-f02739d2="" data-v-05822788=""
                                         class="row quote-status flex-nowrap no-gutters">
                                        <div data-v-f02739d2="" class="status-message closed"> 마음에 드는 고수를 소개 받지
                                            못했습니다.
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                                <button data-v-05822788="" data-testid="request-detail-btn" type="button"
                                        class="btn quote-cta btn-primary btn-block" onclick="location.href='http://localhost:10001/pickup/pickdetail'">자세히 보기
                                </button>
                            </div>
                        </div>
                    </li>
                    <li data-v-564412cd="" class="quote-list-item col-md-6 col-lg-4 col-12">
                        <div data-v-05822788="" data-v-564412cd="" data-testid="request-card" class="request-card">
                            <div data-v-05822788="" class="request-card-header align-items-center">
                                <div data-v-05822788="" class="request-card-title text-truncate"> 원룸/소형 이사</div>
                                <time data-v-05822788="">19.03.13</time>
                            </div>
                            <div data-v-05822788="" class="request-card-body">
                                <div data-v-78eb3aa2="" data-v-05822788="" class="request-progress-bar">
                                    <div data-v-78eb3aa2="" class="progress">
                                        <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                             aria-valuenow="50" class="progress-bar" style="width: 50%;"></div>
                                    </div>
                                    <div data-v-78eb3aa2="" class="status-wrapper">
                                        <div data-v-78eb3aa2="" class="status">수거요청</div>
                                        <div data-v-78eb3aa2="" class="status bold">수거진행</div>
                                        <div data-v-78eb3aa2="" class="status"> 수거완료</div>
                                    </div>
                                </div>
                                <div data-v-05822788="" class="quote-status-wrapper">
                                    <div data-v-f02739d2="" data-v-05822788=""
                                         class="row quote-status flex-nowrap no-gutters">
                                        <ul data-v-f02739d2="" class="avatar-wrapper">
                                            <li data-v-f02739d2="" class="avatar-profile"><img data-v-f02739d2=""
                                                                                               alt="김호영"
                                                                                               data-src="https://dmmj3ljielax6.cloudfront.net/upload/profile/f50153ca-a04e-427f-8c53-730e22ce9e5d.jpg?h=320&amp;w=320"
                                                                                               src="https://dmmj3ljielax6.cloudfront.net/upload/profile/f50153ca-a04e-427f-8c53-730e22ce9e5d.jpg?h=320&amp;w=320"
                                                                                               lazy="loaded"></li>
                                        </ul>
                                        <div data-v-f02739d2="" class="status-message"><span data-v-f02739d2=""> 1명의
                                                    고수와
                                                    상담해 보세요 </span></div>
                                    </div>
                                    <!---->
                                </div>
                                <button data-v-05822788="" data-testid="request-detail-btn" type="button"
                                        class="btn quote-cta btn-primary btn-block">자세히 보기
                                </button>
                            </div>
                        </div>
                    </li>
                    <li data-v-564412cd="" class="quote-list-item col-md-6 col-lg-4 col-12">
                        <div data-v-05822788="" data-v-564412cd="" data-testid="request-card" class="request-card">
                            <div data-v-05822788="" class="request-card-header align-items-center">
                                <div data-v-05822788="" class="request-card-title text-truncate"> 원룸/소형 이사</div>
                                <time data-v-05822788="">19.03.12</time>
                            </div>
                            <div data-v-05822788="" class="request-card-body">
                                <div data-v-78eb3aa2="" data-v-05822788="" class="request-progress-bar">
                                    <div data-v-78eb3aa2="" class="progress">
                                        <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                             aria-valuenow="100" class="progress-bar" style="width: 50%;"></div>
                                    </div>
                                    <div data-v-78eb3aa2="" class="status-wrapper">
                                        <div data-v-78eb3aa2="" class="status">수거요청</div>
                                        <div data-v-78eb3aa2="" class="status bold">수거진행</div>
                                        <div data-v-78eb3aa2="" class="status"> 수거완료</div>
                                    </div>
                                </div>
                                <div data-v-05822788="" class="quote-status-wrapper">
                                    <div data-v-f02739d2="" data-v-05822788=""
                                         class="row quote-status flex-nowrap no-gutters">
                                        <div data-v-f02739d2="" class="status-message closed"> 마음에 드는 고수를 소개 받지
                                            못했습니다.
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                                <button data-v-05822788="" data-testid="request-detail-btn" type="button"
                                        class="btn quote-cta btn-primary btn-block">자세히 보기
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <!---->
            </section>
        </article>
    </div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/headerLogin.js"></script>
</html>