<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 수거완료정보</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/pickup/pickDetail.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>
<body class="received-quotes">
<div>
    <!-- 로그인 된 기사님만 들어올 수 있음 -->
    <th:block th:if="${session.member != null}">
        <header th:replace="/app/fix/headerLoginPicker.html :: header"></header>
    </th:block>

    <th:block th:object="${pickupFinishDetail}">
        <input type="hidden" th:href="${session.member.memberId}" id="memberId">
        <input type="hidden" th:href="${pickupFinishDetail.pickupId}" id="pickupId">
    <div id="app-body">
        <div class="received-quote-list" data-v-adb80f6e="">
            <div data-v-c85c3b6a="" data-v-adb80f6e="" class="requested-service-header"
                 style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://static.cdn.soomgo.com/upload/service-bg/service_3166c68d-67cc-4a5d-b394-27a17bb92ebe.jpg');">
                <div data-v-c85c3b6a="" class="container">
                    <div data-v-c85c3b6a="" class="header-title">
                        <div data-v-c85c3b6a="" class="title"> 수거 완료 정보 </div>
                        <div th:text="*{#temporals.format(createdDate, 'yyyy-MM-dd')}" data-v-c85c3b6a="" class="date"></div>
                    </div>
                </div>
            </div>
            <div class="page-body" data-v-adb80f6e="">
                <ul data-v-adb80f6e="" class="quote-pro-item-list">
                    <!---->
                    <li data-v-464dc29d="" data-v-adb80f6e="" data-usertype="provider"
                        class="quote-pro-item has-quote-profile" style="position: relative">
                        <div id="abcdef">

                            <!-- 지도 API -->

                            <div id="map" style="width:100%;height:100%;"></div>
                            <!--                            <img src="/images/pickup/kakaomap.PNG">-->
                        </div>
                        <section data-v-464dc29d="" data-name="user-info" class="row no-gutters align-items-start">
                            <div data-v-464dc29d="" data-name="profile" class="col-auto">
                                <div data-v-0ee3c6fc="" data-v-464dc29d="" class="user-profile-picture">
                                    <div data-v-0ee3c6fc="" data-name="image" class="is-square"
                                         lazy="loaded">
                                        <img th:src="*{pickupMemberProfileName}" style="height: inherit;">
                                        <!--<img th:src="*{pickupMemberProfilePath}" style="height: inherit;">-->
                                    </div>
                                </div>
                            </div>
                            <div data-v-464dc29d="" class="service-info col">
                                <div data-v-464dc29d="" class="name-wrapper">
                                    <h5 th:text="*{pickupMemberName}" data-v-464dc29d="" class="profile-name"></h5>
                                </div>
                                <div data-v-2608d7d0="" data-v-464dc29d="" class="profile-badges">
                                    <div th:text="*{pickupMemberPhone}" data-v-2608d7d0="" class="rate" style="font-size: larger;"><!--신청자 핸드폰번호--></div>
                                </div>
                            </div>
                        </section>
                        <div data-v-f32583c0="" data-v-464dc29d="" class="quote-info-wrapper">
                            <div data-v-f32583c0="" class="quote-info">
                                <ul data-v-f32583c0="" class="user-detail has-quote-profile">
                                    <li th:text="*{pickupAddress}" id="kakaomapAddressText" style="width: 50%;" data-v-f32583c0="" class="address"><!--신청자 주소 들어올 자리--></li>
                                    <li data-v-f32583c0="" class="career" style="width: 50%;">페트병 <span th:text="*{petCount}"><!--2--></span>개</li>
                                    <li data-v-f32583c0="" class="career" style="width: 50%;">유리병 <span th:text="*{glassCount}"><!--2--></span>개</li>
                                    <li th:text="*{pickupMessage}" style="width: 50%;" data-v-f32583c0="" class="hired"><!--수거 메시지 들어올 자리--></li>
                                </ul>
                                <div data-v-f32583c0="" class="quote-price-wrapper">
                                    <div data-v-f32583c0="" class="quote-price">
                                    </div>
                                    <div data-v-f32583c0="" class="quote-cta-wrapper" style="display: flex; justify-content: flex-end;">
                                        <p data-v-f32583c0=""  style="width: 28%; color: #737373; text-align: center;margin: auto 0;">수거 완료되었습니다</p>
                                        <button data-v-f32583c0="" type="button" style="width: 23%;"
                                                class="btn quote-cta btn-primary" onclick="history.go(-1);">목록보기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!---->
        </div>
    </div>
    </th:block>
        <footer th:replace="/app/fix/footer.html :: footer"></footer>
        <th:block th:if="${session.member !=null}">
            <input type="hidden" name="memberCategory" th:value="${session.member.memberCategory}">
            <input type="hidden" name="memberId" th:value="${session.member.memberId}">
        </th:block>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    let memberCategory = $("input[name='memberCategory']").val();
    let memberId = $("input[name='memberId']").val();
</script>

<script src="/js/fix/headerLogin.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0447de6672463a105fc40e0aa78694a1&libraries=services"></script>
<script>
    /* 주소 TEXT */
    var kakaomapAddressText = document.getElementById('kakaomapAddressText').textContent;
    // alert(kakaomapAddressText);

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(27, 48), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 마커이미지의 주소입니다
    var imageSrc = '/images/pickup/redPointer.png',
        // 마커이미지의 크기입니다
        imageSize = new kakao.maps.Size(27, 48);
    // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
    // imageOption;

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(kakaomapAddressText, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
            imageOption = {offset: new kakao.maps.Point(coords)};
            // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

            // 결과값으로 받은 위치를 마커로 표시합니다
            marker = new kakao.maps.Marker({
                map: map,
                position : coords,
                image : markerImage
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
    // 마커가 지도 위에 표시되도록 설정합니다
    marker.open(map, marker);
</script>
</html>