<!--<!DOCTYPE html>-->
<!--<html lang="en"  xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>별별쓰담 | 수거상세정보</title>-->
<!--    <link rel="icon" href="/images/fix/favicon.png">-->
<!--    <link rel="stylesheet" href="/css/fix/font.css">-->
<!--    <link rel="stylesheet" href="/css/pickup/pickDetail.css">-->
<!--    <link rel="stylesheet" href="/css/fix/header68.css">-->
<!--    <link rel="stylesheet" href="/css/fix/header74.css">-->
<!--    <link rel="stylesheet" href="/css/fix/header51.css">-->
<!--    <link rel="stylesheet" href="/css/fix/header76.css">-->
<!--    <link rel="stylesheet" href="/css/fix/header77.css">-->
<!--    <link rel="stylesheet" href="/css/fix/header37.css">-->
<!--    <link rel="stylesheet" href="/css/fix/footer1.css">-->
<!--    <link rel="stylesheet" href="/css/fix/footer2.css">-->
<!--</head>-->
<!--<body class="received-quotes">-->
<!--<div>-->
<!--<header th:replace="/app/fix/headerpicker.html :: header"></header>-->
<!--    <div id="app-body">-->
<!--        <div class="received-quote-list" data-v-adb80f6e="">-->
<!--            <div data-v-c85c3b6a="" data-v-adb80f6e="" class="requested-service-header"-->
<!--                style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(&quot;https://static.cdn.soomgo.com/upload/service-bg/service_3166c68d-67cc-4a5d-b394-27a17bb92ebe.jpg&quot;);">-->
<!--                <div data-v-c85c3b6a="" class="container">-->
<!--                    <div data-v-c85c3b6a="" class="header-title">-->
<!--                        <div data-v-c85c3b6a="" class="title"> 수거 상세 정보 </div>-->
<!--                        <div data-v-c85c3b6a="" class="date">2022.11.01</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="page-body" data-v-adb80f6e="">-->
<!--                <ul data-v-adb80f6e="" class="quote-pro-item-list">-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                    <li data-v-464dc29d="" data-v-adb80f6e="" data-usertype="provider"-->
<!--                        class="quote-pro-item has-quote-profile" style="position: relative">-->
<!--                        <div id="abcdef">-->
<!--                            <img src="/images/pickup/kakaomap.PNG">-->
<!--                        </div>-->
<!--                        <section data-v-464dc29d="" data-name="user-info" class="row no-gutters align-items-start">-->
<!--                            <div data-v-464dc29d="" data-name="profile" class="col-auto">-->
<!--                                <div data-v-0ee3c6fc="" data-v-464dc29d="" class="user-profile-picture">-->
<!--                                    <div data-v-0ee3c6fc="" data-name="image" class="is-square"-->
<!--                                        data-src="https://static.cdn.soomgo.com/upload/profile-default/soomgo_19.jpg?h=320&amp;w=320"-->
<!--                                        lazy="loaded"-->
<!--                                        style="background-image: url('https://static.cdn.soomgo.com/upload/profile-default/soomgo_19.jpg?h=320&amp;w=320');">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div data-v-464dc29d="" class="service-info col">-->
<!--                                <div data-v-464dc29d="" class="name-wrapper">-->
<!--                                    <h5 data-v-464dc29d="" class="profile-name"> 김재섭 </h5>-->
<!--                                </div>-->
<!--                                <div data-v-2608d7d0="" data-v-464dc29d="" class="profile-badges">-->
<!--                                    <div data-v-2608d7d0="" class="rate" style="font-size: larger;">010-1234-1234</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </section>-->
<!--                        <div data-v-f32583c0="" data-v-464dc29d="" class="quote-info-wrapper">-->
<!--                            <div data-v-f32583c0="" class="quote-info">-->
<!--                                <ul data-v-f32583c0="" class="user-detail has-quote-profile">-->
<!--                                    <li data-v-f32583c0="" class="address">신청자 주소 들어올 자리</li>-->
<!--                                    <li data-v-f32583c0="" class="career">페트병 2개</li>-->
<!--                                    <li data-v-f32583c0="" class="career">유리병 5개</li>-->
<!--                                    <li data-v-f32583c0="" class="hired">수거 메시지 들어올 자리</li>-->
<!--                                </ul>-->
<!--                                <div data-v-f32583c0="" class="quote-price-wrapper">-->
<!--                                    <div data-v-f32583c0="" class="quote-price">-->
<!--                                    </div>-->
<!--                                    <div data-v-f32583c0="" class="quote-cta-wrapper" style="display: flex; justify-content: flex-end;">-->
<!--                                        <button data-v-f32583c0="" type="button" class="btn quote-cta btn-primary" onclick="location.href='http://localhost:10001/pickup/acceptedlist'" style="width: 23%;">목록보기</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash;&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--<footer th:replace="/app/fix/footer.html :: footer"></footer>-->
<!--</div>-->
<!--</body>-->
<!--<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>-->
<!--<script src="/js/fix/headerLogin.js"></script>-->
<!--</html>-->