<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/fix/favicon.png">
    <title>별별쓰담 | 수거내역</title>
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/pickup/pickWantedList.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>

<body class="sent-requests" data-modal-open-count="0" style>
<div>
    <!-- 로그인 된 기사님만 들어올 수 있음 -->
    <th:block th:if="${session.member != null}">
        <header th:replace="/app/fix/headerLoginPicker.html :: header"></header>
    </th:block>

<div id="app" data-browser="Chrome" data-is-loaded="true" class>

    <div id="app-body">
        <article data-v-564412cd="" class="sent-request-list">
            <section class="container" data-v-584c25b2="">
                <div class="banner-list-user" data-v-5f3ed876="" data-v-584c25b2="">
                    <div data-v-3d1a4f76="" data-v-55917fe8="" data-v-5f3ed876="" dir="ltr"
                         class="slick-slider slick-initialized">
                        <div data-v-3d1a4f76="" class="slick-list">
                            <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track"
                                 style="opacity: 1;">
                                <div data-v-e4caeaf8="" tabindex="-1" data-index="-1" aria-hidden="true"
                                     class="slick-slide slick-cloned">
                                    <div data-v-e4caeaf8="">
                                        <div data-v-4721ba7d="" data-v-5f3ed876="" class="banner" tabindex="-1"
                                             data-v-e4caeaf8=""
                                             style="cursor: auto; background-image: url(https://static.cdn.soomgo.com/upload/banner/c8a1fbc5-7437-4069-bff8-31e8bb3112d7.png); width: 100%; display: inline-block;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section data-v-564412cd="" class="container">
                <h1 data-v-564412cd="" class="page-heading-h1"><span data-v-564412cd="">수거완료내역</span></h1>
                <ul data-v-564412cd="" class="row quote-list no-gutters">

                    <tbody>
                    <th:block th:each="pickup:${finishPickupDTOS}" th:object="${pickup}">
                        <input type="hidden" th:href="${session.member.memberId}" id="memberId">
                    <li data-v-564412cd="" class="quote-list-item col-md-6 col-lg-4 col-12 finishPickup">

                        <div data-v-05822788="" data-v-564412cd="" data-testid="request-card" class="request-card">
                            <a class="detailFinishBtn" type="button" data-v-3a2c0d3c="" style="height: 66%; width: 100%;">
                                <input type="hidden" th:href="*{pickupAcceptId}" id="pickupAcceptId">
                            <div data-v-05822788="" class="request-card-header align-items-center">
                                <div th:text="*{pickupAddress}" data-v-05822788="" class="request-card-title text-truncate"><!--주소가 들어갈 부분입니다-->
                                </div>
                                <time th:text="*{#temporals.format(updateDate, 'yyyy-MM-dd')}" data-v-05822788=""><!--일자--></time>
                            </div>
                            <div data-v-05822788="" class="request-card-body">
                                <div data-v-78eb3aa2="" data-v-05822788="" class="request-progress-bar">
                                    <svg enable-background="new 0 0 128 128" height="25px" class="Layer_1" version="1.1" viewBox="0 0 128 128" width="25px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M116.158,29.336l-4.975-4.975c-3.469-3.469-9.088-3.478-12.549-0.019L48.103,74.875L29.364,56.136  c-3.459-3.46-9.078-3.45-12.549,0.021l-4.974,4.974c-3.47,3.47-3.48,9.089-0.02,12.549L41.8,103.657  c1.741,1.741,4.026,2.602,6.31,2.588c2.279,0.011,4.559-0.852,6.297-2.59l61.771-61.771  C119.637,38.424,119.631,32.807,116.158,29.336z" fill="#00c7ae"/></svg>
                                    <div data-v-78eb3aa2="" class="progress closed">
                                        <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                             aria-valuenow="100" class="progress-bar" style="width: 100%;"></div>
                                    </div>
                                    <div data-v-78eb3aa2="" class="status-wrapper">
                                        <div data-v-78eb3aa2="" class="status">수거요청</div>
                                        <div data-v-78eb3aa2="" class="status">수거진행</div>
                                        <div data-v-78eb3aa2="" class="status bold"> 수거완료</div>
                                    </div>
                                </div>
                                <div data-v-05822788="" class="quote-status-wrapper">
                                    <div data-v-f02739d2="" data-v-05822788=""
                                         class="row quote-status flex-nowrap no-gutters">
                                        <ul data-v-f02739d2="" class="avatar-wrapper">
                                            <li data-v-f02739d2="" class="avatar-profile"><img data-v-f02739d2=""
                                                                                               alt="김재섭 고수의 전기 배관 배선 설치 및  누전 수리 서비스"
                                                                                               th:src="*{pickupMemberProfileName}"
                                                                                               lazy="loaded"></li>
                                            <!--<li data-v-f02739d2="" class="avatar-profile"><img data-v-f02739d2=""
                                                                                               alt="김재섭 고수의 전기 배관 배선 설치 및  누전 수리 서비스"
                                                                                               th:src="*{pickupMemberProfilePath}"
                                                                                               lazy="loaded"></li>-->
                                        </ul>
                                        <div data-v-f02739d2="" class="status-message">
                                            <span th:text="*{pickupMemberName}" data-v-f02739d2=""></span>
                                            <span> 님의 수거 완료 내역입니다.</span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            </a>
                        </div>
                    </li>
                    </th:block>
                    </tbody>


                </ul>
                <!---->
            </section>
        </article>
    </div>
</div>
    <footer th:replace="/app/fix/footer.html :: footer"></footer>
    <th:block th:if="${session.member !=null}">
        <input type="hidden" name="memberCategory" th:value="${session.member.memberCategory}">
        <input type="hidden" name="memberId" th:value="${session.member.memberId}">
    </th:block>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    let memberCategory = $("input[name='memberCategory']").val();
    let memberId = $("input[name='memberId']").val();
</script>
<script src="/js/fix/headerLogin.js"></script>
<script src="/js/fix/footer.js"></script>
<script>
    /* 수거완료내역에서 내역 클릭시 _ 수거완료내역 detail 페이지 */
    $("a.detailFinishBtn").on("click",function () {
        location.href = "/pickup/finisheddetail" + "?pickupAcceptId=" + $(this).find('#pickupAcceptId').attr("href");
    });


</script>
</html>