<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 마이페이지</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/mypage/myPageMain.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>
<body>
<th:block th:if="${session.member == null}">
    <header th:replace="/app/fix/header.html :: header"></header>
</th:block>
<th:block th:if="${session.member != null}">
    <header th:replace="/app/fix/headerLogin.html :: header"></header>
</th:block>
<div id="app-body">
    <div class="container container-md">
        <div data-v-086b5673="" class="mypage-container">
            <h1 data-v-086b5673="" class="mypage-title">마이페이지</h1>
            <div data-v-d535afec="" data-v-086b5673="" class="profile-container underline">
                <a data-v-d535afec="" href="/mypage/info" class="">
                <div data-v-d535afec="" class="thumb">
                    <div data-v-0ee3c6fc="" data-v-d535afec="" class="user-profile-picture h-100">
                        <div data-v-0ee3c6fc="" data-name="image" class="is-square"
                             data-src="https://dmmj3ljielax6.cloudfront.net?h=320&amp;w=320" lazy="error"
                             style="border-radius: 50%;">
                            <img class="mypage-memberProfileName" src="https://www.jigushop.co.kr/common/img/default_profile.png"
                            style="width: 70px; height: 70px;">
                        </div>
                    </div>
                </div>
                <div data-v-d535afec="" class="user-info">
                    <div data-v-d535afec="" class="user-name"><span data-v-d535afec=""
                                                                    class="name-length mypage-memberName">성은지</span><span data-v-d535afec="" class="user-type">님</span>
                    </div>
                    <div data-v-d535afec="" class="user-id">
                        <!---->
                        <span data-v-d535afec="" class="id-length mypage-memberEmail">sej07@naver.com</span>
                    </div>
                </div>
                <div data-v-d535afec="" class="account-setting">
                    <button data-v-d535afec="" type="button" onclick="javascript:logout();"
                            class="btn btn-account-setting btn-secondary">로그아웃</button>
                </div>
            </a>
<!--                <button onclick="location.href='https://kauth.kakao.com/oauth/logout?client_id=b365527827a25dae48ba21331cda4133&logout_redirect_uri=http://localhost:10001/kakao/logout'">카카오 로그아웃</button>-->
                <!---->
            </div>
            <div data-v-3fa472b3="" data-v-086b5673="" class="my-page-menu">
                <ul data-v-3fa472b3="" class="underline">
                    <li data-v-3fa472b3="" class="main-menu"> 나의 별별쓰담 <div data-v-3fa472b3="" class="sub-header">
                    </div>
                    </li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container soomgopay-list"><a
                            data-v-69924ad4="" href="/mypage/badge" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title updated">나의 배지</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container soomgopay-list"><a
                            data-v-69924ad4="" href="/mypage/course" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title updated">나의 코스</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container soomgopay-list"><a
                            data-v-69924ad4="" href="/mypage/point" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title updated">나의 포인트</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                </ul>
                <ul data-v-3fa472b3="" class="underline">
                    <li data-v-3fa472b3="" class="main-menu">주문내역
                        <!---->
                        <div data-v-3fa472b3="" class="sub-header"></div>
                    </li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container pro-bucket"><a
                            data-v-69924ad4="" href="/mypage/order" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title">주문조회</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container pro-bucket"><a
                            data-v-69924ad4="" href="/mypage/cancel" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title">주문취소</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                    <!-- <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container pro-bucket"><a
                            data-v-69924ad4="" href="/pro-bucket?from=mypage" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title">장바구니</span></div>
                        </div>
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                    </a></li> -->
                </ul>
                <ul data-v-3fa472b3="" class="underline">
                    <li data-v-3fa472b3="" class="main-menu">나의 활동
                        <!---->
                        <div data-v-3fa472b3="" class="sub-header"></div>
                    </li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container my-ip-buy-orders"><a
                            data-v-69924ad4="" href="/mypage/pickup" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title badge">수거신청내역</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container my-ip-qna"><a
                            data-v-69924ad4="" href="/mypage/program" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title">수강내역</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                </ul>
                <ul data-v-3fa472b3="" class="underline">
                    <li data-v-3fa472b3="" class="main-menu"> 커뮤니티
                        <!---->
                        <div data-v-3fa472b3="" class="sub-header"></div>
                    </li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container soomgo-life-activities"><a
                            data-v-69924ad4="" href="/mypage/community" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title">작성글 / 작성댓글</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                </ul>
                <ul data-v-3fa472b3="" class="underline">
                    <li data-v-3fa472b3="" class="main-menu">설정
                        <!---->
                        <div data-v-3fa472b3="" class="sub-header"></div>
                    </li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container notification"><a
                            data-v-69924ad4="" href="/mypage/info" class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title">정보수정 / 탈퇴</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                        <!---->
                    </a></li>
                    <li data-v-69924ad4="" data-v-3fa472b3="" class="sub-menu-container notice"><a
                            data-v-69924ad4=""
                            href="http://localhost:10001/notice/1"
                            class="sub-menu-list">
                        <div data-v-69924ad4="" class="sub-content">
                            <div data-v-69924ad4="" class="sub-menu"><span data-v-69924ad4=""
                                                                           class="sub-menu-title">공지사항</span></div>
                            <!---->
                        </div>
                        <!---->
                        <div data-v-69924ad4="" class="arrow"><span data-v-69924ad4="" class="right-arrow"><img
                                data-v-69924ad4=""
                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                        </div>
                    </a></li>
                </ul>
                <th:block th:if="${session.member != null}">
                    <input type="hidden" name="memberId" th:value="${session.member.memberId}">
                    <input type="hidden" name="memberName" th:value="${session.member.memberName}">
                    <input type="hidden" name="memberEmail" th:value="${session.member.memberEmail}">
                    <input type="hidden" name="memberPoint" th:value="${session.member.memberPoint}">
                    <input type="hidden" name="memberCategory" th:value="${session.member.memberCategory}">
                    <input type="hidden" name="memberProfileName" th:value="${session.member.memberProfileName}">
                </th:block>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    let memberId = $("input[name='memberId']").val();
    let memberName = $("input[name='memberName']").val();
    let memberEmail = $("input[name='memberEmail']").val();
    let memberPoint = $("input[name='memberPoint']").val();
    let memberCategory = $("input[name='memberCategory']").val();
    let memberProfileName = $("input[name='memberProfileName']").val();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/js/mypage/mypageModule.js"></script>
<script src="/js/mypage/mypageMain.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/fix/headerLogin.js"></script>
</html>