<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>별별쓰담 | 마이페이지</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/mypage/mypageInfoUpdate.css">
</head>
<body>
<header th:replace="/app/fix/header.html :: header"></header>
<div id="app-body">
    <div class="container container-md">
        <main data-v-2825a58e="" class="account-info-container">
            <h1 data-v-2825a58e="">비밀번호 확인</h1>
            <div data-v-5135e8da="" data-v-2825a58e="" class="form-row">
                <div data-v-5135e8da="" class="margin-bottom-24 col-12">
                    <fieldset data-v-5135e8da="" class="form-group current-password" id="__BVID__174">
                        <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0" id="__BVID__174__BV_label_">
                            기존 비밀번호
                        </legend>
                        <div>
                            <div data-v-5135e8da="" role="group" class="input-group current-password">
                                <!----><input data-v-5135e8da="" name="currentPassword" type="password"
                                              placeholder="현재 비밀번호를 입력해주세요" autocomplete="off"
                                              class="mypage-form-control is-invalid" autocapitalize="off"
                                              spellcheck="false" data-vv-validate-on="blur" aria-invalid="true"
                                              id="__BVID__175">
                                <button data-v-5135e8da="" type="button" class="btn btn-secondary">표시
                                </button>
                                <!---->
                            </div>
                            <div data-v-5135e8da="" class="mypage-invalid-feedback current-password">비밀번호를 입력해주세요.
                            </div>
                            <!---->
                            <!---->
                            <!---->
                        </div>
                    </fieldset>
                </div>
            </div>
            <footer data-v-2825a58e="" class="button-group"><a data-v-2825a58e=""
                                                               href="http://localhost:10001/mypage/info"
                                                               class="btn btn-cancel btn-active btn-outline-secondary"
                                                               target="_self">취소</a>
                <button data-v-2825a58e="" type="button" class="btn btn-primary modifyOK-info-btn"
                            onclick="javascript:checkPassword();">확인
                </button>
            </footer>
        </main>
    </div>
</div>
<div data-v-ddb4d2bc="" id="__BVID__264___BV_modal_outer_" style="display: none;position: absolute;z-index: 1040;">
    <div id="__BVID__264" role="dialog" aria-labelledby="__BVID__264___BV_modal_title_" aria-describedby="__BVID__264___BV_modal_body_" class="modal fade show" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-md modal-dialog-centered modal-select-profile-image"><span tabindex="0"></span>
            <div id="__BVID__264___BV_modal_content_" tabindex="-1" class="modal-content">
                <header id="__BVID__264___BV_modal_header_" class="modal-header">
                    <p id="__BVID__264___BV_modal_title_" class="modal-title" style="font-size: 20px;">비밀번호를 확인해주세요.</p>
                    <!---->
                </header>
                <div id="__BVID__264___BV_modal_body_" class="modal-body">
                    <button data-v-ddb4d2bc="" type="button" class="btn file-input btn-primary btn-block"
                    onclick="javascript:closeModal();">확인</button>
                    <!---->
                </div>
                <!---->
            </div>
            <span tabindex="0"></span>
        </div>
    </div>
    <div id="__BVID__264___BV_modal_backdrop_" class="modal-backdrop"></div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/mypage/mypageModule.js"></script>
<script src="/js/mypage/mypageInfoPassword.js"></script>
</html>