<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 마이페이지</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/mypage/myPageOrderList.css">
    <link rel="stylesheet" href="/css/mypage/myPageOrderDetail.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>
<body
        class="doz_sys _body_menu_m20200103e566d1814daef  shop_mypage  fixed-menu-on new_fixed_menu_on new_header_site  loggedin"
        id="doz_body">
<header th:replace="/app/fix/header.html :: header"></header>
<div doz_type="section"
     class="section_wrap  pc_section    section_first _section_first   mobile_section_first    side_basic grid_gutter_0 grid_v_gutter_0   "
     id="s202001038f5e33413dcec" doz_change_mobile=" N" doz_aside="N" doz_side_width="200" doz_side_margin="0"
     doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
     doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="background-color:#ffffff;  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <main>
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200103c5a95f449eb6b">
                        <div class="_widget_data _ds_animated_except" data-widget-name="쇼핑 마이페이지"
                             data-widget-type="shop_mypage" data-widget-parent-is-mobile="N">
                            <div class="shop-content mypage">
                                <div class="container-fluid">
                                    <div class="row show-grid">
                                        <div class="left-menu hidden-lg hidden-md">
                                            <ul id="cart_menu">
                                                <div class="clearfix cart-menu-slide">
                                                    <li class="  active ">
                                                        <a href="/shop_mypage/?m2=order"
                                                           class="body_font_color_50"><span>주문</span></a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href="/shop_mypage/?m2=wish_list" class="body_font_color_50"><span>위시</span></a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href="/shop_mypage/?m2=point_list"
                                                           class="body_font_color_50"><span>포인트</span></a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href="/shop_mypage/?m2=cancel"
                                                           class="body_font_color_50"><span>취소/교환/반품</span></a>
                                                    </li>
                                                    <li class="">
                                                        <a href="/shop_mypage/?m2=qna" class="body_font_color_50"><span>1:1 문의</span></a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="col-md-2 col-sm-12 hidden-xs hidden-sm left-menu">
                                            <ul>
                                                <li class="">
                                                    <a href="http://localhost:10001/mypage/badge"
                                                       class="text-gray-dark _fade_link">나의 <span
                                                            class="hidden-xs">배지</span></a>
                                                </li>
                                                <li class="">
                                                    <a href="http://localhost:10001/mypage/course"
                                                       class="text-gray-dark _fade_link">나의 <span
                                                            class="hidden-xs">코스</span></a>
                                                </li>
                                                <li class="">
                                                    <a href="http://localhost:10001/mypage/point"
                                                       class="text-gray-dark _fade_link">나의 포인트</a>
                                                </li>
                                                <li class="on">
                                                    <a href="http://localhost:10001/mypage/order"
                                                       class="text-gray-dark _fade_link">주문조회</a>
                                                </li>
                                                <li class="">
                                                    <a href="http://localhost:10001/mypage/cancel"
                                                       class="text-gray-dark _fade_link">주문취소</a>
                                                </li>
                                                <!-- <li class="">
                                                    <a href="/shop_mypage/?m2=wish_list"
                                                       class="text-gray-dark _fade_link"><span
                                                            class="hidden-xs">장바구니</span></a>
                                                </li> -->
                                                <li class="">
                                                    <a href="http://localhost:10001/mypage/pickup"
                                                       class="text-gray-dark _fade_link">수거신청내역</a>
                                                </li>
                                                <li class="">
                                                    <a href="http://localhost:10001/mypage/program"
                                                       class="text-gray-dark _fade_link">수강내역</a>
                                                </li>
                                                <li class="">
                                                    <a href="http://localhost:10001/mypage/community"
                                                       class="text-gray-dark _fade_link">쓰담글 / 쓰담댓글</a>
                                                </li>
                                                <li>
                                                    <a href="http://localhost:10001/mypage/info"
                                                       onclick="SITE_MEMBER.editProfile('L3Nob3BfbXlwYWdl');"
                                                       class="text-gray-dark _fade_link">정보수정 / 탈퇴</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-10 col-sm-12">
                                            <div class="head bg-bright">
                                                <div class="my-theme tabled full-width">
                                                    <div class="img-view table-cell vertical-middle">
                                                        <div class="tabled full-width">
                                                            <div class="tumbs table-cell vertical-middle">
                                                                <a href="javascript:;"
                                                                   onclick="SITE_MEMBER.editProfile('L3Nob3BfbXlwYWdl');">
                                                                    <div id="mypage_profile_img" class="img-circle"
                                                                         style="width: 85px; height: 85px;">
                                                                        <img class="mypage-memberProfileName" src="">
                                                                    </div>
                                                                    <span class="sr-only">정보 수정</span>
                                                                </a>
                                                            </div>
                                                            <div class="nick text-default-dark table-cell vertical-middle no-margin-top">
                                                                <span class="ug_name text-brand mypage-memberType">기본<a
                                                                        href="javascript:;"
                                                                        class="btn hidden-lg hidden-md hidden-sm"
                                                                        role="button" data-toggle="popover"
                                                                        data-placement="bottom"
                                                                        data-popover-content="#list-popover"
                                                                        data-original-title="" title="">등급혜택</a></span>
                                                                <span class="mypage-memberName">성은지</span><span> 님 안녕하세요.</span>


                                                                <div class="text-15 use_grade">
                                                                    <div class="ug_text mypage-memberEmail">sej07@naver.com</div>
                                                                    <div class="ug_btn">
                                                                        <a href="javascript:" class="btn hidden-xs "
                                                                           role="button" data-toggle="popover"
                                                                           data-placement="bottom"
                                                                           data-popover-content="#list-popover"
                                                                           data-original-title="" title="">정보수정</a>
                                                                        <div id="list-popover" style="display: none"
                                                                             class="list_popover">
                                                                            <div class="lp_header_wrap hidden-lg hidden-md hidden-sm">
                                                                                <h6 class="no-margin">회원 등급별 혜택 안내
                                                                                </h6>
                                                                                <a href="javascript:"
                                                                                   onclick="$('.popover.in').popover('hide');"
                                                                                   class="btl btl bt-times"><span
                                                                                        class="sr-only">닫기</span></a>
                                                                            </div>
                                                                            <div class="lp_content_wrap">
                                                                                <div class=" text-center text-18 margin-bottom-xl hidden-lg hidden-md hidden-sm">
                                                                                    성은지 님의 회원등급은<br><span
                                                                                        class="text-brand">기본</span>
                                                                                    입니다.
                                                                                </div>
                                                                                <div class="lp_title">누적 구매금액: 0원
                                                                                </div>
                                                                                <div class="text-center hidden-lg hidden-md hidden-sm text-14 lp_summary">
                                                                                    <p class="no-margin">구매금액
                                                                                        100,000원 달성 시<br>Saver 로
                                                                                        승급됩니다.</p>
                                                                                </div>
                                                                                <div class="lp_table">
                                                                                    <div class="text-bold text-13">
                                                                                        회원 등급별 혜택 안내
                                                                                    </div>
                                                                                    <div class="table-responsive">
                                                                                        <table class="table no-margin">
                                                                                            <thead>
                                                                                            <tr>
                                                                                                <th>등급명</th>
                                                                                                <th>등급기준</th>
                                                                                                <th>포인트 추가 적립
                                                                                                </th>
                                                                                                <th>적립조건</th>
                                                                                            </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                            <tr class="active">
                                                                                                <td>기본</td>
                                                                                                <td>기본</td>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                            </tr>
                                                                                            <tr class="">
                                                                                                <td>Saver</td>
                                                                                                <td>100,000원
                                                                                                </td>
                                                                                                <td>1% (최대
                                                                                                    10,000원)
                                                                                                </td>
                                                                                                <td>10원</td>
                                                                                            </tr>
                                                                                            <tr class="">
                                                                                                <td>Less Waster
                                                                                                </td>
                                                                                                <td>300,000원
                                                                                                </td>
                                                                                                <td>2% (최대
                                                                                                    30,000원)
                                                                                                </td>
                                                                                                <td>10원</td>
                                                                                            </tr>
                                                                                            <tr class="">
                                                                                                <td>Zero Waster
                                                                                                </td>
                                                                                                <td>500,000원
                                                                                                </td>
                                                                                                <td>3% (최대
                                                                                                    50,000원)
                                                                                                </td>
                                                                                                <td>10원</td>
                                                                                            </tr>
                                                                                            <tr class="">
                                                                                                <td>Earth Lover
                                                                                                </td>
                                                                                                <td>10,000,000원
                                                                                                </td>
                                                                                                <td>5% (최대
                                                                                                    100,000원)
                                                                                                </td>
                                                                                                <td>10원</td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>

                                                                                    <div class="text-12 margin-top-xxl">
                                                                                        <p class="no-margin">최근 3개월
                                                                                            구매금액에 대해 산정됩니다.</p>
                                                                                        <p class="no-margin text-danger">
                                                                                            구매금액이 적립조건을 만족할 때 포인트 추가
                                                                                            적립이 적용됩니다.</p>
                                                                                        <p class="no-margin">등급 조건
                                                                                            달성시 등급 변경은 매월 1일에 반영됩니다.
                                                                                        </p>
                                                                                        <p class="no-margin">구매혜택
                                                                                            조건은 실결제 기준(쿠폰, 적립금, 회원혜택
                                                                                            적용 후 배송비를 제외한 결제금액)으로
                                                                                            적용됩니다.</p>
                                                                                        <p class="no-margin">구매금액
                                                                                            반영은 배송완료 후 7일 이후에 반영됩니다.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-cell vertical-middle point-view text-center">
                                                        <a href="http://localhost:10001/mypage/point">
                                                            <p>포인트</p>
                                                            <span class="text-bold text-32 mypage-memberPoint">0</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="clearfix im-order-header">
                                                    <a href="http://localhost:10001/mypage/order"
                                                       class="btl bt-arrow-left margin-right-12 im-body-size-140 im-xs-body-size-120"
                                                       aria-hidden="true"><span class="sr-only">뒤로가기</span></a>
                                                    <span class="im-order-title im-body-size-140 im-xs-body-size-120">주문
                                                        상세 내역</span>
                                                    <div class="tip-off im-flex im-xs-flex-col im-body-size">
                                                        <span>
                                                            <span class="opacity-70">주문일자</span>
                                                            <span class="text-bold myorder-date">2022-11-12</span>
                                                        </span>
                                                        <span>
                                                            <span class="opacity-70">주문번호</span>
                                                            <span class="text-bold myorder-orderId">2022111223848</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <table class="im-order-detail-table" id="order_detail_table">
                                                    <thead class="hidden-xs opacity-70">
                                                    <tr>
                                                        <th class="im-font-normal">상품 정보</th>
                                                        <th class="im-deliv-price im-font-normal">수량</th>
                                                        <th class="im-font-normal" style="text-align: center; padding: 10px 20px;">진행상태</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="order-detail-list">
<!--                                                    <tr class="im-body-line-height">-->
<!--                                                        <td style="width: 60%;">-->
<!--                                                            <div class="im-flex">-->
<!--                                                                <div class="margin-right-xxl">-->
<!--                                                                    <a href="/bathroom/?idx=24" target="_blank">-->
<!--                                                                        <img alt="상품 이미지"-->
<!--                                                                             src="https://cdn.imweb.me/thumbnail/20220117/6a329ba1bf9e7.jpg">-->
<!--                                                                    </a>-->
<!--                                                                </div>-->
<!--                                                                <div class="full-width">-->
<!--                                                                    <a href="/bathroom/?idx=24" target="_blank">-->
<!--                                                                        <div class="im-body-size myorder-productCategory">[지구샵] 대나무칫솔</div>-->
<!--                                                                        <div class="im-body-size-90 opacity-70 myorder-productName">-->
<!--                                                                            대나무칫솔 : 성인용(19cm)-->
<!--                                                                        </div>-->
<!--                                                                        <div class="im-body-size-90 myorder-productPrice">2,800원 / 1 개-->
<!--                                                                        </div>-->
<!--                                                                    </a>-->
<!--                                                                    <div class="im-status-wrap im-xs-flex-col hidden-lg hidden-md hidden-sm">-->
<!--                                                                        <div class="text-bold im-body-size text-default opacity-70 myorder-orderStatus">-->
<!--                                                                            취소완료-->
<!--                                                                        </div>-->
<!--                                                                        <div class="im-inline-flex im-flex-col-reverse im-xs-flex im-xs-flex-row-reverse im-xs-flex-wrap-reverse cart-btn-tools _btn_tool_row"-->
<!--                                                                             style="width: 24px;">-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                        <td class="im-deliv-price hidden-xs im-body-size-95 myorder-orderDetailCount" rowspan="1">3,000원</td>-->
<!--                                                        <td class="hidden-xs">-->
<!--                                                            <div class="im-flex im-justify-between im-items-center im-xs-flex-col">-->
<!--                                                                <div class="text-bold im-body-size text-default opacity-70 myorder-orderStatus"> 취소완료 </div>-->
<!--                                                                <div class="im-inline-flex im-flex-col-reverse im-xs-flex im-xs-flex-row-reverse im-xs-flex-wrap-reverse cart-btn-tools _btn_tool_row"-->
<!--                                                                     style="width: 24px;">-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr class="hidden-lg hidden-md hidden-sm im-xs-deliv-price im-body-size im-body-line-height">-->
<!--                                                        <td colspan="3">-->
<!--                                                            배송비 <span class="text-bold">3,000원</span>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr class="im-space hidden-lg hidden-md hidden-sm">-->
<!--                                                        <td colspan="3"></td>-->
<!--                                                    </tr>-->
                                                    </tbody>
                                                </table>
                                                <div>
                                                    <span class="im-order-title im-body-size-120">구매자 정보</span>
                                                    <div class="tip-off im-body-size im-body-line-height">
                                                        <div class="im-flex">
                                                            <span class="im-label">주문자</span>
                                                            <span class="myorder-memberName">성은지</span>
                                                        </div>
                                                        <div class="im-flex">
                                                            <span class="im-label">연락처</span>
                                                            <span class="myorder-memberPhone">010-6555-9107</span>
                                                        </div>
                                                        <div class="im-flex">
                                                            <span class="im-label">이메일</span>
                                                            <span class="myorder-memberEmail">sejjes07@gmail.com</span>
                                                        </div>
                                                    </div>
                                                    <span class="im-order-title im-body-size-120">배송지 정보</span>
                                                    <div class="tip-off im-body-size im-body-line-height">
                                                        <div class="im-flex">
                                                            <span class="im-label">배송지</span>
                                                            <div class="myorder-orderAddress">(06236) 서울 강남구 테헤란로 지하 156 (역삼동, 역삼역) <br> 401호</div>
                                                        </div>
                                                        <div class="im-flex">
                                                            <span class="im-label">배송메모</span>
                                                            <span class="myorder-orderMessage"></span>
                                                        </div>
                                                    </div>
                                                    <span class="im-order-title im-body-size-120">주문 금액 상세</span>
                                                    <div class="im-order-price">
                                                        <div class="im-flex im-xs-flex-col">
                                                            <div class="im-flex im-flex-col im-flex-1 im-order-row">
                                                                <div class="im-flex im-justify-between im-order-price-header im-line-height-120">
                                                                    <span class="im-body-size im-xs-body-size-95">주문금액</span>
                                                                    <span class="im-body-size-150 im-xs-body-size myorder-orderPrice">2,800원</span>
                                                                </div>
                                                                <div class="im-flex-col im-order-price-body im-grow im-body-line-height">
                                                                    <div class="im-flex im-justify-between im-items-center">
                                                                        <span class="im-body-size-95 opacity-70"><i
                                                                                class="im-icon im-ico-under hidden-lg hidden-md hidden-sm"></i>상품금액</span>
                                                                        <span class="im-body-size myorder-orderPrice">2,800원</span>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="im-flex im-flex-col im-flex-1 im-order-row">
                                                                <div class="im-flex im-justify-between im-order-price-header im-line-height-120">
                                                                    <svg height="20px"
                                                                         style="enable-background:new 0 0 32 32;"
                                                                         version="1.1" viewBox="0 0 32 32" width="20px"
                                                                         xml:space="preserve"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <g id="Layer_1"></g>
                                                                        <g id="minus_x5F_alt">
                                                                    <path d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M24,18H8v-4h16V18z"
                                                                          style="fill:gray;"></path>
                                                                </g>
                                                            </svg>
                                                                    <span class="im-body-size im-xs-body-size-95">배송비</span>
                                                                    <span class="im-body-size-150 im-xs-body-size">3000원</span>
                                                                </div>

                                                                <div class="im-flex-col im-order-price-body im-grow im-body-line-height">

                                                                    <div class="im-flex im-justify-between im-items-center">
                                                                        <span class="im-body-size-95 opacity-70"><i
                                                                                class="im-icon im-ico-under hidden-lg hidden-md hidden-sm"></i>배송비</span>
                                                                        <span class="im-body-size">3,000원</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="im-flex im-flex-col im-flex-1 im-order-row">
                                                                <div class="im-flex im-justify-between im-order-price-header im-line-height-120">
                                                                    <svg height="20px"
                                                                         style="enable-background:new 0 0 32 32;"
                                                                         version="1.1" viewBox="0 0 32 32" width="20px"
                                                                         xml:space="preserve"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_1"></g>
                                                                        <g id="minus_x5F_alt">
                                                                    <path d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M24,18H8v-4h16V18z"
                                                                          style="fill:gray;"></path>
                                                                </g></svg>
                                                                    <span class="im-body-size">총 주문금액 </span>
                                                                    <span class="text-brand im-body-size-150 im-xs-body-size-120 myorder-totalPrice">5,800원</span>
                                                                </div>
                                                                <div class="im-flex-col im-order-price-body im-pay-type-detail im-grow hidden-xs im-body-line-height">

                                                                    <p class="im-body-size im-pay-type-detail-title">
                                                                        무통장입금</p>

                                                                    <div class="im-pay-type-detail-group">
                                                                        <div class="im-body-size-95 im-body-line-height opacity-70">
                                                                            <p class="im-pay-type-detail-body">동석은행
                                                                                1204-1004-7942</p>
                                                                            <p class="im-pay-type-detail-body">예금주
                                                                                별별쓰담</p>
                                                                            <p class="im-pay-type-detail-body">
                                                                                2022-12-24 14:11 까지</p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hidden-lg hidden-md hidden-sm">
                                                        <span class="im-order-title im-body-size-120">결제수단</span>
                                                        <div class="tip-off">
                                                            <div class="margin-bottom-xxxl">
                                                                <p class="im-body-size im-pay-type-detail-title">
                                                                    무통장입금 </p>
                                                            </div>
                                                            <div class="margin-bottom-xxxl">
                                                                <p class="subtitle">계좌 정보</p>
                                                                <p>우리은행 1006301467973 예금주: 주식회사피스온테이블</p>
                                                            </div>
                                                            <div>
                                                                <p class="subtitle">입금 기간</p>
                                                                <p>2022-11-13 14:11 까지</p>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                            <div style="font-size: 15px; padding: 70px; text-align: center; display: none;"
                                                 class="body_font_color_40" id="shop_mypage_orderlist_empty">
                                                loading...
                                            </div>

                                            <div style="font-size:15px; padding: 15px;" class="table-wrap text-center">
                                                <a href="javascript:;" id="shop_mypage_orderlist_more"
                                                   onclick="SITE_SHOP_MYPAGE.getOrderList('order')"
                                                   style="display: none;">더보기 <i aria-hidden="true"
                                                                                 style="margin-left:2px"
                                                                                 class="btm bt-plus-circle"></i></a>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div id="cocoaModal" role="dialog" aria-hidden="false" class="modal in modal_order_cancel_detail" data-backdrop="true" data-keyboard="true" style="display: none;">
    <div class="modal-dialog ui-draggable" style="margin: 13%!important;">
        <div class="modal-content" style="border: 1px solid #d2d2d2;">
            <div class="layer_pop">
                <div class="top-block">
                    <div class="text-brand set-tit text-center">취소 상세정보</div>
                    <a href="javascript:cancelModalClose();" data-dismiss="modal" class="bt bt-flat bt-default" data-toggle="tooltip" data-placement="bottom" data-original-title="닫기"><i class="btl bt-times"></i></a>
                </div>
                <div class="body-block" style="overflow-y: scroll; max-height: 19rem;"><div class="tabled full-width prod_preview"><div class="table-cell vertical-middle width-2"><img width="60" height="60" src="\upload\community\2022\12\10\b4f834e6023746809ce4c3b73f562f93대나무칫솔.jpg"></div><div class="table-cell vertical-middle"><span class="text-15">[생활]고체 세탁세제28</span><div class="text-13 text-gray-bright"><!--<div>컬러&nbsp;:&nbsp;그린</div>--><div>21000원 / 1개</div></div></div><div class="text-13 table-cell vertical-middle text-right width-2">주문취소</div></div></div>
                <div class="foot-block no-padding margin-bottom-xxxl text-center" style="padding-top: 10px">
                    <!--                    <a href="javascript:;" class="btn-brand">취소철회</a>-->
                    <a href="javascript:cancelMyOrder();" class="btn-brand order-cancel-btn" data-dismiss="modal" data-original-title="" title="">주문취소</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/mypage/mypageModule.js"></script>
<script src="/js/mypage/mypageOrderDetail.js"></script>
<!--<script src="/js/mypage/mypageCourse.js"></script>-->
</html>