<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 마이페이지</title>
    <link rel="icon" href="/images/fix/favicon.png">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/mypage/mypageOrderList.css">
    <link rel="stylesheet" href="/css/mypage/mypageCourse.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>

<body
        class="doz_sys _body_menu_m20200103e566d1814daef  shop_mypage  fixed-menu-on new_fixed_menu_on new_header_site  loggedin"
        id="doz_body">
<th:block th:if="${session.member == null}">
    <header th:replace="/app/fix/header.html :: header"></header>
</th:block>
<th:block th:if="${session.member != null}">
    <header th:replace="/app/fix/headerLogin.html :: header"></header>
</th:block>
<div doz_type="section"
     class="section_wrap  pc_section    section_first _section_first   mobile_section_first    side_basic grid_gutter_0 grid_v_gutter_0   "
     id="s202001038f5e33413dcec" doz_change_mobile=" N" doz_aside="N" doz_side_width="200" doz_side_margin="0"
     doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
     doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   "
         style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
         style="background-color:#ffffff;  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <main>
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200103c5a95f449eb6b">
                        <div class="_widget_data _ds_animated_except" data-widget-name="쇼핑 마이페이지"
                             data-widget-type="shop_mypage" data-widget-parent-is-mobile="N">
                            <div class="shop-content mypage">
                                <div class="container-fluid">
                                    <div class="row show-grid">
                                        <div class="col-md-2 col-sm-12 hidden-xs hidden-sm left-menu">
                                            <ul>
                                                <li class="">
                                                    <a href="/mypage/badge"
                                                       class="text-gray-dark _fade_link">나의 <span
                                                            class="hidden-xs">배지</span></a>
                                                </li>
                                                <li class="on">
                                                    <a href="/mypage/course"
                                                       class="text-gray-dark _fade_link">나의 <span
                                                            class="hidden-xs">코스</span></a>
                                                </li>
                                                <li class="">
                                                    <a href="/mypage/point"
                                                       class="text-gray-dark _fade_link">나의 포인트</a>
                                                </li>
                                                <li class="">
                                                    <a href="/mypage/order"
                                                       class="text-gray-dark _fade_link">주문조회</a>
                                                </li>
                                                <li class="">
                                                    <a href="/mypage/cancel"
                                                       class="text-gray-dark _fade_link">주문취소</a>
                                                </li>
                                                <!-- <li class="">
                                                    <a href="/shop_mypage/?m2=wish_list"
                                                        class="text-gray-dark _fade_link"><span
                                                            class="hidden-xs">장바구니</span></a>
                                                </li> -->
                                                <li class="">
                                                    <a href="/mypage/pickup"
                                                       class="text-gray-dark _fade_link">수거신청내역</a>
                                                </li>
                                                <li class="">
                                                    <a href="/mypage/program"
                                                       class="text-gray-dark _fade_link">수강내역</a>
                                                </li>
                                                <li class="">
                                                    <a href="/mypage/community"
                                                       class="text-gray-dark _fade_link">작성글 / 작성댓글</a>
                                                </li>
                                                <li>
                                                    <a href="/mypage/info"
                                                       onclick="SITE_MEMBER.editProfile('L3Nob3BfbXlwYWdl');"
                                                       class="text-gray-dark _fade_link">정보수정 / 탈퇴</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-10 col-sm-12">
                                            <div class="head bg-bright">
                                                <div class="my-theme tabled full-width">
                                                    <div class="img-view table-cell vertical-middle">
                                                        <div class="tabled full-width">
                                                            <div class="tumbs table-cell vertical-middle">
                                                                <a href="javascript:;"
                                                                   onclick="SITE_MEMBER.editProfile('L3Nob3BfbXlwYWdl');">
                                                                    <div id="mypage_profile_img" class="img-circle"
                                                                         style="width: 85px; height: 85px; ">
                                                                        <img class="mypage-memberProfileName" src="" style="border-radius: 50%; width: 85px; height: 85px;">
                                                                    </div>
                                                                    <span class="sr-only">정보 수정</span>
                                                                </a>
                                                            </div>
                                                            <div
                                                                    class="nick text-default-dark table-cell vertical-middle no-margin-top">
                                                                    <span class="ug_name text-brand mypage-memberType">기본
<!--                                                                        <a href="javascript:;"-->
<!--                                                                            class="btn hidden-lg hidden-md hidden-sm"-->
<!--                                                                            role="button" data-toggle="popover"-->
<!--                                                                            data-placement="bottom"-->
<!--                                                                            data-popover-content="#list-popover"-->
<!--                                                                            data-original-title=""-->
<!--                                                                            title="">등급혜택</a>-->
                                                                    </span>
                                                                <span class="mypage-memberName">성은지</span><span> 님 안녕하세요.</span>


                                                                <div class="text-15 use_grade">
                                                                    <div class="ug_text mypage-memberEmail">sej07@naver.com</div>
                                                                    <div class="ug_btn">
                                                                        <a href="/mypage/info" class="btn hidden-xs "
                                                                           role="button" data-toggle="popover"
                                                                           data-placement="bottom"
                                                                           data-popover-content="#list-popover"
                                                                           data-original-title="" title="">정보수정</a>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-cell vertical-middle point-view text-center">
                                                        <a href="/mypage/point">
                                                            <p>포인트</p>
                                                            <span class="text-bold text-32 mypage-memberPoint">0</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="tabCommonTit">나의 코스</h3>
                                            <div class="myTabMenu">
                                                <ul class="mycourseWrap">
                                                    <li class="mycourseTab unlock"><a>1코스</a></li>
                                                    <li class="mycourseTab unlock"><a>2코스</a></li>
                                                    <li class="mycourseTab unlock"><a>3코스</a></li>
                                                    <li class="mycourseTab unlock"><a>4코스</a></li>
                                                    <li class="mycourseTab unlock"><a>5코스</a></li>
                                                    <li class="mycourseTab unlock"><a>스페셜</a></li>
                                                </ul>
                                            </div>
                                            <div class="myTabContents noticeTab active">
                                                <div class="mycourseLocation">
                                                    <p class="mycourseCopy">
                                                        <span>"</span>
                                                        <span class="mypage-memberName">고객</span>
                                                        <span>"</span>
                                                        <span>님이</span>
                                                        <span class="mypage-courseStatus">참여 중인</span>
                                                        <span><br>줍깅 코스입니다!</span>
                                                    </p>
                                                    <img class="locationImg" src="/images/mypage/locate2.png">
                                                </div>
                                                <div class="noticeListWrap">
                                                    <div class="courseLine"></div>
                                                    <div class="participatingCourseLine"></div>
                                                    <ul class="noticeListTimeLine">
                                                        <li class="noticeDayWrap">
                                                            <ul class="courseList">
                                                                <li class="noticeContentWrap active">
                                                                    <div class="left">
                                                                        <p class="categoryAndDate">
                                                                            <span>1코스 1지점</span>
                                                                        </p>
                                                                        <p class="noticeContent">서울 어디구 어디동 어디어디</p>
                                                                    </div>
                                                                </li>
                                                                <li class="noticeContentWrap active">
                                                                    <div class="left">
                                                                        <p class="categoryAndDate">
                                                                            <span>1코스 2지점</span>
                                                                        </p>
                                                                        <p class="noticeContent">서울 어디구 어디동 어디어디</p>
                                                                    </div>
                                                                </li>
                                                                <li class="noticeContentWrap active">
                                                                    <div class="left">
                                                                        <p class="categoryAndDate">
                                                                            <span>1코스 3지점</span>
                                                                        </p>
                                                                        <p class="noticeContent">서울 어디구 어디동 어디어디</p>
                                                                    </div>
                                                                </li>
                                                                <li class="noticeContentWrap">
                                                                    <div class="left">
                                                                        <p class="categoryAndDate">
                                                                            <span>1코스 4지점</span>
                                                                        </p>
                                                                        <p class="noticeContent">서울 어디구 어디동 어디어디</p>
                                                                    </div>
                                                                </li>
                                                                <li class="noticeContentWrap">
                                                                    <div class="left">
                                                                        <p class="categoryAndDate">
                                                                            <span>1코스 5지점</span>
                                                                        </p>
                                                                        <p class="noticeContent">서울 어디구 어디동 어디어디</p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="no-active-course" style="display: none; padding: 0; padding-top: 30px; text-align: center;">
                                                    <p>
                                                        <span>참여 중인 줍깅 코스가 없어요</span>
                                                    </p>
                                                    <button class="btn btn-secondary" style="background-color: #00C7AE; color: white;" onclick="location.href='/jubgging'">
                                                        참여하러 가기
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="not-open-course swal2-container swal2-center sg-swal swal2-shown" style="overflow-y: auto;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show"
         tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="width: 320px; display: flex;">
        <div class="swal2-header">
            <ul class="swal2-progress-steps" style="display: none;"></ul>
            <div class="swal2-icon swal2-error" style="display: none;"><span class="swal2-x-mark"><span
                    class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span>
            </div>
            <div class="swal2-icon swal2-question" style="display: none;"></div>
            <div class="swal2-icon swal2-warning" style="display: none;"></div>
            <div class="swal2-icon swal2-info" style="display: none;"></div>
            <div class="swal2-icon swal2-success" style="display: none;">
                <div class="swal2-success-circular-line-left"></div><span class="swal2-success-line-tip"></span>
                <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div>
                <div class="swal2-success-fix"></div>
                <div class="swal2-success-circular-line-right"></div>
            </div><img class="swal2-image" style="display: none;">
            <h2 class="swal2-title" id="swal2-title" style="display: flex;">미참여 코스</h2><button type="button"
                                                                                               class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
        </div>
        <div class="swal2-content">
            <div id="swal2-content" style="display: block;">줍깅 챌린지에 도전 후<br>서비스를 이용할 수 있습니다.</div><input class="swal2-input"
                                                                                                         style="display: none;"><input type="file" class="swal2-file" style="display: none;">
            <div class="swal2-range" style="display: none;"><input type="range"><output></output></div><select
                class="swal2-select" style="display: none;"></select>
            <div class="swal2-radio" style="display: none;"></div><label class="swal2-checkbox"
                                                                         style="display: none;"><input type="checkbox"><span class="swal2-label"></span></label><textarea
                class="swal2-textarea" style="display: none;"></textarea>
            <div class="swal2-validation-message" id="swal2-validation-message"></div>
        </div>
        <div class="swal2-actions">
            <button type="button" class="swal2-confirm btn" aria-label=""
                    style="display: inline-block;" onclick="location.href='/jubgging'">참여하러 가기</button>
            <a href="javascript:unlockCourseModalClose();" class="modal-combackBtn">다음에 할게요</a>
        </div>
        <div class="swal2-footer" style="display: none;"></div>
    </div>
    <th:block th:if="${session.member != null}">
        <input type="hidden" name="memberId" th:value="${session.member.memberId}">
        <input type="hidden" name="memberName" th:value="${session.member.memberName}">
        <input type="hidden" name="memberEmail" th:value="${session.member.memberEmail}">
        <input type="hidden" name="memberPoint" th:value="${session.member.memberPoint}">
        <input type="hidden" name="memberCategory" th:value="${session.member.memberCategory}">
        <input type="hidden" name="memberProfileName" th:value="${session.member.memberProfileName}">
    </th:block>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    let memberId = $("input[name='memberId']").val();
    let memberName = $("input[name='memberName']").val();
    let memberEmail = $("input[name='memberEmail']").val();
    let memberPoint = $("input[name='memberPoint']").val();
    let memberCategory = $("input[name='memberCategory']").val();
    let memberProfileName = $("input[name='memberProfileName']").val();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/js/mypage/mypageModule.js"></script>
<script src="/js/mypage/mypageCourse.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/fix/headerLogin.js"></script>
</html>