<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/fix/favicon.png">
    <title>메인 헤더</title>
    <link data-vue-meta="1" rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
</head>
<body>

<header id="app-header" class="global-header hide-border-bottom" data-v-50506024="">
    <div data-v-3a2c0d3c="" data-v-50506024="" class="global-navigation-bar">
        <section data-v-3a2c0d3c="" class="mobile-header d-lg-none d-xl-none">
            <div data-v-3a2c0d3c="" class="col-4 mobile-header-col left vue-portal-target">
                <img class="mobliebutton" style="cursor: pointer;" data-v-3a2c0d3c=""  src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIGQ9Ik00LjUgNmgxNW0tMTUgNmgxNW0tMTUgNmgxNSIgc3Ryb2tlPSIjMkQyRDJEIiBzdHJva2Utd2lkdGg9IjEuNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CiAgICA8L2c+Cjwvc3ZnPgo=" data-testid="side-nav-menu-icon" alt="네비게이션 메뉴 아이콘">
            </div>
            <div data-v-3a2c0d3c="" class="col-4 mobile-header-col center vue-portal-target">
                <a data-v-3a2c0d3c="" href="/main" class="logo">
                    <img data-v-3a2c0d3c=""  src="/images/fix/logo.png" alt="별별쓰담 로고" data-testid="main-logo">
                </a>
            </div>
            <div data-v-3a2c0d3c="" class="col-4 mobile-header-col right vue-portal-target">
                <div data-v-f8be2a20="" data-v-3a2c0d3c="" class="notification-counter notification">
                    <button data-v-f8be2a20="" type="button" class="btn btn-clear btn-none"  onclick="location.href='/market/basket'">
                        <img data-v-f8be2a20="" src="https://www.brandi.co.kr/static/22.07.04/images/header/ic-cart.svg" alt="장바구니" class="alarm-image" style="width: 26px;">
                    </button>
                </div>
            </div>

            <div data-v-6c349158="" data-v-3a2c0d3c="">
                <div data-v-6c349158="" data-testid="mobile-usermenu" status="GUEST" class="mobile-usermenu">
                    <div data-v-6c349158="" class="header">
                        <button data-v-6c349158="" class="close-button">
                            <img data-v-6c349158="" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0iYSIgZD0iTTkgNy44NjlMMTYuNDM0LjQzNGwxLjEzMiAxLjEzMkwxMC4xMyA5bDcuNDM1IDcuNDM0LTEuMTMyIDEuMTMyTDkgMTAuMTNsLTcuNDM0IDcuNDM1LTEuMTMyLTEuMTMyTDcuODcgOSAuNDM0IDEuNTY2IDEuNTY2LjQzNCA5IDcuODd6Ii8+CiAgICA8L2RlZnM+CiAgICA8dXNlIGZpbGw9IiMzMjMyMzIiIGZpbGwtcnVsZT0ibm9uemVybyIgeGxpbms6aHJlZj0iI2EiLz4KPC9zdmc+Cg==">
                        </button>
                    </div>
                    <div data-v-6c349158="" class="body">
                        <div data-v-6c349158="" data-name="user" class="row">
                            <div data-v-6c349158="" data-name="user-info" role="button" class="col">
                                <h4 data-v-6c349158="">로그인 해주세요</h4>
                                <a href="/login/" data-v-6c349158="" data-testid="login-btn"> 로그인
                                    <span data-v-6c349158="" class="new-feature-badge" style="display: none;"></span>
                                    <img data-v-6c349158="" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgNiAxMCI+CiAgICA8cGF0aCBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzRENEY1NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9Ii44IiBkPSJNMSAxbDQgNC00IDQiLz4KPC9zdmc+Cg==" alt="arrow" class="angle-icon">
                                </a>
                            </div>
                            <div data-v-6c349158="" data-name="user-profile" class="col-auto"></div>
                        </div>
                        <nav data-v-6c349158="" class="gnb-list">
                            <ul data-v-6c349158="" class="user-menu">
                                <li data-v-6c349158="" class="nav-item">
                                    <a data-v-6c349158=""
                                       href="/join/join" class="gnb-link">
                                        <span data-v-6c349158="" class="menu-title">회원가입</span>
                                    </a>
                                </li>
                                <li data-v-6c349158="" class="nav-item">
                                    <a data-v-6c349158="" href="/join/picker" class="gnb-link">
                                        <span data-v-6c349158="" class="menu-title">기사가입</span>
                                    </a>
                                </li>
                            </ul>
                            <ul data-v-6c349158="" class="service-menu">
                                <li data-v-6c349158="" class="nav-item">
                                    <a data-v-6c349158="" href="/market" class="lnb-link">
                                        <span data-v-6c349158="" class="menu-title">별별마켓</span>
                                    </a>
                                </li>
                                <li data-v-6c349158="" class="nav-item">
                                    <a data-v-6c349158="" th:href="@{/program/list}" class="lnb-link">
                                        <span data-v-6c349158="" class="menu-title">쓰담학교</span>
                                    </a>
                                </li>
                                <li data-v-6c349158="" class="nav-item"><a data-v-6c349158=""
                                                                           th:href="@{/jubgging}" class="lnb-link"><span
                                        data-v-6c349158="" class="menu-title">별별줍깅</span></a>
                                </li>
                                <li data-v-6c349158="" class="nav-item"><a data-v-6c349158=""
                                                                           href="/recycle/recyclingintro"
                                                                           class="lnb-link"><span data-v-6c349158="" class="menu-title">쓰담수거</span></a>
                                    <!---->
                                </li>
                                <li data-v-6c349158="" class="nav-item"><a data-v-6c349158=""
                                                                           th:href="@{/community}"
                                                                           class="lnb-link"><span data-v-6c349158="" class="menu-title">커뮤니티</span></a>
                                    <!---->
                                </li>
                                <li data-v-6c349158="" class="nav-item"><a data-v-6c349158=""
                                                                           href="/notice"
                                                                           class="lnb-link"><span data-v-6c349158="" class="menu-title">공지사항</span></a>
                                    <!---->
                                </li>
                            </ul>
                            <ul data-v-6c349158="" class="user-menu">
                                <li data-v-6c349158="" class="nav-item"><a data-v-6c349158=""
                                                                           href="/pickup/main"
                                                                           class="lnb-link"><span data-v-6c349158="" class="menu-title">기사님 광장</span></a>
                                    <!---->
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <!---->
            </div>
        </section>
        <section data-v-3a2c0d3c="" class="d-none d-lg-block d-xl-block">
            <div data-v-3a2c0d3c="" class="desktop-header">
                <div data-v-3a2c0d3c="" class="left-section">
                    <div data-v-3a2c0d3c="" class="logo"><a data-v-3a2c0d3c="" href="/main" class=""><img
                            data-v-3a2c0d3c="" src="/images/fix/logo.png"
                            alt="별별쓰담 로고"></a></div>
                    <nav data-v-3a2c0d3c="">
                        <ul data-v-3a2c0d3c="" class="nav-list">
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item">
                                <a href="/market" class="gnb-link">
                                    <span data-v-3a2c0d3c="">별별마켓</span></a></li>
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a th:href="@{/program/list}" class="gnb-link">
                                <span data-v-3a2c0d3c="">쓰담학교</span></a></li>
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a data-v-3a2c0d3c=""
                                                                                         th:href="@{/jubgging}" class="gnb-link"><span
                                    data-v-3a2c0d3c="">별별줍깅</span></a></li>
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a data-v-3a2c0d3c=""
                                                                                         href="/recycle/recyclingintro" class="gnb-link"><span data-v-3a2c0d3c="">쓰담수거</span></a></li>
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a data-v-3a2c0d3c=""
                                                                                         th:href="@{/community}" class="gnb-link"><span
                                    data-v-3a2c0d3c="">커뮤니티</span></a></li>
                        </ul>
                    </nav>
                </div>

                <div data-v-3a2c0d3c="" class="right-section">
                    <nav data-v-3a2c0d3c="">
                        <ul data-v-3a2c0d3c="" class="nav-list">
                            <li data-v-3a2c0d3c="" class="nav-item right-section-item">
                                <a data-v-3a2c0d3c="" href="/login" class="gnb-link">
                                    <span data-v-3a2c0d3c="">로그인</span>
                                </a>
                            </li>
                            <li data-v-3a2c0d3c="" class="nav-item right-section-item">
                                <a data-v-3a2c0d3c="" href="/join" class="gnb-link">
                                    <span data-v-3a2c0d3c="">회원가입</span>
                                </a>
                            </li>
                            <button data-v-f8be2a20="" type="button" class="btn btn-clear btn-none" onclick="location.href='/market/basket'" style="position: relative; padding-left: 10px;">
                                <img data-v-f8be2a20="" src="https://www.brandi.co.kr/static/22.07.04/images/header/ic-cart.svg" alt="알림" class="alarm-image" style="width: 27px;">
<!--                                <small data-v-9e8436be="" class="count" style="position: absolute; min-width: 14px; height: 12px; padding: 0 4px; background-color: #00c7ae; border-radius: 50%; color: #fff; font-size: 8px; line-height: 12px; text-indent: 0; text-align: center; right: -1px; top: -2px; vertical-align: middle; line-height: 1.2;">2</small>-->
                            </button>
                        </ul>
                    </nav><button data-v-3a2c0d3c="" type="button"
                                  class="btn pro-signup-btn right-section-item btn-primary"><a data-v-3a2c0d3c=""
                                                                                               href="/join/picker" class="">기사가입</a></button>
                </div>
            </div>
        </section>
    </div>
</header>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>