<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recycling</title>
    <link rel="stylesheet" href="/css/Recycling/recyclingIntro.css">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
    <link rel="icon" href="/images/fix/favicon.png">
</head>

<body>
<!-- header start -->
<!-- header end -->

<!-- title start -->
<header th:replace="/app/fix/header.html :: header"></header>
<section data-v-158066f9="" class="jumbotron" style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/service-bg/service_362.jpg&quot;); margin: 0;">
    <div data-v-158066f9="" class="title-wrapper" style="z-index: 3;">
        <h1 class="title" id="h1">수거 신청하기</h1>
        <div data-v-158066f9="" data-name="service-review-rate">
            <ul data-v-a0be80fc="" data-v-158066f9="" class="star-rate readonly" style="--gap:0px;">
            <li data-v-a0be80fc="">
                <img data-v-a0be80fc="" class="img" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg" alt="Star Icon">
            </li>
                <li data-v-a0be80fc="">
                    <img data-v-a0be80fc="" class="img" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg" alt="Star Icon">
                        </li>
                 <li data-v-a0be80fc="">
                    <img data-v-a0be80fc="" class="img" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg" alt="Star Icon">
                        </li>
                 <li data-v-a0be80fc="">
                    <img data-v-a0be80fc="" class="img" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-full.svg" alt="Star Icon">
                         </li>
                <li data-v-a0be80fc="">
                    <img data-v-a0be80fc="" src="https://assets.cdn.soomgo.com/icons/icon-common-review-star-small-half.svg" alt="Star Icon">
                        </li>
            </ul>
            <span class="starnum">4.5</span>
        </div>
        <div data-v-158066f9="" data-name="service-data" class="row no-gutters">
            <div data-v-158066f9="" class="col-auto" style="padding-right: 1.875rem;"><h5 class="title num count" data-count="12376"></h5>
                <p class="title sub">활동 고수</p>
            </div><div data-v-158066f9="" class="col-auto" style="padding: 0 1.875rem;">
                <h5 class="title num count" data-count="57686">57,686</h5>
                        <p class="title sub">누적 요청서</p>
                </div>
                    <div data-v-158066f9="" class="col-auto" style="border-right: none; padding: 0 1.875rem;"><h5 class="title num count" data-count="2522"></h5>
                        <p class="title sub">리뷰 수</p>
                    </div>
                </div>
            </div>
            <div data-v-158066f9="" class="dimmed"></div>
        </section>

    <!-- title end -->




    <!-- input start -->
  
    <section data-v-158066f9="" class="form-contents">
        <div data-v-158066f9="" data-name="request-form-wrap">

            <!-- from -->
            <form data-v-a27bfd4a="" data-v-158066f9="" data-testid="request-form" class="request-form container-fluid">
                <div data-v-158bbf04="" data-v-a27bfd4a="" class="request-form-progress-bar">
                    <div data-v-158bbf04="" class="progress-wrapper">
                            <div data-v-158bbf04="" class="progress">
                                <div data-v-158bbf04="" class="progress-bar" style="width: 0%;">
                                    </div>
                            </div>
                    <div data-v-158bbf04="" class="progress-percent">0%</div>
                </div>
            </div>
          

            <div id="ex7" class="intro">
   
                <div d="column" class="styled__FlexBox-sc-1p5px34-1 bdZecB">
                    <div class="typography__H4-sc-1t3ve9o-3 cTdBAg text" style="font-size: 24px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-weight: 600;">내가 원하는 날짜와 시간에, 수거해 드림</div>
                    <div d="column" class="column">
                        <p class="typography__P1-sc-1t3ve9o-8 cxvWsi text" style="margin: 0;">원하는 날짜와 시간에 분리수거부터 이동, 배출까지</p>
                        <p style="margin: 5px;" class="text">수거 파트너가 대신해 드려요!</p>
                    </div>
                        <div class="img1 img">
                            <img src="/images/recycling/choice2.png" alt="" style="width: 150px;">
                            <img src="/images/recycling/checklist2.png" alt="" style="width: 150px;" >
                            
                        </div>
                        
                        
                        <div class="img2 img">
                            <p class="typography__P1-sc-1t3ve9o-8 gUczwP"><strong>STEP 1.</strong> 수거 신청 선택</p>
                            <p class="typography__P1-sc-1t3ve9o-8 gUczwP"><strong>STEP 2.</strong> 신청 목록 작성</p>
                        </div>
                    
                       
                    <div class="img3 img">
                        <img src="/images/recycling/connection2.png" alt="" style="width: 150px;">
                        <img src="/images/recycling/delivery2.png" alt="" style="width: 150px;">
                    </div>
                    
                    <div class="img4 img">
                        <p class="typography__P1-sc-1t3ve9o-8 gUczwP"><strong>STEP 3.</strong> 파트너 배정</p>
                        <p class="typography__P1-sc-1t3ve9o-8 gUczwP"><strong>STEP 4.</strong> 방문 수거</p>
                    </div>
                
                <hr color="#00c7ae" class="styled__Spacer-sc-1p5px34-5 idEXNe">
                <div class="typography__H4-sc-1t3ve9o-3 iKxjjd text" style="margin-top: 20px;
                margin-bottom: 20px;
                font-weight: 600;">수거 신청 서비스는 지금 바로 이용 가능합니다.</div>
                
                    <div data-v-a27bfd4a="" class="button-wrapper text"><!---->
                        <button data-v-a27bfd4a="" type="button" data-testid="request-next-btn" class="step-btn color-teal" >
                            <a th:href="@{/test/recycling}" style="text-decoration: none; color: #fff;"> 다음</a></button>
                </div>
                  </div>

                    </div>
                </div>



                </form>

                <!-- form end -->


            </div>
            <div data-v-158066f9="" data-name="usage-tip">
                <h4 data-v-158066f9="" style="font-size: 18px;
    font-weight: 600;">수거신청은 어떤 서비스 인가요?</h4>
                <p data-v-158066f9="" class="p2"> 
                    수거가 필요한 고객과 서비스를 제공하는 파트너를 쉽고 빠르게 연결해드리는 수거 매칭 서비스입니다.
                    <br data-v-158066f9=""> 
                    수거 목록 요청서를 작성하면, 별별쓰담에서 여러 파트너들이 보내드려요.
                    <br data-v-158066f9=""> 
                    맘에 쏙 드는 수거 맞춤형 서비스를 받아보세요. 
                </p>
                <h4 data-v-158066f9="" style="font-size: 18px;
    font-weight: 600;">
                     상황별 고객 맞춤형 재활용 수거 서비스
                </h4>
                <p data-v-158066f9="" class="p2">별별쓰담 에서는 다양한 수거 방법이 있습니다.
                    <br>
                     나의 상황에 맞는 수거 방법을 선택하여<br>맞춤형 서비스를 경험해 보세요!
                    <br>
                    별별쓰담을 통해 재활용 수거 신청 서비스, 줍깅 챌린지에 도전해 보세요!!
                </p>
            </div>
        </section>

    <!-- input end -->


<!-- footer start -->
<!-- footer end -->
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/recycling/recyclingIntro.js"></script>
<script src="/js/fix/headerLogin.js"></script>
</html>