@charset "utf-8";

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

#app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h1, .h2, h1, h2 {
    font-weight: 400;
}

.h1, h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
    letter-spacing: -.04375rem;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
}

address, dl, ol, ul {
    margin-bottom: 1rem;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, select {
    text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

b, strong {
    font-weight: bolder;
}

a {
    color: #323232;
    background-color: transparent;
}

a, a:hover {
    text-decoration: none;
}

img, svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

input{
    outline: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.instant-purchase-container {
    max-width: 60.625rem;
    padding: 0;
    margin: 0 auto;
}

.instant-purchase-container>* {
    padding: 0 1rem 5rem;
}

.instant-purchase-container>* .page-heading {
    background: #fff;
    margin: 0 -1rem;
    padding: 2rem 1rem 0.5rem;
}

.instant-purchase-container>* .page-heading h1.page-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.market-keyword-search-form[data-v-78206d9f] {
    position: relative;
    padding: 0.625rem 0;
    background: #fff;
}

.market-keyword-search-form.open[data-v-78206d9f] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.625rem 1rem;
    margin: 0;
    z-index: 1030;
    overflow: hidden;
}

.search-area[data-v-78206d9f] {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    height: 100%;
}

.search-icon[data-v-78206d9f] {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.5rem;
}

.input-wrap[data-v-78206d9f] {
    display: flex;
}

.keyword-box[data-v-78206d9f] {
    display: none;
    background: #fff;
    overflow: auto;
    flex: 1;
    margin: 0.625rem -1rem 0;
    padding: 0.75rem 0 2.5rem;
}

.keyword-box ul[data-v-78206d9f] {
    margin: 0;
}

.keyword-box li.title[data-v-78206d9f] {
    font-weight: 700;
}

.keyword-box li[data-v-78206d9f]:not(.title) {
    cursor: pointer;
}

.keyword-box li[data-v-78206d9f] {
    display: flex;
    height: 2.875rem;
    padding: 0 1rem;
    align-items: center;
    font-size: .875rem;
    white-space: pre-line;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group[data-v-78206d9f] {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border: 0;
    border-radius: 8px;
    width: 100%;
    height: 2.75rem;
}

.input-group-prepend {
    margin-right: -0.0625rem;
}

.input-group-append, .input-group-prepend {
    display: flex;
}

.input-group-prepend[data-v-78206d9f] {
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 0.875rem;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}

.input-group>.custom-select:not(:first-child), .input-group>.pro-form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.custom-file .custom-file-input:focus~.custom-file-label, .input-group>.custom-select:focus, .input-group>.pro-form-control:focus {
    z-index: 3;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.pro-form-control, .input-group>.pro-form-control-plaintext {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

.pro-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pro-form-control[data-v-78206d9f] {
    border: 0;
    background: none;
    padding: 0;
    height: 100%;
    margin-right: 0.5rem;
    width: 315px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}

.btn-link {
    font-weight: 400;
    color: #323232;
    text-decoration: none;
}

.page-content {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.filter-group[data-v-e052d09c] {
    position: sticky;
    margin: 0 -1rem;
    border-bottom: 0.0625rem solid #f4f4f4;
    top: 3.625rem;
    background: #fff;
    z-index: 2;
}

.ip-product-list .page-content[data-v-72c8052a] {
    margin: 0;
}

ul.tab[data-v-e052d09c] {
    position: relative;
    top: 0.0625rem;
    z-index: 1;
    margin: 0;
    padding: 0 0 0 1rem;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

ul.tab[data-v-e052d09c]::-webkit-scrollbar{
    display: none;
}

ul.tab[data-v-e052d09c]:after {
    content: "";
    padding-right: 1rem;
}

ul.tab li[data-v-e052d09c] {
    position: relative;
    padding-right: 1rem;
}

ul.tab>li[data-v-e052d09c] {
    flex: 0 0 auto;
    scroll-snap-align: start;
    scroll-margin: 0 0 0 6.25rem;
    scroll-snap-margin: 0 0 0 6.25rem;
}

ul.tab .btn.router-link-exact-active[data-v-e052d09c] {
    font-weight: 700;
    border-bottom-color: #00C7AE;
    border-radius: 0;
    color: #2d2d2d;
}

ul.tab .btn[data-v-e052d09c] {
    display: inline-flex;
    font-size: .875rem;
    font-weight: 400;
    border: 0;
    border-bottom: 0.125rem solid transparent;
    background: none;
    color: #a9a9a9;
    height: 3rem;
    padding: 0 0.25rem;
    align-items: center;
}

.product-curation-group[data-v-2ee8caa0] {
    margin-top: 2rem;
}

.product-list-curation[data-v-2ee8caa0] {
    margin-bottom: 4rem;
}

section[data-v-2ee8caa0] {
    margin: 0 -1rem;
}

.infinite-loading-container[data-v-644ea9c9] {
    clear: both;
    text-align: center;
}

.product-list[data-v-18e85706] {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem -0.25rem -1.5rem;
}

.product-total-count[data-v-219a3136] {
    margin-bottom: 1rem;
    font-size: .875rem;
}

.product-total-count span[data-v-219a3136] {
    color: #737373;
}

.product-list .b-skeleton-wrapper[data-v-18e85706], .product-list .product-list-item[data-v-18e85706] {
    padding: 0 0.25rem 1.5rem;
    max-width: 50%;
    flex: 0 0 50%;
}

.product-list-item a[data-v-85c61b32] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-list-item .item-image[data-v-85c61b32] {
    border: 0.0625rem solid #f2f2f2;
    border-radius: 8px;
    background: #fafafa;
    overflow: hidden;
}

.product-list-item .service-name[data-v-85c61b32] {
    margin: 0.75rem 0 0;
    color: #737373;
    font-size: .75rem;
}

.product-list-item .item-title[data-v-85c61b32] {
    margin: 0.25rem 0 0;
}

.product-list-item .item-price[data-v-85c61b32] {
    display: flex;
    margin-top: 0.25rem;
}

.preview-image[data-v-1a98b297] {
    position: relative;
    display: flex;
}

.image-wrap[data-v-1a98b297] {
    position: relative;
    width: 100%;
    height: 100%;
}

.product-list-item .item-image[data-v-85c61b32] img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.preview-image img[data-v-1a98b297] {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.image-wrap>[data-v-1a98b297] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.product-list-item .service-name[data-v-85c61b32] {
    margin: 0.75rem 0 0;
    color: #737373;
    font-size: .75rem;
}

.product-list-item .item-title[data-v-85c61b32] {
    margin: 0.25rem 0 0;
}

.product-list-item .item-price[data-v-85c61b32] {
    display: flex;
    margin-top: 0.25rem;
}

.line-clamp[data-v-a3afae98] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-list-item .item-title h3[data-v-85c61b32] {
    font-size: .875rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    word-break: break-word;
}

.product-list-item .item-price strong[data-v-85c61b32] {
    font-size: .875rem;
    align-self: flex-end;
    word-break: keep-all;
}

@media (min-width: 992px){
    .instant-purchase-container {
        padding: 0 1rem;
        box-sizing: content-box;
    }
}

@media (min-width: 992px){
    .instant-purchase-container>* {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px){
    .filter-group[data-v-e052d09c] {
        top: 4.5rem;
        margin: 0;
    }
}

@media (min-width: 992px){
    .instant-purchase-container>* .page-heading h1.page-title {
        font-size: 2.125rem;
    }
}

@media (min-width: 992px){
    .market-keyword-search-form[data-v-78206d9f] {
        padding: 1rem 0;
    }
}

@media (min-width: 992px){
    .market-keyword-search-form.open[data-v-78206d9f] {
        position: sticky;
        top: 4.5rem;
        left: unset;
        width: auto;
        height: auto;
        z-index: 1021;
        padding: 1rem 0;
        margin-bottom: 0;
        overflow: visible;
    }
}

@media (min-width: 992px){
    .keyword-box[data-v-78206d9f] {
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: 100%;
        max-width: 25rem;
        height: 18.75rem;
        border-radius: 6px;
        box-shadow: 0 0.125rem 0.625rem 0 rgb(0 0 0 / 10%);
        padding: 0.75rem 0;
        margin: 0;
        z-index: 2;
    }
}

@media (min-width: 992px){
    .filter-group[data-v-e052d09c] {
        top: 4.5rem;
        margin: 0;
    }
}

@media (min-width: 992px){
    ul.tab[data-v-e052d09c] {
        padding: 0;
    }
}

@media (min-width: 992px){
    ul.tab li[data-v-e052d09c] {
        padding-right: 1.25rem;
    }
}

@media (min-width: 992px){
    page-con ul.tab .btn[data-v-e052d09c] {
        font-size: 1rem;
    }
}

@media (min-width: 992px){
    .product-curation-group[data-v-2ee8caa0] {
        margin-top: 2.5rem;
    }
}

@media (min-width: 992px){
    .product-list-group-root[data-v-90de7ec8] {
        margin-top: 2rem;
    }
}

@media (min-width: 992px){
    .product-list-curation[data-v-2ee8caa0] {
        margin-bottom: 5rem;
    }
}

@media (min-width: 992px){
    section[data-v-2ee8caa0] {
        margin: 0;
    }
}

@media (min-width: 992px){
    .flex-side-right[data-v-72c8052a] {
        flex: auto;
        padding-top: 2rem;
        padding-left: 4rem;
    }
}

@media (min-width: 992px){
    .product-list.responsive[data-v-18e85706] {
        margin: 0 -0.5rem -2rem;
    }
}

@media (min-width: 992px){
    .flex-side-right[data-v-72c8052a] .b-skeleton-wrapper, .flex-side-right[data-v-72c8052a] .product-list:not(.show-skeleton) .product-list-item {
        max-width: 33.3%!important;
        flex: 0 0 33.3%!important;
    }
}

@media (min-width: 992px){
    .product-list.responsive .b-skeleton-wrapper[data-v-18e85706], .product-list.responsive .product-list-item[data-v-18e85706] {
        padding: 0 0.5rem 2.75rem;
        max-width: 25%;
        flex: 0 0 25%;
    }
}

@media (min-width: 992px){
    .product-list-item .service-name[data-v-85c61b32] {
        font-size: .875rem;
    }
}

@media (min-width: 992px){
    .product-list-item .item-image[data-v-85c61b32] img {
        transition: transform .5s cubic-bezier(.4,0,.2,1);
    }
}

@media (min-width: 992px){
    .product-list-item .service-name[data-v-85c61b32] {
        font-size: .875rem;
    }
}

@media (min-width: 992px){
    .product-list-item.responsive .item-price strong[data-v-85c61b32], .product-list-item.responsive .item-title h3[data-v-85c61b32] {
        font-size: 1rem;
    }
}

@media (min-width: 992px){
    .product-list-item.responsive .item-price strong[data-v-85c61b32], .product-list-item.responsive .item-title h3[data-v-85c61b32] {
        font-size: 1rem;
    }
}

@media (min-width: 768px){
    .page-content {
        margin-top: 3.125rem;
        margin-bottom: 3.125rem;
    }
}

@media (min-width: 768px){
    .instant-purchase-container>* .page-heading {
        margin: 0;
        padding: 3rem 0 1.5rem;
    }
}

@media (min-width: 768px){
    .product-list.responsive .b-skeleton-wrapper[data-v-18e85706], .product-list.responsive .product-list-item[data-v-18e85706] {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }
}