<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 공지사항</title>
    <link rel="stylesheet" href="/css/notice/NoticeSearch.css">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="icon" href="/images/fix/favicon.png">
</head>
<body class>
<header class="header">
    <div class="logo">
        <a href="http://localhost:10001/main">
            <img src="/images/fix/logo.png" alt="로고" style="height: 27px;">
        </a>
    </div>
    <div class="nav-wrapper">
        <span class="icon-menu"></span>
        <nav class="user-nav" id="user-nav">
            <a href="http://localhost:10001/notice/1">공지사항</a>
        </nav>
    </div>
</header>

<main role="main">
    <div class="container-divider"></div>
    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
                <li title="별별쓰담 - 공지사항">
                    <a href="/notice/1" id="question1">공지사항</a>
                </li>
                <li title="검색 결과">
                    검색 결과
                </li>
            </ol>

            <form class="search" name="searchForm" th:action="@{/notice/search}" method="get">
                <img data-v-3cfeddf8="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQgNCkiIHN0cm9rZT0iI0I1QjVCNSIgc3Ryb2tlLXdpZHRoPSIxLjYiPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGN4PSI2LjUiIGN5PSI2LjUiIHI9IjYuNSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Im0xMS41IDExLjUgNSA1Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="검색 아이콘" style="
                             position: relative;
                                top: 36px;
                                left: 13px;">
                <input type="search" name="keyword" id="query" class="clickSearch" placeholder="검색" aria-label="검색">
            </form>
        </nav>

        <div class="category-container">
            <div class="category-content">
                <header class="page-header">
                    <h1>검색 결과</h1>
                    <p class="page-header-description"th:text="${searchCount} + '개의 결과'"></p>
                </header>

                <div class="search-results">
                    <section class="search-results-column">
                        <h3 class="search-results-subheading"> 지식창고 </h3>
                        <ul class="search-results-list" >
                            <th:block th:each="notice:${searchResult}">
                            <li class="search-result" th:object="${notice}">
                                <a th:href="|detail/*{noticeId}|" class="search-result-link" th:text="*{noticeTitle}"></a>
                                <ul class="meta-group">
                                    <li>
                                        <ol class="breadcrumbs search-result-breadcrumbs">
                                            <li title="공지사항">
                                                <a th:href="|detail/*{noticeId}|" >공지사항</a>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="meta-data">
                                        <time th:text="${#temporals.format(notice.createdDate, 'yyyy년 MM월 dd일')}" datetime="2020-06-25T03:31:47Z" title="2020-06-25 12:31" data-datetime="relative">날짜</time>
                                    </li>
                                </ul>
                                <div class="search-result-description" th:href="|detail/*{noticeId}|" th:text="*{noticeContent}"></div>
                            </li>
                            </th:block>
                        </ul>
                    </section>
                </div>

                <div th:if="${!searchResult.isEmpty()}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!searchResult.hasPrevious} ? 'disabled'"  th:if="${searchResult.hasPrevious()}">
                            <a class="page-link" th:href="@{/notice/search/(page=${searchResult.number - 1}, keyword=${keyword})}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(1, searchResult.totalPages)}" th:classappend="${page == searchResult.number} ? 'active'" class="page-item">
                            <a th:text="|${page}|" class="page-link" th:href="@{/notice/search/(page=${page - 1}, keyword=${keyword})}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!searchResult.hasNext} ? 'disabled'" th:if="${searchResult.hasNext()}">
                            <a class="page-link" th:href="@{/notice/search/(page=${searchResult.number + 1}, keyword=${keyword})}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/Notice.js"></script>
<script th:inline="javascript">

    $('.searchBtn').click(function(){
        $('.searchBtn').css("border", "1px solid #00c7ae");
    })

    /* keyword 입력시 실행되는 함수 */
    function searchList(theForm) {
        keyword = theForm.enter.value; // keyword = enter키로 작동한 form 태그 안에 있는 값
    }
</script>
</html>