<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 공지사항</title>
    <link rel="stylesheet" href="/css/Notice/NoticeDetail.css">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="icon" href="/images/fix/favicon.png">

</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="http://localhost:10001/main/main">
                <img src="/images/fix/logo.png" alt="로고" style="height: 27px;">
            </a>
        </div>
        <div class="nav-wrapper">
            <span class="icon-menu"></span>
            <nav class="user-nav" id="user-nav">
                <a href="http://localhost:10001/notice/notice">공지사항</a>
            </nav>
        </div>
    </header>
      
    <main role="main">
        <div class="container-divider"></div>
        <div class="container">
            <nav class="sub-nav">
                <ol class="breadcrumbs">
                    <li title="공지사항 - 별별쓰담<">
                        <a href="/hc/ko">공지사항 - 별별쓰담</a>
                    </li>
                    <li title="공지사항">
                        <a href="/hc/ko/categories/360002081551-%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD">공지사항</a>
                    </li>
                </ol>
                <form role="search" class="search" data-search="" action="/hc/ko/search" accept-charset="UTF-8" method="get">
                    <img data-v-3cfeddf8="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQgNCkiIHN0cm9rZT0iI0I1QjVCNSIgc3Ryb2tlLXdpZHRoPSIxLjYiPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGN4PSI2LjUiIGN5PSI2LjUiIHI9IjYuNSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Im0xMS41IDExLjUgNSA1Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="검색 아이콘" style=" position: relative; top: 36px; left: 13px;">
                    <input name="utf8" type="hidden" value="✓" autocomplete="off">
                    <input type="hidden" name="category" id="category" value="360002081551" autocomplete="off">
                    <input type="search" name="query" id="query" class="searchBtn" placeholder="검색" aria-label="검색">
                </form>
            </nav>
            <div class="article-container" id="article-container">
                <article class="article" th:object="${notice}">
                    <header class="article-header">
                        <h1 title="[22.05.03] 어린이날(5월5일) 고객센터 휴무 안내" class="article-title" th:text="*{noticeTitle}">
                        </h1>
                    </header>

                    <section class="article-info">
                        <div class="article-content">
                            <div class="article-body" th:text="*{noticeContent}">
                            </div>

                            <div class="article-attachments">
                                <ul class="attachments"></ul>
                            </div>
                        </div>
                    </section>

                    <section class="article-relatives">
                        <section class="recent-articles">
                            <h3 class="recent-articles-title">다음 글</h3>
                            <ul>
                                <li>
                                    <a href="/hc/ko/articles/12029241661977--22-10-31-%EC%88%A8%EA%B3%A0-%EC%84%9C%EB%B9%84%EC%8A%A4-%EC%A0%90%EA%B2%80-%EC%95%88%EB%82%B4-11-8-02-00-04-00-">
                                        [22.10.31] 숨고 서비스 점검 안내 (11/8 02:00-04:00)
                                    </a>
                                </li>
                                <li>
                                    <a href="/hc/ko/articles/12029241661977--22-10-31-%EC%88%A8%EA%B3%A0-%EC%84%9C%EB%B9%84%EC%8A%A4-%EC%A0%90%EA%B2%80-%EC%95%88%EB%82%B4-11-8-02-00-04-00-">
                                        [22.10.31] 숨고 서비스 점검 안내 (11/8 02:00-04:00)
                                    </a>
                                </li>
                                <li>
                                    <a href="/hc/ko/articles/12029241661977--22-10-31-%EC%88%A8%EA%B3%A0-%EC%84%9C%EB%B9%84%EC%8A%A4-%EC%A0%90%EA%B2%80-%EC%95%88%EB%82%B4-11-8-02-00-04-00-">
                                        [22.10.31] 숨고 서비스 점검 안내 (11/8 02:00-04:00)
                                    </a>
                                </li>
                                <li>
                                    <a href="/hc/ko/articles/12029241661977--22-10-31-%EC%88%A8%EA%B3%A0-%EC%84%9C%EB%B9%84%EC%8A%A4-%EC%A0%90%EA%B2%80-%EC%95%88%EB%82%B4-11-8-02-00-04-00-">
                                        [22.10.31] 숨고 서비스 점검 안내 (11/8 02:00-04:00)
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </section>
                </article>
            </div>
        </div>
      
    </main>
      
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<script>
   $('.searchBtn').click(function(){
       $('.searchBtn').css("border", "1px solid #00c7ae");
   })
</script>
</html>