<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 공지사항</title>
    <link rel="stylesheet" href="/css/Notice/Notice.css">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="icon" href="/images/fix/favicon.png">

</head>
<body class>
    <header class="header">
        <div class="logo">
          <a href="http://localhost:10001/main">
              <img src="/images/fix/logo.png" alt="로고" style="height: 27px;">
          </a>
        </div>
        <div class="nav-wrapper">
          <span class="icon-menu"></span>
          <nav class="user-nav" id="user-nav">
            <a href="http://localhost:10001/notice/1">공지사항</a>
          </nav>
        </div>
      </header>

    <main role="main">
        <div class="container-divider"></div>
            <div class="container">
                <nav class="sub-nav">
                    <ol class="breadcrumbs">
                        <li title="별별쓰담">
                            <a href="http://localhost:10001/main" id="question1">별별쓰담</a>
                        </li>
                        <li title="공지사항">
                            공지사항
                        </li>
                    </ol>
                    <form class="search" name="searchForm" th:action="@{/notice/search}" method="get">
                        <img data-v-3cfeddf8="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQgNCkiIHN0cm9rZT0iI0I1QjVCNSIgc3Ryb2tlLXdpZHRoPSIxLjYiPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGN4PSI2LjUiIGN5PSI2LjUiIHI9IjYuNSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Im0xMS41IDExLjUgNSA1Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="검색 아이콘" style="
                             position: relative;
                                top: 36px;
                                left: 13px;">
<!--                        <input name="utf8" type="hidden" value="✓" autocomplete="off">-->
                        <input type="search" name="keyword" id="query" class="clickSearch" placeholder="검색" aria-label="검색">
                        <input type="hidden" style="display: none;" name="page" id="takepage" th:value="${page}">
                    </form>
                </nav>

                <div class="category-container">
                    <div class="category-content">
                        <header class="page-header">
                            <h1>공지사항</h1>
                        </header>
                        <div class="section-tree">
                            <section class="section">
                                    <!-- 게시글 작업 -->
                                <div class="table-wrapper">
                                    <table>
                                        <tbody>
                                        <div th:if="${paging.isFirst()}">
                                            <th:block th:each="notice:${paging}">
                                                <tr class="tBody" th:object="${notice}" >
                                                    <td th:if="${#strings.equals(notice.noticeCategory , '중요')}">
                                                        <img src="/images/notice/star.png" alt="" width="18px" height="18px" style="margin-right: 5px;">
                                                        <a class="read" th:text="*{noticeTitle}" th:href="|detail/*{noticeId}|"></a>
                                                    </td>
                                                    <td th:if="${#strings.equals(notice.noticeCategory , '일반')}">
                                                        <a class="read" th:text="*{noticeTitle}" th:href="|detail/*{noticeId}|"></a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </div>
                                        <div th:if="${!paging.isFirst()}">
                                            <th:block th:each="notice:${notices}">
                                                <tr class="tBody" th:object="${notice}" >
                                                    <td>
                                                        <a class="read" th:text="*{noticeTitle}" th:href="|detail/*{noticeId}|"></a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                        <!-- 페이징 -->
                        <!-- 페이징처리 시작 -->
                        <div th:if="${!paging.isEmpty()}">
                            <ul class="pagination justify-content-center">
                                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'" th:if="${paging.hasPrevious()}">
                                        <a class="page-link" th:href="@{|/notice/${paging.number - 1 }|}">
                                            <span>이전</span>
                                        </a>
                                    </li>
                                <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}" th:classappend="${page == paging.number} ? 'active'" class="page-item">
                                    <a th:text="${page}" class="page-link" th:href="@{|/notice/${page}|}"></a>
                                </li>
                                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'" th:if="${paging.hasNext()}">
                                    <a class="page-link" th:href="@{|/notice/${paging.number + 1}|}">
                                        <span>다음</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- 페이징처리 끝 -->


                       <!-- <div>
                            <nav class="pagination">
                                <ul>
                                    <li class="pagination-first">
                                        <a href="" rel="nofollow">«</a>
                                    </li>

                                    <li class="pagination-prev">
                                        <a href="" rel="prev nofollow" th:href="*{page - 1}">‹</a>
                                    </li>
                                    <li>
                                        <a href="" rel="prev nofollow" th:href="*{page}">1</a>
                                    </li>
                                    <li class="pagination-current">
                                        <span>2</span>
                                    </li>
                                    <li>
                                        <a href="" rel="next nofollow">3</a>
                                    </li>
                                    <li class="pagination-next">
                                        <a href="" rel="next nofollow">›</a>
                                    </li>
                                    <li class="pagination-last">
                                        <a href="" rel="nofollow">»</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>-->
                    </div>
                </div>
            </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<!--<script src="/js/Notice/Notice.js"></script>-->
<script src="/js/fix/headerLogin.js"></script>
<script th:inline="javascript">

    const $read = $("a.read");

    // $("a.search").on("click", function(e){
    //     e.preventDefault();
    //     document.search.submit();
    // });

    /* keyword 입력시 실행되는 함수 */
    function searchList(theForm) {
        keyword = theForm.enter.value; // keyword = enter키로 작동한 form 태그 안에 있는 값
        console.log(keyword);
    }

    $("input.clickSearch").on("keyup",function(key){
        // e.preventDefault();
        if(key.keyCode==13) {
            document.search.submit();
            location.href = "/notice"+ "/search" + $(this).attr("href");
        }
    });

    $read.on("click", function(e){
        e.preventDefault();
        location.href = "/notice"+ "/" + $(this).attr("href");
    });

    $('.clickSearch').click(function(){
        $('.clickSearch').css("border", "1px solid #00c7ae");
    })



</script>
</html>