<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 공지사항</title>
    <link rel="stylesheet" href="/css/Notice/Notice.css">
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="icon" href="/images/fix/favicon.png">

</head>
  <!-- header start -->


  <!-- header end -->
    

<!-- Notice start -->

<body class>
    <header class="header">
        <div class="logo">
          <a href="http://localhost:10001/main/main">
              <img src="/images/fix/logo.png" alt="로고" style="height: 27px;">
          </a>
        </div>
        <div class="nav-wrapper">
          <span class="icon-menu"></span>
          <nav class="user-nav" id="user-nav">
            <a href="http://localhost:10001/notice/notice">공지사항</a>
          </nav>
        </div>
      </header>

    <main role="main">
        <div class="container-divider"></div>
            <div class="container">
                <nav class="sub-nav">
                    <ol class="breadcrumbs">
                        <li title="별별쓰담">
                            <a href="/hc/ko" id="question1">별별쓰담</a>
                        </li>
                        <li title="공지사항">
                            공지사항
                        </li>
                    </ol>
                    <form role="search" class="search" data-search="" action="/hc/ko/search" accept-charset="UTF-8" method="get">
                        <img data-v-3cfeddf8="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQgNCkiIHN0cm9rZT0iI0I1QjVCNSIgc3Ryb2tlLXdpZHRoPSIxLjYiPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGN4PSI2LjUiIGN5PSI2LjUiIHI9IjYuNSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Im0xMS41IDExLjUgNSA1Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="검색 아이콘" style="
                             position: relative;
                                top: 36px;
                                left: 13px;">
                        <input name="utf8" type="hidden" value="✓" autocomplete="off">
                        <input type="search" name="query" id="query" class="clickSearch" placeholder="검색" aria-label="검색">
                    </form>
                </nav>

                <div class="category-container">
                    <div class="category-content">
                        <header class="page-header">
                            <h1>공지사항</h1>
                        </header>
                        <div class="section-tree">
                            <section class="section">
                                    <!-- 게시글 작업 -->
                                <div class="table-wrapper">
                                    <table>
                                        <tbody>
                                        <tr class="tBody">
                                            <td>
                                                <a href="http://localhost:10001/notice/noticedetail">
                                                    <img src="/images/notice/star.png" alt="" width="18px" height="18px" style="margin-right: 5px;">
                                                    [22.09.01] 작업관리자에서 공지사항 체크된 내용입니다
                                                </a><hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">
                                                    <img src="/images/notice/star.png" alt="" width="18px" height="18px" style="margin-right: 5px;">
                                                    [22.09.01] 작업관리자에서 공지사항 체크된 내용입니다
                                                </a><hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">
                                                    <img src="/images/notice/star.png" alt="" width="18px" height="18px" style="margin-right: 5px;">
                                                    [22.09.01] 작업관리자에서 공지사항 체크된 내용입니다
                                                </a> <hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">
                                                    <img src="/images/notice/star.png" alt="" width="18px" height="18px" style="margin-right: 5px;">
                                                    작업관리자에서 공지사항 체크된 내용입니다
                                                </a> <hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">[22.09.01] 일반 게시글의 내용입니다 </a>
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">[22.09.01] 일반 게시글의 내용입니다 </a>
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">[22.09.01] 일반 게시글의 내용입니다 </a>
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">[22.09.01] 일반 게시글의 내용입니다 </a>
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">일반 게시글의 내용입니다 </a>
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr class="tBody">
                                            <td>
                                                <a href="">일반 게시글의 내용입니다 </a>
                                                <hr>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                                    
                        <!-- 페이징 처리  -->
                        <nav class="pagination">
                            <ul>
                                <li class="pagination-current">
                                    <span>1</span>
                                </li>
                                <li>
                                    <a href="/hc/ko/sections/360006534351-%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD?page=2#articles" rel="next nofollow">2</a>
                                </li>
                                <li>
                                    <a href="/hc/ko/sections/360006534351-%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD?page=3#articles" rel="nofollow">3</a>
                                </li>
                                                                       
                                <li class="pagination-next">
                                    <a href="/hc/ko/sections/360006534351-%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD?page=2#articles" rel="next nofollow">›</a>
                                </li>
                                <li class="pagination-last">
                                    <a href="/hc/ko/sections/360006534351-%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD?page=3#articles" rel="nofollow">»</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- 페이징 처리 끝  -->

                        <!-- 게시글 작업 -->
                    </div>
                </div>
            </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/Notice/Notice.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<script>
    $('.clickSearch').click(function(){
        $('.clickSearch').css("border", "1px solid #00c7ae");
    })
</script>
</html>