
body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}
body, body.hide-mobile-global-header #app, html {
    height: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    word-break: break-word;
}

.h1, .h2, h1, h2 {
    font-weight: 400;
}
.h2, h2 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -.0375rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}
dl, ol, ul {
    margin-top: 0;
}
ul {
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}
textarea {
    -webkit-appearance: none;
}
input::placeholder{
    color: #b5b5b5;
}
input{
    outline: none;
}

input:focus{
   border-color: #00c7ae;
}

#app #app-body, #app #app-header {
    opacity: 0;
    transition: opacity .3s ease-in;
}
#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}
#app[data-is-loaded=true], #app[data-is-loaded=true] #app-body, #app[data-is-loaded=true] #app-header, #app[data-is-loaded=true] #app-sticky-nav {
    opacity: 1;
}
.find-password-container[data-v-5bbda200] {
    background-color: #fafafa;
}
.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.find-password[data-v-5bbda200] {
    padding: 5rem 0;
    max-width: 26.25rem;
    width: 100%;
    margin: 0 auto;
}

.find-password h2[data-v-5bbda200] {
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 500;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card {
    border: none;
    border-radius: 4px;
    box-shadow: 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 20%);
}
.card[data-v-5bbda200] {
    width: 100%;
    max-width: 26.5rem;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 8px;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: none;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto, .modal .modal-footer .btn {
    position: relative;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.form-row>.col, .form-row>[class*=col-], .modal .modal-footer .form-row>.btn {
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group[data-v-ab06a5fa] {
    margin: 0;
}


legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
.col-form-label {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.pt-0, .py-0 {
    padding-top: 0!important;
}
[data-v-ab06a5fa] .col-form-label {
    font-size: 1rem;
    padding-bottom: 0.375rem;
    font-weight: 500;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control.error[data-v-ab06a5fa] {
    border-color: #fa5963;
}
.validate[data-v-ab06a5fa] {
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #fa5963;
    margin-top: 0.25rem;
}




small {
    font-size: 80%;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.form-text {
    display: block;
    margin-top: 0.25rem;
}
.text-muted {
    color: #999!important;
}
.notice[data-v-ab06a5fa] {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion: reduce){
    .btn {
        transition: none;
    }
}
.btn-primary {
    color: #fff;
    background-color: #00c7ae;
    border-color: #00c7ae;
}
.btn-block {
    display: block;
    width: 100%;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}



button {
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}   
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}



.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}
.btn:hover {
    color: #323232;
    text-decoration: none;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #00a18d;
    border-color: #009481;
}


.indicator-body[data-v-fc3fcce8] {
    border-radius: 50%;
    -webkit-animation: spin-data-v-fc3fcce8 1s ease-in-out infinite;
    animation: spin-data-v-fc3fcce8 1s ease-in-out infinite;
}

.indicator-body.center[data-v-fc3fcce8] {
    margin: 0 auto;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p[data-v-fc3fcce8] {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}


.swal2-container {
    display: flex;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.625em;
    overflow-x: hidden;
    transition: background-color .1s;
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
}
[class^=swal2] {
    -webkit-tap-highlight-color: transparent;
}
.swal2-container.swal2-center {
    align-items: center;
}
.swal2-container.swal2-shown {
    background-color: rgba(0,0,0,.4);
}
.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
}
.swal2-show {
    -webkit-animation: swal2-show .3s;
    animation: swal2-show .3s;
}
.swal2-container.sg-swal .swal2-popup {
    max-width: 17.5rem;
    padding: 2.25rem 1rem 1.25rem;
    border-radius: 0;
}
.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
    margin: auto;
}




.swal2-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swal2-progress-steps {
    align-items: center;
    margin: 0 0 1.25em;
    padding: 0;
    background: inherit;
    font-weight: 600;
}

.swal2-icon {
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: 1.25em auto 1.875em;
    border: 0.25em solid transparent;
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.swal2-icon.swal2-error {
    border-color: #f27474;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #f27474;
}




.swal2-icon.swal2-error .swal2-x-mark {
    position: relative;
    flex-grow: 1;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: 1.0625em;
    transform: rotate(45deg);
}




.swal2-icon.swal2-question {
    border-color: #c9dae1;
    color: #87adbd;
}
.swal2-icon.swal2-warning {
    border-color: #facea8;
    color: #f8bb86;
}
.swal2-icon.swal2-info {
    border-color: #9de0f6;
    color: #3fc3ee;
}




.swal2-icon.swal2-success {
    border-color: #a5dc86;
}



.swal2-icon.swal2-success [class^=swal2-success-circular-line] {
    position: absolute;
    width: 3.75em;
    height: 7.5em;
    transform: rotate(45deg);
    border-radius: 50%;
}
.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
    top: -0.4375em;
    left: -2.0635em;
    transform: rotate(-45deg);
    transform-origin: 3.75em 3.75em;
    border-radius: 7.5em 0 0 7.5em;
}



.swal2-icon.swal2-success [class^=swal2-success-line] {
    display: block;
    position: absolute;
    z-index: 2;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #a5dc86;
}
.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    top: 2.875em;
    left: 0.875em;
    width: 1.5625em;
    transform: rotate(45deg);
}


.swal2-icon.swal2-success [class^=swal2-success-line] {
    display: block;
    position: absolute;
    z-index: 2;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #a5dc86;
}
.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 2.375em;
    right: 0.5em;
    width: 2.9375em;
    transform: rotate(-45deg);
}
.swal2-icon.swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: -0.25em;
    left: -0.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 0.25em solid rgba(165,220,134,.3);
    border-radius: 50%;
}
.swal2-icon.swal2-success .swal2-success-fix {
    position: absolute;
    z-index: 1;
    top: 0.5em;
    left: 1.625em;
    width: 0.4375em;
    height: 5.625em;
    transform: rotate(-45deg);
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line] {
    position: absolute;
    width: 3.75em;
    height: 7.5em;
    transform: rotate(45deg);
    border-radius: 50%;
}
.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
    top: -0.6875em;
    left: 1.875em;
    transform: rotate(-45deg);
    transform-origin: 0 3.75em;
    border-radius: 0 7.5em 7.5em 0;
}


.swal2-image {
    max-width: 100%;
    margin: 1.25em auto;
}


.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em;
    padding: 0;
    color: #595959;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
.h4, .swal2-container.sg-swal .swal2-header .swal2-title, h4 {
    font-size: 1.375rem;
    line-height: 2.0625rem;
    font-weight: 500;
    letter-spacing: -.025rem;
}
.swal2-container.sg-swal .swal2-header .swal2-title {
    margin-bottom: 1rem;
    flex-direction: column;
    font-size: 1.5rem;
    color: #323232;
}


.swal2-close {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    overflow: hidden;
    transition: color .1s ease-out;
    border: none;
    border-radius: 0;
    outline: initial;
    background: 0 0;
    color: #ccc;
    font-family: serif;
    font-size: 2.5em;
    line-height: 1.2;
    cursor: pointer;
}



.swal2-content {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #545454;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
}

.swal2-container.sg-swal .swal2-content {
    margin-bottom: 1.25rem;
    color: #323232;
}

.p2, .swal2-container.sg-swal .swal2-content #swal2-content {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}
.swal2-checkbox, .swal2-file, .swal2-input, .swal2-radio, .swal2-select, .swal2-textarea {
    margin: 1em auto;
}
.swal2-file, .swal2-input, .swal2-textarea {
    box-sizing: border-box;
    width: 100%;
    transition: border-color .3s,box-shadow .3s;
    border: 1px solid #d9d9d9;
    border-radius: 0.1875em;
    background: inherit;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%);
    color: inherit;
    font-size: 1.125em;
}
.swal2-input {
    height: 2.625em;
    padding: 0 0.75em;
}
.swal2-file {
    background: inherit;
    font-size: 1.125em;
}
.swal2-range {
    margin: 1em auto;
    background: inherit;
}
.swal2-range input {
    width: 80%;
}
.swal2-range input, .swal2-range output {
    height: 2.625em;
    padding: 0;
    font-size: 1.125em;
    line-height: 2.625em;
}

output {
    display: inline-block;
}
.swal2-range output {
    width: 20%;
    color: inherit;
    font-weight: 600;
    text-align: center;
}
select {
    word-wrap: normal;
}
.swal2-checkbox, .swal2-file, .swal2-input, .swal2-radio, .swal2-select, .swal2-textarea {
    margin: 1em auto;
}
.swal2-select {
    min-width: 50%;
    max-width: 100%;
    padding: 0.375em 0.625em;
    background: inherit;
    color: inherit;
    font-size: 1.125em;
}

.swal2-checkbox, .swal2-file, .swal2-input, .swal2-radio, .swal2-select, .swal2-textarea {
    margin: 1em auto;
}
.swal2-checkbox, .swal2-radio {
    align-items: center;
    justify-content: center;
    background: inherit;
    color: inherit;
}


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.swal2-textarea {
    height: 6.75em;
    padding: 0.75em;
}



.swal2-validation-message {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0.625em;
    overflow: hidden;
    background: #f0f0f0;
    color: #666;
    font-size: 1em;
    font-weight: 300;
}


.swal2-actions {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.25em auto 0;
}
.swal2-container.sg-swal .swal2-actions {
    width: 100%;
    margin-top: 0;
}



[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.swal2-container.sg-swal .swal2-actions button.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: .875rem;
}

.swal2-container.sg-swal .swal2-actions button.btn.swal2-confirm {
    border-radius: 0.25rem;
    height: 2.75rem;
    background-color: #00c7ae;
    color: #fff;
}

.swal2-container.sg-swal .swal2-actions button.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: .875rem;
}
.swal2-container.sg-swal .swal2-actions button.btn.swal2-cancel {
    margin-top: 0.75rem;
    padding: 0;
    font-size: .75rem;
    color: #b5b5b5;
    height: 1.125rem;
}


.swal2-footer {
    justify-content: center;
    margin: 1.25em 0 0;
    padding: 1em 0 0;
    border-top: 1px solid #eee;
    color: #545454;
    font-size: 1em;
}
@media (prefers-reduced-motion: reduce){
    .form-control {
        transition: none;
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 62.5rem;
    }
}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 60rem;
    }
}
@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 45rem;
    }
}
@media (min-width: 576px){
    .container, .container-sm {
        max-width: 33.75rem;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 62.5rem;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 60rem;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 45rem;
    }
}
@media (min-width: 576px){
    .container {
        max-width: 33.75rem;
    }
}
@media (max-width:991.98px) {
    .find-password-container[data-v-5bbda200] {
        background-color: #fff
    }
}

@media (max-width:991.98px) {
    .find-password h2[data-v-5bbda200] {
        font-size: 1.75rem;
        text-align: left
    }
}

@media (max-width:991.98px) {
    .find-password[data-v-5bbda200] {
        background-color: #fff;
        padding: 2.5rem 1rem 5rem
    }
}