@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after, .clearfix:before, .nav.sub-menu ul:before {
    content: '';
    display: block;
    clear: both;
}

.bts,
.btb,
.btm,
.btl,
.fab {
    display: inline-block;
    font: normal normal normal 14px/1 "Black Tie";
    font-family: 'Black Tie' !important;
    font-size: inherit;
    vertical-align: -14.28571429%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.im-body-size-140 {
    font-size: 21px;
}

.im-body-size-95 {
    font-size: 14.25px;
}

.im-body-size-150 {
    font-size: 22.5px;
}

.margin-right-12 {
    margin-right: 12px;
}

.btl {
    font-weight: 200;
}

.bt-arrow-left:before {
    content: "❮";
}

.im-ico-minus-solid:before {
    content: "\e90b";
}

.im-ico-equals-solid:before {
    content: "\e90a";
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.doz_sys .im-order-header .im-order-title {
    margin-bottom: 24px;
}

.doz_sys .im-order-title {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: bold;
}

.im-flex {
    display: flex;
}

.im-order-header .tip-off > span:first-child {
    margin-right: 20px;
}

.im-order-header .tip-off > span > span:first-child {
    margin-right: 4px;
}

.text-bold {
    font-weight: 600 !important;
}

.im-order-detail-table thead tr {
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}

.im-order-detail-table th {
    padding: 10px 20px;
}

.im-font-normal {
    font-weight: normal;
}

.im-order-detail-table .im-deliv-price {
    width: 133px;
    text-align: center;
    border-left: 1px solid rgba(33, 33, 33, 0.1);
    border-right: 1px solid rgba(33, 33, 33, 0.1);
}

.im-order-detail-table th {
    padding: 10px 20px;
}

.im-font-normal {
    font-weight: normal;
}

.im-order-detail-table th:last-child, .im-order-detail-table td:last-child {
    width: 324px;
    padding-left: 40px;
}

.im-order-detail-table td {
    padding: 16px 20px;
}

.shop_mypage .tip-off {
    background: #fff;
}

.mypage .tip-off {
    padding: 20px;
}

.mypage .im-order-header .tip-off {
    padding: 16px 20px;
}

.mypage .tip-off,
.im-order-detail-table,
.im-order-price {
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
}

.im-order-header .tip-off {
    margin-bottom: 10px;
}

.im-order-header .tip-off>span:first-child {
    margin-right: 20px;
}

.opacity-70 {
    opacity: 0.7;
}

.im-pay-type-detail-body:not(:last-child) {
    margin-bottom: 2px;
}

.im-order-header .tip-off>span>span:first-child {
    margin-right: 4px;
}

.text-bold {
    font-weight: 600 !important;
}

.mypage .tip-off,
.im-order-detail-table,
.im-order-price {
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
}

.im-order-detail-table {
    margin-bottom: 48px;
    width: 100%;
}

.shop-table>thead>tr>th,
.shop-table>tbody>tr>td,
.mypage .shop-table>tbody>tr,
.shop-table>tbody>tr>td.img img,
.shop-table>tbody>tr>td+td,
.mypage .tip-off,
.mypage .shop-table img,
.im-order-detail-table,
.im-order-price,
.im-order-detail-table thead tr,
.im-order-detail-table tr+tr,
.im-order-detail-table img,
.im-order-detail-table .im-deliv-price,
.im-order-price-header,
.im-order-price-body {
    border-color: rgb(100, 100, 100);
    border-color: rgba(100, 100, 100, 0.1);
}

.im-order-detail-table thead tr {
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}

.im-order-detail-table th {
    padding: 10px 20px;
}

.im-order-detail-table th:last-child,
.im-order-detail-table td:last-child {
    width: 324px;
    padding-left: 40px;
}

.im-body-line-height {
    line-height: 1.6;
}

.im-order-detail-table td {
    padding: 16px 20px;
}

.im-inline-flex {
    display: inline-flex;
}

.im-flex-col-reverse {
    flex-direction: column-reverse;
}

.cart-btn-tools {
    margin: -2.5px;
}

.im-order-detail-table tr+tr {
    border-top: 1px solid rgba(33, 33, 33, 0.1);
}

.doz_sys .im-order-title {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: bold;
}

.mypage .tip-off,
.im-order-price {
    margin-bottom: 40px;
}

.im-order-header .tip-off {
    margin-bottom: 10px;
}

.mypage .tip-off,
.im-order-detail-table,
.im-order-price {
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
}

.mypage .tip-off {
    padding: 20px;
}

.shop_mypage .tip-off {
    background: #fff;
}

.im-label {
    width: 80px;
    flex-shrink: 0;
    margin-right: 20px;
    opacity: 0.7;
}

.tip-off .im-flex+.im-flex,
.im-order-price-body .im-flex+.im-flex {
    margin-top: 12px;
}

.im-flex-col {
    flex-direction: column;
}

.im-flex-1 {
    flex: 1 1 0;
}

.im-justify-between {
    justify-content: space-between;
}

.im-line-height-120 {
    line-height: 1.2;
}

.im-order-price-header,
.im-order-price-body {
    padding: 16px 20px;
}

.im-order-price-header {
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    font-weight: bold;
    position: relative;
    align-items: center;
}

.im-order-row:first-child .im-order-price-body {
    border-left: none;
}

.im-icon.im-ico-under {
    opacity: 0.3;
    transform: scale(0.5);
}

.im-status-wrap {
    margin-top: 10px;
}

.im-status-wrap > div {
    width: auto;
    text-align: left;
}

.im-status-wrap .cart-btn-tools {
    margin-top: 14px;
}

.cart-btn-tools {
    margin: -2.5px;
}

.im-inline-flex {
    display: inline-flex;
}

.im-flex-col-reverse {
    flex-direction: column-reverse;
}

.im-order-detail-table td {
    padding: 16px 20px;
}

.im-order-detail-table td {
    padding: 16px 20px;
}

.im-order-detail-table th:last-child, .im-order-detail-table td:last-child {
    width: 324px;
    padding-left: 40px;
}

.im-order-detail-table tr + tr {
    border-top: 1px solid rgba(33, 33, 33, 0.1);
}

.doz_sys .im-order-title {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: bold;
}

.mypage .tip-off {
    padding: 20px;
}

.mypage .tip-off, .im-order-detail-table, .im-order-price {
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
}

#s202001038f5e33413dcec .mypage .my-box a, #s202001038f5e33413dcec .mypage .shop-table > tbody > tr, #s202001038f5e33413dcec .mypage .tip-off, #s202001038f5e33413dcec .im-order-detail-table, #s202001038f5e33413dcec .im-order-price {
    background-color: rgba(255,255,255,1);
    zoom: 1;
}

.im-label {
    width: 80px;
    flex-shrink: 0;
    margin-right: 20px;
    opacity: 0.7;
}

.doz_sys .im-order-title {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: bold;
}

.mypage .tip-off, .im-order-detail-table, .im-order-price {
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
}

/* 미디어쿼리 */

@media (max-width: 767px){
    .nick.text-default-dark {
        padding-left: 10%;
    }
}


@media (max-width: 767px){
    .doz_sys .inside .doz_row .col-dz {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 767px){
    .col-dz {
        display: block;
    }
}

@media (max-width: 767px){
    .left-menu .cart-menu-slide {
        overflow-x: scroll;
    }
}

@media (max-width: 767px){
    .hidden-xs {
        display: none!important;
    }
}

@media (max-width: 767px){
    .doz_sys div[doz_type="text"] h6, .doz_sys h6, .doz_sys .header-content h6 {
        font-size: 16px;
    }
}

@media (max-width: 767px){
    .lp_title {
        color: rgb(100,100,100);
        color: rgba(100,100,100,0.6);
    }
}

@media screen and (max-width: 767px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

@media screen and (max-width: 767px){
    .table-responsive>.table {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px){
    .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td {
        white-space: nowrap;
    }
}

@media screen and (max-width: 767px){
    .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td {
        white-space: nowrap;
    }
}

@media (max-width: 767px){
    .im-xs-body-size-120 {
        font-size: 18px;
    }
}

@media (max-width: 767px){
    .mypage .tip-off, .im-order-detail-table, .im-order-price {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (max-width: 767px){
    .mypage .tip-off {
        padding: 16px 15px;
    }
}

@media (max-width: 767px){
    .im-xs-flex-col {
        flex-direction: column;
    }
}

@media (max-width: 767px){
    svg {
        display: none;
    }
}

@media (max-width: 767px){
    .im-body-size-150 {
        font-size: 22.5px;
    }
}

@media (max-width: 767px){
    .im-xs-body-size-95 {
        font-size: 14.25px;
    }
}

@media (max-width: 767px){
    .im-xs-body-size {
        font-size: 15px;
    }
}

@media (max-width: 767px){
    .im-order-price-header, .im-order-price-body {
        padding: 0;
    }
}

@media (max-width: 767px){
    .im-order-price-body {
        border-left: none;
    }
}

@media (max-width: 767px){
    .im-order-price-body > .im-flex {
        margin-top: 9px;
    }
}

@media (max-width: 767px){
    .im-body-size-95 {
        font-size: 14.25px;
    }
}

@media (max-width: 767px){
    .im-body-size {
        font-size: 15px;
    }
}

@media (max-width: 768px){
    .im-order-price-header > span:not(:last-child) {
        font-weight: normal;
    }
}

@media (max-width: 768px){
    .doz_sys .im-order-header .im-order-title {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px){
    .im-order-row {
        padding: 12px 15px;
    }
}

@media (max-width: 768px){
    .shop-content {
        padding: 0;
    }
}

@media (max-width: 768px){
    .shop-content.cart, .shop-content.mypage {
        margin: 0 -15px;
    }
}

@media (max-width: 768px){
    .shop-content.cart, .shop-content.mypage {
        margin: 0 -15px;
    }
}

@media (max-width: 768px){
    .shop-content.payment, .shop-content.mypage {
        margin-bottom: 0;
    }
}

@media (max-width: 768px){
    .mypage .show-grid {
        padding-bottom: 0;
    }
}

@media (max-width: 768px){
    .mypage .head {
        margin: 0 -15px 20px;
        padding: 30px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
}

@media (max-width: 768px){
    .mypage .head {
        margin: 0 -15px 20px;
        padding: 30px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
}

@media (max-width: 768px){
    .mypage .head .tumbs {
        width: 70px;
    }
}

@media (max-width: 768px){
    .mypage .head .img-circle {
        width: 56px !important;
        height: 56px !important;
    }
}

@media (max-width: 768px){
    .mypage .head .nick {
        font-size: 18px;
        margin-left: 13px;
    }
}

@media (max-width: 768px){
    .ug_name {
        display: block;
    }
}

@media (max-width: 768px){
    .ug_name .btn {
        padding: 2px 5px;
        font-size: 11px;
        display: inline-block;
        margin-left: 5px;
        border: 0;
        position: relative;
        top: -1px;
        background: #f1f1f1;
        letter-spacing: 0;
    }
}

@media (max-width: 768px){
    .use_grade {
        margin: 0;
    }
}

@media (max-width: 768px){
    .mypage .head .nick .text-15 {
        font-size: 13px !important;
    }
}

@media (max-width: 768px){
    .mypage .point-view, .mypage .coupon-view, .ug_text, .ug_btn {
        display: none;
    }
}

@media (max-width: 768px){
    .lp_header_wrap {
        border-bottom: 1px solid #e5e5e5;
        padding: 0 15px;
        height: 47px;
        line-height: 47px;
    }
}

@media (max-width: 768px){
    .lp_header_wrap a {
        position: absolute;
        right: 5px;
        top: 0;
        margin-right: 0;
        padding: 15px 10px;
    }
}

@media (max-width: 768px){
    .lp_content_wrap {
        padding: 24px 15px;
    }
}

@media (max-width: 768px){
    .lp_title {
        text-align: center;
        font-size: 14px;
        margin-bottom: 14px;
    }
}

@media (max-width: 768px){
    .lp_summary {
        padding: 12px 0;
        background: rgba(216,216,216,0.15);
    }
}

@media (max-width: 768px){
    .lp_table {
        margin-top: 44px;
    }
}

@media (max-width: 768px){
    .table-responsive {
        border: 0;
    }
}

@media (max-width: 768px){
    .mypage .point-view, .mypage .coupon-view, .ug_text, .ug_btn {
        display: none;
    }
}

@media (max-width: 768px){
    .mypage .tip-off, .im-order-detail-table, .im-order-price {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (max-width: 768px){
    .mypage .tip-off {
        padding: 16px 15px;
    }
}

@media (max-width: 768px){
    .mypage .tip-off, .im-order-detail-table, .im-order-price {
        border-left: none;
        border-right: none;
    }
}

@media (max-width: 768px){
    .im-order-detail-table .im-xs-deliv-price td {
        padding: 10px 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px){
    .im-label {
        width: 90px;
    }
}

@media (max-width: 768px){
    .tip-off .im-flex + .im-flex, .im-order-price-body .im-flex + .im-flex {
        margin-top: 8px;
    }
}

@media (max-width: 768px){
    .im-order-price-header {
        border-bottom: none;
    }
}

@media (max-width: 768px){
    .im-order-price-header, .im-order-price-body {
        padding: 0;
    }
}

@media (max-width: 768px){
    .im-order-price-body {
        border-left: none;
    }
}

@media (max-width: 768px){
    .im-order-price-body > .im-flex {
        margin-top: 9px;
    }
}

@media (max-width: 991px){
    .doz_sys .inside .doz_row .col-dz {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 991px){
    .doz_sys .col-dz-1, .doz_sys .col-dz-2, .doz_sys .col-dz-3, .doz_sys .col-dz-4, .doz_sys .col-dz-5, .doz_sys .col-dz-6, .doz_sys .col-dz-7, .doz_sys .col-dz-8, .doz_sys .col-dz-9, .doz_sys .col-dz-10, .doz_sys .col-dz-11, .doz_sys .col-dz-12 {
        width: 100%;
        float: left;
    }
}

@media (max-width: 991px){
    .shop-content.mypage {
        margin-top: 0;
    }
}

@media (max-width: 991px){
    .shop-content .left-menu ul {
        overflow: hidden;
        margin-bottom: 0;
        padding: 0;
    }
}

@media (max-width: 991px){
    .left-menu .cart-menu-slide {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 32px;
    }
}

@media (max-width: 991px){
    #s202001038f5e33413dcec .mypage .left-menu ul li a, #s202001038f5e33413dcec .cart .left-menu ul li a, #s202001038f5e33413dcec .mypage .left-menu .cart-menu-slide {
        background-color: rgba(255,255,255,1);
        zoom: 1;
    }
}

@media (max-width: 991px){
    .left-menu ul li {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.07);
    }
}

@media (max-width: 991px){
    .left-menu ul li {
        float: left;
        margin: 0;
        width: 33.333%;
        text-align: center;
    }
}

@media (max-width: 991px){
    .left-menu ul .cart-menu-slide li {
        border: none;
        width: auto;
        flex-grow: 1;
    }
}

@media (max-width: 991px){
    .left-menu ul li a {
        display: block;
        line-height: 40px;
        position: relative;
        padding-bottom: 0;
        font-size: 12px;
    }
}

@media (max-width: 991px){
    .left-menu ul .cart-menu-slide li a span {
        padding: 0 15px;
    }
}

@media (max-width: 991px){
    .left-menu ul .cart-menu-slide li.active a:after {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 991px){
    .shop-content .left-menu ul {
        overflow: hidden;
        margin-bottom: 0;
        padding: 0;
    }
}

@media (max-width: 991px){
    .left-menu ul li {
        float: left;
        margin: 0;
        width: 33.333%;
        text-align: center;
    }
}

@media (max-width: 991px){
    .left-menu ul li {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.07);
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .hidden-md {
        display: none!important;
    }
}





