@charset "utf-8";


a, a:active, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

h3, ul {
    margin: 0;
}

dl, li, menu, ol, ul {
    list-style: none;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

/* 코스 탭 css start */

.mypage .myTabMenu {
    width: 95%;
    margin-bottom: 40px;
}

.mypage .myTabMenu ul {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
}

.mypage .myTabMenu ul li {
    -moz-box-flex: 1;
    flex: 1 1;
}

.mypage .myTabMenu ul li a {
    filter: brightness(0.7);
    display: flex;
    font-size: 1rem;
    color: #8e8ea2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 0;
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    -moz-box-pack: center;
    justify-content: center;
    cursor: pointer;
}

.mypage .myTabMenu ul li.unlock a {
    filter: brightness(0.5);
    display: flex;
    font-size: 1rem;
    color: #8e8ea2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 0;
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    -moz-box-pack: center;
    justify-content: center;
    cursor: default;
}

.mypage .myTabMenu ul li.active a, .mypage .myTabMenu ul li:hover a {
    filter: brightness(1);
    color: #333;
    border-bottom: 3px solid #00c7ae;
    font-weight: bold;
}

.mypage .myTabMenu ul li.unlock a {
    filter: brightness(0.5);
    border: none;
}

/* 코스 탭 css start */


/* 코스 css start */

/* .mypage .myTabContents {
    display: none;
} */

.mypage .myTabContents.active {
    display: block;
    width: 90%;
}

.mypage .myTabContents h3 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #333;
    margin-bottom: 18px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine:before {
    content: "";
    height: 6px;
    position: absolute;
    background-image: url('https://letspl.me/_next/static/media/gray-dot.3e02811….svg');
    background-repeat: repeat-x;
    width: 97%;
    top: 113%;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap {
    margin-bottom: 12px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap:before {
    content: "";
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap .day {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px 12px;
    margin-bottom: 16px;
    display: inline-block;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    right: 16px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 4px;
    /* border: 1px solid #ebebeb; */
    max-width: 1172px;
    width: 100%;
    /* margin-left: 13px; */
    /* margin-bottom: 12px; */
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    text-align: center;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 6px;
    height: 6px;
    border: 1px solid #00c7ae;
    background-color: #fff;
    border-radius: 100px;
    top: -35%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap.active:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 6px;
    height: 6px;
    border: 1px solid #00c7ae;
    background-color: #00c7ae;
    border-radius: 100px;
    top: -35%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left {
    width: 100%;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left p.categoryAndDate {
    display: -moz-inline-box;
    display: inline-flex;
    font-size: .75rem;
    margin-bottom: 2px;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left p.noticeContent {
    font-size: .75rem;
    color: #8e8ea2;
}

.mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left p.categoryAndDate span:first-child {
    color: #000;
    font-size: 14px;
    /* margin-right: 12px; */
}

/* .mypage .myTabContents .noticeListWrap ul.noticeListTimeLine .noticeDayWrap ul li.noticeContentWrap div.left p.categoryAndDate span:last-child {
    color: #c9c9d9;
} */


/* 코스 css end */


/* 수정 */

.tabCommonTit {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}

.courseList {
    display: flex;
    flex-direction: row;
}

.noticeListWrap {
    margin: 50px 0 140px 0;
    position: relative;
}

.mycourseLocation {
    width: 100%;
    height: 170px;
    text-align: center;
    padding-right: 38%;
    padding-left: 0%;
    padding-top: 20px;
    animation: bounce 0.5s cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: 2;
    animation-delay: 1s;
}

.mycourseLocation:hover{
    transition: all 0.3s ease-out;
    transform: translateY(-10%);
}

@keyframes bounce {
    from {transform: translate3d(0, -5%, 0);}
    to {transform: translate3d(0, 3%, 0);}
}

.mycourseCopy {
    margin-bottom: 8px;
}

.locationImg {
    width: 15%;
}

.courseLine{
    height: 1px;
    background-color: gray;
    position: absolute;
    top: -36%;
    width: 100%;
    z-index: 2;
}

.participatingCourseLine {
    height: 3px;
    background-color: #00c7ae;
    position: absolute;
    top: -36%;
    width: 50%;
    z-index: 3;

    animation: changeWidth 1s linear 1s alternate;
}

@keyframes changeWidth {
    from {width: 0px; }
    to {width: 50%; }
}

/* 미완주 코스 클릭 시 모달 start */

.swal2-container {
    display: flex;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.625em;
    overflow-x: hidden;
    transition: background-color .1s;
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
}

.swal2-container.swal2-shown {
    background-color: rgba(0,0,0,.4);
}

.swal2-container.swal2-center {
    align-items: center;
    display: none;
}

[class^=swal2] {
    -webkit-tap-highlight-color: transparent;
}

.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.swal2-container.sg-swal .swal2-popup {
    max-width: 17.5rem;
    padding: 2.25rem 1rem 1.25rem;
    border-radius: 0;
}

.swal2-show {
    -webkit-animation: swal2-show .3s;
    animation: swal2-show .3s;
}

.swal2-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swal2-progress-steps {
    align-items: center;
    margin: 0 0 1.25em;
    padding: 0;
    background: inherit;
    font-weight: 600;
}

.swal2-icon {
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: 1.25em auto 1.875em;
    border: 0.25em solid transparent;
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swal2-icon.swal2-error {
    border-color: #f27474;
}

.swal2-icon.swal2-error .swal2-x-mark {
    position: relative;
    flex-grow: 1;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: 1.0625em;
    transform: rotate(45deg);
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
    right: 1em;
    transform: rotate(-45deg);
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #f27474;
}

.swal2-icon.swal2-question {
    border-color: #c9dae1;
    color: #87adbd;
}

.swal2-icon.swal2-warning {
    border-color: #facea8;
    color: #f8bb86;
}

.swal2-icon.swal2-info {
    border-color: #9de0f6;
    color: #3fc3ee;
}

.swal2-icon.swal2-success {
    border-color: #a5dc86;
}

.post-detail .swal2-container .swal2-header .swal2-title {
    white-space: nowrap;
}

.swal2-container.sg-swal .swal2-header .swal2-title {
    margin-bottom: 1rem;
    flex-direction: column;
    font-size: 1.5rem;
    color: #323232;
}

.h4, .swal2-container.sg-swal .swal2-header .swal2-title, h4 {
    font-size: 1.375rem;
    line-height: 2.0625rem;
    font-weight: 500;
    letter-spacing: -.025rem;
}

.swal2-content {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #545454;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
}

.swal2-container.sg-swal .swal2-content {
    margin-bottom: 1.25rem;
    color: #323232;
}

.p2, .swal2-container.sg-swal .swal2-content #swal2-content {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}

.swal2-input {
    height: 2.625em;
    padding: 0 0.75em;
}

.swal2-file {
    background: inherit;
    font-size: 1.125em;
}

.swal2-file, .swal2-input, .swal2-textarea {
    box-sizing: border-box;
    width: 100%;
    transition: border-color .3s,box-shadow .3s;
    border: 1px solid #d9d9d9;
    border-radius: 0.1875em;
    background: inherit;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%);
    color: inherit;
    font-size: 1.125em;
}

.swal2-checkbox, .swal2-file, .swal2-input, .swal2-radio, .swal2-select, .swal2-textarea {
    margin: 1em auto;
}

.swal2-range {
    margin: 1em auto;
    background: inherit;
}

.swal2-actions {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.25em auto 0;
}

.swal2-container.sg-swal .swal2-actions {
    width: 100%;
    margin-top: 0;
}

.swal2-container.sg-swal .swal2-actions button.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: .875rem;
}

.swal2-container.sg-swal .swal2-actions button.btn.swal2-confirm {
    border-radius: 0.25rem;
    height: 2.75rem;
    background-color: #00c7ae;
    color: #fff;
}

.swal2-container.sg-swal .swal2-actions button.btn.swal2-confirm:hover {
    background-color: #00a18d;
}

.swal2-container.sg-swal .swal2-actions button.btn.swal2-cancel {
    margin-top: 0.75rem;
    padding: 0;
    font-size: .75rem;
    color: #b5b5b5;
    height: 1.125rem;
}

.swal2-actions a.modal-combackBtn {
    padding-top: 7px;
    font-size: 12px;
    color: #b5b5b5;
}

.swal2-actions a.modal-combackBtn:hover {
    color: #212121;
}

/* 미완주 코스 클릭 시 모달 end */