@charset "utf-8";

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

ul, li {
    list-style: none;
    padding: 0;
}

#app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* opacity: 0; */
    min-height: 100%;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.byeolbyeol-pay-container[data-v-2234e070] {
    padding: 0;
    margin: 0 auto;
}

.byeolbyeol-pay-list[data-v-775998d8] {
    width: 92%;
    /* padding: 3.125rem 1rem 5rem;
    margin: 0 auto; */
}

.byeolbyeol-pay-list h1[data-v-775998d8] {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #323232;
    font-weight: bold;
    margin: 1.5rem 0;
}

.byeolbyeol-pay-list .mobile-divider[data-v-775998d8] {
    display: none;
    margin: 0 -1rem;
    height: 0.5rem;
    width: calc(100% + 2rem);
    background-color: #f2f2f2;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .caption[data-v-775998d8] {
    padding: 0 0 0.75rem;
    display: flex;
    font-size: .875rem;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #f2f2f2;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item-wrap[data-v-775998d8] {
    margin: 0;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item[data-v-775998d8] {
    padding: 1rem 0 1.1875rem;
    border-bottom: 0.0625rem solid #f2f2f2;
    margin: 0;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item h4[data-v-775998d8] {
    font-size: .875rem;
    color: #00c7ae;
    font-weight: 700;
    margin: 0 0 0.75rem;
    line-height: 1.25rem;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item-info[data-v-775998d8] {
    display: flex;
    font-size: .875rem;
    line-height: 1.25rem;
}

.user-profile-picture[data-v-0ee3c6fc] {
    position: relative;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item .profile-picture[data-v-775998d8] {
    width: 2.625rem;
    height: 2.625rem;
    flex-basis: 2.625rem;
}

.user-profile-picture div[data-name=image][data-v-0ee3c6fc] {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.0625rem solid #f2f2f2;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #e1e1e1;
}

.user-profile-picture div[data-name=image].is-square[data-v-0ee3c6fc] {
    border-radius: 0.75rem;
    padding: 0;
    height: 100%;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item .user-info[data-v-775998d8] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0.75rem;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item .user-info .name[data-v-775998d8] {
    font-weight: 500;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item .user-info .service-name[data-v-775998d8] {
    margin-top: 0.125rem;
    color: #b5b5b5;
}

.byeolbyeol-pay-list section.byeolbyeol-pay-list-wrap .byeolbyeol-pay-list-item .price[data-v-775998d8] {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}














