@charset "utf-8";

.text-success {
    color: #00c7ae;
}

.mypage .shop-table > tbody > tr > td:first-child {
    padding-left: 0;
}

.shop_mypage .shop-table > tbody > tr > td:last-child {
    padding: 20px 0px 20px 0;
}

@media (max-width: 500px){
    .shop-content .left-menu ul {
        padding: 0;
        list-style: none;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px){
    .left-menu ul li{
        display: none;
    }
}

@media (max-width: 700px){
    .left-menu ul li.on{
        display: block;
    }
}

@media (max-width: 500px){
    .mypage .head {
        padding: 10px;
        margin-bottom: 70px;
    }
}

@media (max-width: 500px){
    .point-view.text-center {
        display: none;
    }
}

@media (max-width: 500px){
    .mycourseTab > a {
        font-size: 7px !important;
    }
}

@media (max-width: 500px){
    .noticeContent {
        display: none;
    }
}
@media (max-width: 500px){
    .categoryAndDate span {
        font-size: 7px !important;
    }
}

@media (max-width: 500px){
    .item-subject.hidden-sm.hidden-xs tr th {
        width: 30%;
    }
}
