<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 쓰담학교</title>
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/program/program.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
    <link rel="icon" href="/images/fix/favicon.png">
    <style>
        /*#noArticle1{*/
        /*    width: 24px; height: 24px; border-width: 0.25rem; border-style: solid; border-color: rgb(0, 199, 174) rgba(0, 199, 174, 0.2) rgba(0, 199, 174, 0.2); border-image: initial;*/
        /*}*/
        .noArticle2 {
            color: rgb(102, 102, 102);
            font-size: 14px;
            padding: 10px 0px;
            display: none;
        }
    </style>
</head>

<body>
<div>
    <header th:replace="/app/fix/header.html :: header"></header>

    <!-- BEGIN : APP BODY -->
    <div id="app-body">
        <div class="instant-purchase-container">
            <main data-v-72c8052a="" data-testid="ip-product-list" class="ip-product-list">
                <div data-v-e0e63576="" data-v-193e7af6="" data-v-72c8052a="" class="observer-container">
                    <header data-v-193e7af6="" data-v-e0e63576="" data-observe="page-heading" class="page-heading"
                            id="page-heading">
                        <h1 data-v-193e7af6="" data-v-e0e63576="" class="page-title">프로그램</h1>
                    </header>
                    <!---->
                </div>

                <div data-v-e0e63576="" data-v-72c8052a="" class="observer-container">
                    <section data-v-78206d9f="" data-v-72c8052a="" class="market-keyword-search-form"
                             data-v-e0e63576="">

                        <div data-v-78206d9f="" class="search-area">
                            <div data-v-78206d9f="" class="input-wrap">

                                <!---->
                                <div data-v-78206d9f="" role="group" class="input-group">
                                    <!---->
                                    <div data-v-78206d9f="" class="input-group-prepend">
                                        <img data-v-78206d9f=""
                                             src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiIHN0cm9rZT0iI0M1QzVDNSIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBjeD0iNi42MTEiIGN5PSI2LjYxMSIgcj0iNS44NjEiLz4KICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im0xNS4yNSAxNS4yNS00LjI0My00LjI0MyIvPgogICAgPC9nPgo8L3N2Zz4K"
                                             alt="검색" class="search-icon">
                                    </div>

                                    <form onsubmit="return false">
                                        <!--                                        <input type="text" style="display:none">-->
                                        <!-- 검색 입력 input -->
                                        <!--onkeyup="if(window.event.keyCode===13){searchKeyword(this.value)}"  onkeydown="javascript:if(event.keyCode==13)searchList(this.form);"-->
                                        <input name="enter" autocomplete='off' value=""
                                               onkeydown="javascript:if(event.keyCode==13)searchList(this.form);"

                                               data-v-78206d9f="" type="text" placeholder="원하는 프로그램을 검색해보세요"
                                               class="pro-form-control" maxlength="20" id="__BVID__183">
                                    </form>
                                    <div data-v-78206d9f="" class="input-group-append" style="display: none;">
                                        <button style="padding: 0; padding-right: 6px;"
                                                data-v-78206d9f="" type="button" class="btn btn-keyword-del"><img
                                                data-v-78206d9f=""
                                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgMykiPgogICAgICAgICAgICA8Y2lyY2xlIGZpbGw9IiNDNUM1QzUiIGN4PSI5IiBjeT0iOSIgcj0iOSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im02IDYgNi4wMDUgNi4wMDZNMTIuMDA1IDYgNiAxMi4wMDYiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo="
                                                alt="키워드 삭제"></button>
                                    </div>
                                    <!---->
                                </div>
                            </div>

                            <!-- BEGIN : 추천 서비스 -->
                            <div data-v-78206d9f="" class="keyword-box">
                                <ul data-v-78206d9f="">
                                    <li data-v-78206d9f="" class="title" onclick="selectKeyword(this)">추천 서비스</li>
                                    <li data-v-78206d9f="" class="sub" onclick="selectKeyword(this)">친환경</li>
                                    <li data-v-78206d9f="" class="sub" onclick="selectKeyword(this)">아이와 함께하는</li>
                                    <li data-v-78206d9f="" class="sub" onclick="selectKeyword(this)">특별 프로그램</li>
                                    <li data-v-78206d9f="" class="sub" onclick="selectKeyword(this)">쓰담 학교</li>
                                    <li data-v-78206d9f="" class="sub" onclick="selectKeyword(this)">TEAM 개발도상국</li>
                                </ul>
                            </div>
                            <!-- END : 추천 서비스 -->
                        </div>
                    </section>
                    <!---->
                </div>

                <section data-v-e052d09c="" data-v-72c8052a="" class="filter-group">
                    <ul data-v-e052d09c="" class="tab">
                        <li data-v-e052d09c=""><a data-v-e052d09c="" href="javascript:;"
                                                  class="btn router-link-exact-active btn-link programAllList"
                                                  target="_self">전체</a></li>
                        <li data-v-e052d09c="" id="group-1" data-testid="group-filter"><a data-v-e052d09c=""
                                                                                          href="javascript:;"
                                                                                          class="btn btn-link router-link-active programStatus"
                                                                                          target="_self">모집중</a></li>
                        <li data-v-e052d09c="" id="group-2" data-testid="group-filter"><a data-v-e052d09c=""
                                                                                          href="javascript:;"
                                                                                          class="btn btn-link programStatus"
                                                                                          target="_self">모집완료</a></li>
                        <li data-v-e052d09c="" id="group-3" data-testid="group-filter"><a data-v-e052d09c=""
                                                                                          href="javascript:;"
                                                                                          class="btn btn-link programStatus"
                                                                                          target="_self">모집예정</a></li>
                        <li data-v-e052d09c="" id="group-7" data-testid="group-filter"><a data-v-e052d09c=""
                                                                                          href="javascript:;"
                                                                                          class="btn btn-link programStatus"
                                                                                          target="_self">마감</a></li>
                    </ul>
                </section>

                <section data-v-72c8052a="" class="page-content">
                    <div data-v-72c8052a="" class="flex-container">
                        <div data-v-72c8052a="" class="flex-side-right">
                            <div data-v-18e85706="" data-v-72c8052a="">
                                <!-- BEGIN : 프로그램 개수 -->
                                <section data-v-219a3136="" data-v-18e85706="">
                                    <div data-v-219a3136="" class="product-total-count" id="totalCountPlace">
                                        <!--                                        <strong data-v-219a3136="">12</strong>-->
                                        <!--                                        <span data-v-219a3136="">개 서비스</span>-->
                                        <!-- 몇 개의 서비스 -->
                                        <!-- 몇 개의 서비스 -->
                                        <!-- 몇 개의 서비스 -->

                                    </div>
                                </section>
                                <!-- END : 프로그램 개수 -->

                                <!-- BEGIN : 프로그램 article 감싸는 DIV -->
                                <div data-v-18e85706="" class="product-list responsive" id="programListId">

                                    <!--  프로그램 데이터 들어가는 자리  -->
                                    <!--  프로그램 데이터 들어가는 자리  -->
                                    <!--  프로그램 데이터 들어가는 자리  -->

                                </div>
                                <!-- END : 프로그램 article 감싸는 DIV -->

                                <!-- BEGIN : 프로그램 없는 경우 나오는 DIV -->
                                <div data-v-644ea9c9="" data-v-72c8052a="" class="infinite-loading-container"
                                     id="noArticleProgram">

                                    <div data-v-644ea9c9="" class="infinite-status-prompt" style="display: none;">
                                        <div>
                                            <div class="indicator-body center"></div>
                                            <p style="display: none;"></p>
                                        </div>
                                    </div>
                                    <div id="noArticle1">

                                        <!-- 돋보기 _ 프로그램 없는 경우 실행 되는 자리 -->
                                        <!-- 돋보기 _ 프로그램 없는 경우 실행 되는 자리 -->
                                        <!-- 돋보기 _ 프로그램 없는 경우 실행 되는 자리 -->

                                    </div>
                                </div>
                                <!-- END : 프로그램 없는 경우 나오는 DIV -->
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <!-- END : APP BODY -->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/program/program.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<script src="/js/fix/header.js"></script>
<script>

</script>
</html>