<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 쓰담학교</title>
    <link rel="stylesheet" href="/css/fix/font.css">
    <link rel="stylesheet" href="/css/Program/programDetail.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
    <link rel="icon" href="/images/fix/favicon.png">
</head>

<body>
<div>
    <header th:replace="/app/fix/header.html :: header"></header>
    <div id="app-body">
        <div class="instant-purchase-container">
            <article class="instant-purchase-product-detail no-recent-view" data-v-08563466="">
                <div class="flex-aside left" data-v-08563466="">
                    <div class="observer-container" data-v-e0e63576="" data-v-08563466="">
                        <section class="banner" data-v-e0e63576="" data-v-08563466="">
                            <article data-v-5a004a22="" data-v-08563466="" data-v-e0e63576="">
                                <div class="slick-slider slick-initialized" data-v-3d1a4f76="" data-v-55917fe8=""
                                     data-v-5a004a22="">
                                    <div class="slick-list" data-v-3d1a4f76="">
                                        <div class="slick-track"
                                             style="width: 600px; opacity: 1; transform: translate3d(0px, 0px, 0px);"
                                             data-v-e4caeaf8="" data-v-3d1a4f76="">
                                            <div tabindex="-1" data-index="0" aria-hidden="false"
                                                 class="slick-slide slick-active slick-current"
                                                 style="outline: none; width: 600px;" data-v-e4caeaf8="">
                                                <div data-v-e4caeaf8="">
                                                    <article tabindex="-1" class="preview-image"
                                                             style="width:100%;display:inline-block;" data-v-1a98b297=""
                                                             data-v-5a004a22="" data-v-e4caeaf8="">
                                                        <div class="image-wrap" style=""
                                                             data-v-1a98b297="">
                                                            <img src="/images/program/program1-1.png"
                                                                 style="width: 600px;">

                                                        </div>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                            </article>
                        </section>

                        <!---->
                        <!---->
                    </div>
                </div>
                <div class="flex-aside right" data-v-08563466="">
                    <div class="product-controller" data-v-08563466="">


                        <!-- program detail start-->
                        <!-- program detail start-->
                        <!-- program detail start-->


                        <section class="program detail">

                            <header id="good_header">
                                <div class="view_tit no-margin-top title_font_style "
                                     style="color: #656565; font-size: 16px !important; margin-bottom: 5px;">[모집완료] “잘
                                    먹고 살고 있나요?” -비건요리(양식)편- with 지구커리
                                    <div class="ns-icon inline-blocked clearfix">
                                        <!--                                          <div class="prod_icon sold_out">SOLDOUT</div>									-->
                                    </div>
                                </div>

                                <!--                              <div class="pay_detail full-width">-->
                                <!--                                  <div class="holder table-row">-->
                                <!--                                      <span class="text-brand pay_number">-->
                                <!--                                              <span class="real_price inline-blocked" style="">10,000원</span>-->
                                <!--                                      </span>-->
                                <!--                                  </div> </div>-->

                            </header>
                            <div class="col-md-6 col-sm-12 col-xs-12  goods_form_wrap" id="scroll">
                                <div class="goods_form" id="prod_goods_form">
                                    <div class="goods_summary body_font_color_70">
                                        <div class="fr-view">
                                            <p id="black">지구학교 X 지구샵 그로서리</p>
                                            <p id="black">“잘 먹고 살고 있나요?” -비건요리(양식)편- with 지구커리</p>
                                            <ul style="list-style-type: circle;">
                                                <li>내용 :<p id="black">- 향신료를 맛보고 향신료 배합과 사용법 알아보아요</p>
                                                    <p id="black">- 가장 기본의 채소커리와 밥을 함께 만들어요</p></li>
                                                <li>날짜 :<p id="black">- 오전반 | 10월 22일 토요일 11시~13시</p>
                                                    <p id="black">- 오후반 | 10월 22일 토요일 15시~17시</p></li>
                                                <li>인원 : 6명 (반별 6명/결제 완료 순으로 마감)</li>
                                                <li>장소 : 지구커리 (서대문구 증가로 6길 82-23 안쪽골목 1층)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <i aria-hidden="true"
                                       class="wish-icon-s20221006e0ef8439338fd im-icon im-ico-like text-18"></i>
                                    </a>
                                </div>
                                <div class="item_detail">
                                    <div class="_item_detail_wrap">
                                        <div class="margin-bottom-xxl">
                                            <div class="option_wrap" style="display: block; font-size:13px; ">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">장소</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_data">지구학교</span>
                                                </div>
                                            </div>

                                            <div class="option_wrap" style="display: block; font-size:13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">인원수</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_data">1</span>
                                                </div>
                                            </div>

                                            <div class="option_wrap" style="display: block; font-size:13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">수강시간</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                <span class="option_data">
                                    0
                            </span>
                                                </div>
                                            </div>

                                            <div class="option_wrap" style="display: none; font-size:13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">주문안내</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_data">최소 주문금액 0원</span>
                                                </div>
                                            </div>

                                            <div class="option_wrap" style="display: none; font-size: 13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">무게</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_data">1kg</span>
                                                </div>
                                            </div>
                                            <div class="option_wrap" style="display: none; font-size:13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">배송 방법</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                            <span class="option_data">
                                배송없음											</span>
                                                </div>
                                            </div>
                                            <div class="option_wrap" style="display: none; font-size:13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">배송비</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_data">배송없음 (50,000원 이상 무료배송) <span
                                                            class="text-gray holder divider-wrap"><em
                                                            class="divider">|</em>도서산간 배송비 추가 <a href="javascript:;"
                                                                                                 class="html-popover text-gray"
                                                                                                 role="button"
                                                                                                 tabindex="0"
                                                                                                 data-trigger="focus"
                                                                                                 data-toggle="popover"
                                                                                                 title=""
                                                                                                 data-content="제주 추가 3,000원, <br>제주 외 도서지역 추가 5,000원"
                                                                                                 data-original-title=""
                                                                                                 data-placement="auto"><i
                                                            class="btm bt-question-circle" aria-hidden="true"></i><span
                                                            class="sr-only">popover</span></a></span></span></div>
                                            </div>
                                            <div class="option_wrap" style="display:none; font-size:13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">배송 안내</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_data"></span>
                                                </div>
                                            </div>
                                            <div class="" style="font-size:13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">모집 시작일</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_data">1</span>
                                                </div>
                                            </div>
                                            <div class="" style="font-size:13px;">
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_title text-bold">모집 마감일</span>
                                                </div>
                                                <div class="inline-blocked vertical-middle">
                                                    <span class="option_data">1</span>
                                                </div>
                                            </div>


                                            <div class="margin-bottom-xxl select_wrap  clearfix deliv"
                                                 style=" display: none; ">
                                                <div class="inline-blocked form-delivery" style="display: inline-block">
                                                    <div class="form-select-wrap " style="display: none;">
                                                        <select class="countryList" title="countryList">
                                                            <option value="KR" selected=""></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <!-- select Time -->
                                        <!-- select Time -->
                                        <!-- select Time -->
                                        <!-- select Time -->
                                        <!-- select Time -->


                                        <!--                <div id="inputbox">-->
                                        <!--                    -->
                                        <!--                    <div id="margindiv">-->
                                        <!--                        -->
                                        <!--                        <span class="option_title text-bold" style="font-size: 13px;">시간 선택 *</span>-->
                                        <!--                    </div>-->
                                        <!--                   -->
                                        <!--                    <form>-->
                                        <!--                        <select name="timeSelect" style="font-size: 14px;-->
                                        <!--                        width: 300px;-->
                                        <!--                        height: 35px;-->
                                        <!--                        margin-bottom: 15px;" >-->
                                        <!--                        -->
                                        <!--                          <option value="none">=== 선택 ===</option>-->
                                        <!--                          <option value="" selected>시간 선택(필수)</option>-->
                                        <!--                          <option value="time">오전반 | 10월22일(토) 11-13시</option>-->
                                        <!--                          <option value="time">오후반 | 10월22일(토) 15-17시</option>-->
                                        <!--                        </select>-->
                                        <!--                      </form>-->
                                        <!--            -->
                                        <!--                        </div>-->


                                        <!-- select Time -->
                                        <!-- select Time -->
                                        <!-- select Time -->
                                        <!-- select Time -->
                                        <!-- select Time -->


                                    </div>


                        </section>


                        <!-- program detail end-->
                        <!-- program detail end-->
                        <!-- program detail end-->

                        <section class="buy-button pb-0" data-v-08563466="">
                            <!---->
                            <div class="sticky-btn-group" data-v-08563466=""><!--<button type="button"
                                    class="btn btn-qna btn-none btn-block" data-v-fa78c050="" data-v-08563466=""><span
                                        data-v-fa78c050="" data-v-08563466="">문의</span></button>-->
                                <button
                                        data-testid="purchase-btn" type="button" class="btn btn-buy btn-primary"
                                        id="Apply"
                                        data-v-08563466="" style="font-size: 16px">
                                    신청하기
                                </button>
                            </div>
                        </section>
                        <img src="/images/program/000program.png" style="margin-top: 10px;border-radius: 12px;">
                        <!--<figure class="guarantee-banner" data-v-4df1822e="" data-v-08563466=""><img alt="숨고보증"
                                data-v-4df1822e=""
                                data-src="https://assets.cdn.soomgo.com/images/instant-purchase/img-guarantee-product.svg"
                                src="https://assets.cdn.soomgo.com/images/instant-purchase/img-guarantee-product.svg"
                                lazy="loaded">
                            <figcaption data-v-4df1822e=""><strong data-v-4df1822e="">안심하세요 숨고가 보상해드려요!</strong>
                                <p data-v-4df1822e="">최대 1,000만 원까지 보상</p>
                            </figcaption>
                            &lt;!&ndash;&ndash;&gt;
                        </figure>-->
                    </div>
                </div>
                <!---->
                <!---->
                <!---->
                <!-- Modal -->
                <!-- Modal -->
                <!-- Modal -->

                <div class="modal">
                    <div class="modal_content"
                         title="클릭하면 창이 닫힙니다.">

                        <div style="position: relative;
                         top: 6%;">

                            <div id="modal_title" class="view_tit no-margin-top title_font_style "
                                 style="color: #656565; font-size: 20px !important; margin-bottom: 5px; text-align: center;">
                                신청 하시겠습니까?

                            </div>

                            <div id="__BVID__125___BV_modal_content_" tabindex="-1" class="modal-content">
                                <!--  <div data-v-af4658e8="" class="information-use-box"><p data-v-af4658e8="" class="information-use-content">
                                      <span data-v-af4658e8="" class="emoji">🔗</span>
                                      <span data-v-af4658e8="" class="text">영리목적으로 정보를 공유하는 행위</span></p>
                                      <p data-v-af4658e8="" class="information-use-content"><span data-v-af4658e8="" class="emoji">🤬</span>
                                          <span data-v-af4658e8="" class="text">욕설, 과도한 비방글, 저격글, 혐오표현</span></p>
                                          <p data-v-af4658e8="" class="information-use-content"><span data-v-af4658e8="" class="emoji">✋</span>
                                              <span data-v-af4658e8="" class="text">다른 회원의 수업을 방해하는 행위</span></p>
                                          </div><div data-v-af4658e8="" class="footer-button"></div>&lt;!&ndash;&ndash;&gt;</div>-->


                                <br>

                                <div id="button_Disply" style="display: flex;
                        justify-content: space-evenly;">

                                    <button data-testid="purchase-btn" type="button" class="btn btn-buy btn-primary"
                                            style="background: #00c7ae; border-radius: 0.25rem; "
                                            onclick="location.href='http://localhost:10001/program/program'">
                                        신청하기
                                    </button>

                                    <button data-testid="purchase-btn" type="button" class="btn btn-buy btn-primary"
                                            style="background: #00c7ae; border-radius: 0.25rem;"
                                            onclick="location.href='http://localhost:10001/program/programdetail'">
                                        돌아가기
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Modal -->
                    <!-- Modal -->
                    <!-- Modal -->


                    <div class="v-portal" style="display:none;" data-v-08563466=""></div>
                </div>
            </article>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/Program/programDetail.js"></script>
<script src="/js/fix/headerLogin.js"></script>

</html>