<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/fix/favicon.png">
    <title>별별쓰담 | 별별줍깅</title>
    <link
            data-vue-meta="1"
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap"
    />
    <link rel="stylesheet" href="/css/jubgging/css68.css">
    <link rel="stylesheet" href="/css/jubgging/css69.css" />
    <link rel="stylesheet" href="/css/jubgging/css257.css" />
    <link rel="stylesheet" href="/css/jubgging/css75.css" />
    <link rel="stylesheet" href="/css/jubgging/css76.css" />
    <link rel="stylesheet" href="/css/jubgging/kmong.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
</head>

<body>
<div id="wrap">
    <header th:replace="/app/fix/header.html :: header"></header>
    <div id="app-body">
        <div data-v-593ade4e="" class="pro">
            <div data-v-593ade4e="" class="hero-image-container">
                <div data-v-593ade4e="" class="container container">
                    <h1 data-v-593ade4e="">
                        환경과 건강 동시에 챙기고<br data-v-593ade4e="" />
                        메달을 받아보세요!
                    </h1>
                </div>
            </div>
            <!-- <div data-v-593ade4e="" class="category-container">
              <div data-v-593ade4e="" class="category1-box-container container">
                <div data-v-593ade4e="" class="category1-box">
                  <h3 data-v-593ade4e="">코스를 선택하세요</h3>
                  <ul
                    data-v-7d45c639=""
                    data-v-593ade4e=""
                    class="category1-buttons list-inline flex"
                  >
                    <li data-v-7d45c639="" class="category">
                      <a data-v-7d45c639="" href="/pro/welcome/레슨" class="">
                        <div data-v-7d45c639="" class="category-icon">
                          <img
                            data-v-7d45c639=""
                            src="https://assets.cdn.soomgo.com/icons/category1/lesson.svg"
                            alt="레슨"
                          />
                          <p data-v-7d45c639="" class="category-title p2">1코스</p>
                        </div>
                      </a>
                    </li>
                    <li data-v-7d45c639="" class="category">
                      <a data-v-7d45c639="" href="/pro/welcome/홈-리빙" class="">
                        <div data-v-7d45c639="" class="category-icon">
                          <img
                            data-v-7d45c639=""
                            src="https://assets.cdn.soomgo.com/icons/category1/home-living.svg"
                            alt="홈/리빙"
                          />
                          <p data-v-7d45c639="" class="category-title p2">2코스</p>
                        </div>
                      </a>
                    </li>
                    <li data-v-7d45c639="" class="category">
                      <a data-v-7d45c639="" href="/pro/welcome/이벤트" class="">
                        <div data-v-7d45c639="" class="category-icon">
                          <img
                            data-v-7d45c639=""
                            src="https://assets.cdn.soomgo.com/icons/category1/event.svg"
                            alt="이벤트"
                          />
                          <p data-v-7d45c639="" class="category-title p2">3코스</p>
                        </div>
                      </a>
                    </li>
                    <li data-v-7d45c639="" class="category">
                      <a data-v-7d45c639="" href="/pro/welcome/비즈니스" class="">
                        <div data-v-7d45c639="" class="category-icon">
                          <img
                            data-v-7d45c639=""
                            src="https://assets.cdn.soomgo.com/icons/category1/business.svg"
                            alt="비즈니스"
                          />
                          <p data-v-7d45c639="" class="category-title p2">4코스</p>
                        </div>
                      </a>
                    </li>
                    <li data-v-7d45c639="" class="category">
                      <a
                        data-v-7d45c639=""
                        href="/pro/welcome/디자인-개발"
                        class=""
                      >
                        <div data-v-7d45c639="" class="category-icon">
                          <img
                            data-v-7d45c639=""
                            src="https://assets.cdn.soomgo.com/icons/category1/design-development.svg"
                            alt="디자인/개발"
                          />
                          <p data-v-7d45c639="" class="category-title p2">5코스</p>
                        </div>
                      </a>
                    </li>
                    <li data-v-7d45c639="" class="category">
                      <a data-v-7d45c639="" href="/pro/welcome/건강-미용" class="">
                        <div data-v-7d45c639="" class="category-icon">
                          <img
                            data-v-7d45c639=""
                            src="https://assets.cdn.soomgo.com/icons/category1/health-beauty.svg"
                            alt="건강/미용"
                          />
                          <p data-v-7d45c639="" class="category-title p2">6코스</p>
                        </div>
                      </a>
                    </li>
                    <li data-v-7d45c639="" class="category">
                      <a data-v-7d45c639="" href="/pro/welcome/알바" class="">
                        <div data-v-7d45c639="" class="category-icon">
                          <img
                            data-v-7d45c639=""
                            src="https://assets.cdn.soomgo.com/icons/category1/part-time-job.svg"
                            alt="알바"
                          />
                          <p data-v-7d45c639="" class="category-title p2">7코스</p>
                        </div>
                      </a>
                    </li>
                    <li data-v-7d45c639="" class="category">
                      <a data-v-7d45c639="" href="/pro/welcome/기타" class="">
                        <div data-v-7d45c639="" class="category-icon">
                          <img
                            data-v-7d45c639=""
                            src="https://assets.cdn.soomgo.com/icons/category1/etc.svg"
                            alt="기타"
                          />
                          <p data-v-7d45c639="" class="category-title p2">
                            SPECIAL
                          </p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
            <div data-v-6e7535bb="" data-v-593ade4e="" id="people">
                <div data-v-6e7535bb="" class="container">
                    <div data-v-6e7535bb="" class="row">
                        <div data-v-6e7535bb="" class="col-12">
                            <h2 data-v-6e7535bb="">
                                수많은 쓰레기들이
                                <!---->지구에 버려지고 있습니다
                            </h2>
                            <p data-v-6e7535bb="" class="headline">
                                우리 모두 함께 줍깅합시다.
                                <!---->작은 실천이 지구를 바꿀 수 있습니다.
                            </p>
                        </div>
                    </div>
                    <div data-v-6e7535bb="" class="row">
                        <div data-v-6e7535bb="" class="col-4">
                            <h3 class="moving" data-moving="8000000" data-v-6e7535bb="">8,000,000</h3>
                            <p data-v-6e7535bb="" class="label-count">
                                매년 버려지는 플라스틱 양
                            </p>
                        </div>
                        <div data-v-6e7535bb="" class="col-4">
                            <h3 class="moving" data-moving="160000" data-v-6e7535bb="">160,000</h3>
                            <p data-v-6e7535bb="" class="label-count">
                                1초에 비닐봉지 사용량
                            </p>
                        </div>
                        <div data-v-6e7535bb="" class="col-4">
                            <h3 class="moving" data-moving="13000000" data-v-6e7535bb="">13,000,000</h3>
                            <p data-v-6e7535bb="" class="label-count">경제적 손실</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--        <section class="section-02" id="section-02" tabindex="0" style="background: url('/images/jubgging/jub.jpg') center top no-repeat;width:100%;height:573px;">-->

            <!--        </section>-->

            <section class="css-44ob05 e6qyvs40">
                <div class="css-4ajt1y e6qyvs41">
                    <div class="css-gg4vpm e1sdoe380">
                        <div class="css-zo57ty e1sdoe381">
                            <h1 class="css-1qjs9ls e1sdoe384">어렵지 않아요!<br />‘줍깅’ 실천하는 방법</h1>
                            <h2 class="css-1blg2w3 e1sdoe385">많은 준비물 없이<br />환경보호에 동참할 수 있다는 것도<br />줍깅의 매력! </h2>
                        </div>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Rq5FZ55fNjM?autoplay=1&controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <iframe style="margin-top: 46px;"
                                width="600" height="315" src="https://www.youtube.com/embed/7XrxTrejx8w?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/BV6lqHAPulM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <div class="css-7l5lee e1sdoe383">
                            <div class="css-1pishuq e1sdoe382">
                            </div>
                        </div>
                    </div>
                    <div class="css-ae3v06 e1o8iw1h0">
                        <article class="css-4wklnm e1o8iw1h1">
                            <h3 class="css-17mol43 e1o8iw1h2">봉투를 준비합니다.</h3>
                            <h4 class="css-kay9jn e1o8iw1h3">비닐봉지 대신 못 쓰는 에코백이나<br> 다회용 바구니, 폐현수막으로 만든 봉투라면<br> 더욱 좋아요.</h4>
                            <div class="css-qhcigr e1o8iw1h4">
                  <span style=" box-sizing: border-box; display: inline-block; overflow: hidden; width: 28px; height: 28px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                      <img
                              alt="카드 0"
                              src="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-01%403x.png&w=320&q=75"
                              decoding="async"
                              data-nimg="fixed"
                              style="position: absolute;
                        inset: 0px;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;"
                              srcset="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-01%403x.png&w=320&q=75
                      " /><noscript></noscript
                  ></span>
                            </div>
                        </article>
                        <article class="css-4wklnm e1o8iw1h1">
                            <h3 class="css-17mol43 e1o8iw1h2">장갑을 준비합니다.</h3>
                            <h4 class="css-kay9jn e1o8iw1h3">쓰레기를 수거할 때 손을 더럽히지 않도록<br> 목장갑이나 집게를 준비합니다.</h4>
                            <div class="css-qhcigr e1o8iw1h4">
                  <span
                          style="
                      box-sizing: border-box;
                      display: inline-block;
                      overflow: hidden;
                      width: 28px;
                      height: 28px;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                      position: relative;
                    "
                  ><img
                          alt="카드 1"
                          src="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-02%403x.png&w=320&q=75"
                          decoding="async"
                          data-nimg="fixed"
                          style="
                        position: absolute;
                        inset: 0px;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;
                      "
                          srcset="
                      https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-02%403x.png&w=320&q=75
                      " /><noscript></noscript
                  ></span>
                            </div>
                        </article>
                        <article class="css-4wklnm e1o8iw1h1">
                            <h3 class="css-17mol43 e1o8iw1h2">마무리까지 제대로!</h3>
                            <h4 class="css-kay9jn e1o8iw1h3">수거한 쓰레기는 재활용 여부에 따라 분리하여 쓰레기 수거함에 버려 주세요.</h4>
                            <div class="css-qhcigr e1o8iw1h4">
                  <span
                          style="
                      box-sizing: border-box;
                      display: inline-block;
                      overflow: hidden;
                      width: 28px;
                      height: 28px;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                      position: relative;
                    "
                  ><img
                          alt="카드 2"
                          src="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-03%403x.png&w=320&q=75"
                          decoding="async"
                          data-nimg="fixed"
                          style="
                        position: absolute;
                        inset: 0px;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;
                      "
                          srcset="https://kmong.com/_next/image?url=https%3A%2F%2Fd2v80xjmx68n4w.cloudfront.net%2Fassets%2Fdesktop%2Fpages%2Findex%2Fcard-03%403x.png&w=320&q=75
                      " /><noscript></noscript
                  ></span>
                            </div>
                        </article>
                    </div>
                </div>
            </section>

            <div data-v-d92feee2="" data-v-593ade4e="" id="operation">
                <div data-v-d92feee2="" class="container">
                    <div data-v-d92feee2="" class="row">
                        <div data-v-d92feee2="" class="col-12">
                            <h2 data-v-d92feee2="">참가방법</h2>
                        </div>
                    </div>
                    <div data-v-d92feee2="" class="row">
                        <div data-v-d92feee2="" class="col-4">
                            <figure data-v-d92feee2="" class="num">
                                <img
                                        data-v-d92feee2=""
                                        src="https://static.cdn.soomgo.com/static/img/home/safety_num_1.png"
                                        alt=""
                                />
                                <h3 data-v-d92feee2="">플로깅에 대해 알아보세요</h3>
                                <figcaption data-v-d92feee2="">
                                    고객이 필요한 서비스의 요청서를 작성하면 숨고가 검토 후
                                    고수님께 무료로 보내드려요.
                                </figcaption>
                            </figure>
                        </div>
                        <div data-v-d92feee2="" class="col-4">
                            <figure data-v-d92feee2="" class="num">
                                <img
                                        data-v-d92feee2=""
                                        src="https://static.cdn.soomgo.com/static/img/home/safety_num_2.png"
                                        alt=""
                                />
                                <h3 data-v-d92feee2="">참가 신청을 클릭하세요</h3>
                                <figcaption data-v-d92feee2="">
                                    요청서 확인 후 간단히 견적금액만 입력하면 프로필과 함께
                                    고객에게 메시지로 전송돼요.
                                </figcaption>
                            </figure>
                        </div>
                        <div data-v-d92feee2="" class="col-4">
                            <figure data-v-d92feee2="" class="num">
                                <img
                                        data-v-d92feee2=""
                                        src="https://static.cdn.soomgo.com/static/img/home/safety_num_3.png"
                                        alt=""
                                />
                                <h3 data-v-d92feee2="">플로깅을 시작하세요</h3>
                                <figcaption data-v-d92feee2="">
                                    줍깅을 할때는 쓰레기를 담을 가방과 장갑을 꼭 챙겨주세요.
                                </figcaption>
                            </figure>
                        </div>
                        <div data-v-d92feee2="" class="col-12">
                            <a data-v-d92feee2="" href="http://localhost:10001/jubgging/jubgging" class="btn btn-primary btn-lg" target="_self" style="margin-top: 70px;">참여하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/fix/headerLogin.js"></script>
<script src="/js/jubgging/jubggingIntro.js"></script>
</html>
