<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/fix/favicon.png">
    <title>줍깅 | 코스설명</title>
    <link data-vue-meta="1" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="/css/jubgging/css338.css">
    <link rel="stylesheet" href="/css/jubgging/css68.css">
    <link rel="stylesheet" href="/css/jubgging/css339.css">
    <link rel="stylesheet" href="/css/jubgging/letpel.css">
    <link rel="stylesheet" href="/css/jubgging/jtbc.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
</head>

<body>
<div id="wrap">
<header th:replace="/app/fix/header.html :: header"></header>
<div id="app-sticky-nav" class="vue-portal-target"></div>
<div id="app-body">
    <div data-v-4a092108="" data-testid="categories" class="categories">
        <section data-v-4a092108="" data-name="service-searcher">
            <div data-v-4a092108="" class="dimmed"></div>
            <div data-v-4a092108="" class="contents">
                <h1 data-v-4a092108="">
                    환경과 건강을 동시에 챙기는<br data-v-4a092108="" />줍깅을
                    신청해보세요
                </h1>
<!--                <div data-v-307d1eb5="" data-v-4a092108="" class="service-searcher">-->
<!--                    <form data-v-307d1eb5="" class="form-group-lg">-->
<!--                        <div data-v-307d1eb5="" class="input-group">-->
<!--                            &lt;!&ndash;&ndash;&gt;<input-->
<!--                                data-v-307d1eb5=""-->
<!--                                type="text"-->
<!--                                placeholder="어떤 분야의 전문가를 찾으시나요?"-->
<!--                                autocomplete="off"-->
<!--                                class="form-control p2"-->
<!--                        /><span data-v-307d1eb5="" class="input-group-append"-->
<!--                        ><button-->
<!--                                data-v-307d1eb5=""-->
<!--                                type="submit"-->
<!--                                class="btn btn-primary btn-md"-->
<!--                        >-->
<!--                      <img-->
<!--                              data-v-307d1eb5=""-->
<!--                              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0iI0Q4RDhEOCIgZmlsbC1vcGFjaXR5PSIwIiBkPSJNMCAwaDE4djE4SDB6Ii8+CiAgICAgICAgPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE0Ljk0NCAxMy44ODdsNC44MzcgNC44MzhhLjc0Ny43NDcgMCAxIDEtMS4wNTYgMS4wNTZsLTQuODM4LTQuODM3YTguNDU4IDguNDU4IDAgMSAxIDEuMDU3LTEuMDU3em0tMS41MDUtLjU2M2E2Ljk2NCA2Ljk2NCAwIDEgMC0uMTE0LjExNC43NTUuNzU1IDAgMCAxIC4xMTQtLjExNHoiLz4KICAgIDwvZz4KPC9zdmc+Cg=="-->
<!--                              class="search-icon"-->
<!--                      /><span data-v-307d1eb5="" class="hidden-xs"-->
<!--                        >서비스 검색</span-->
<!--                        >-->
<!--                    </button></span-->
<!--                        >-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    <div-->
<!--                            data-v-307d1eb5=""-->
<!--                            class="service-searcher-typehead"-->
<!--                            style="display: none; width: 508.913px"-->
<!--                    >-->
<!--                        <ul data-v-307d1eb5=""></ul>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                </div>-->
            </div>
        </section>
        <section data-v-1cf86409="" data-name="category-buttons">
            <ul data-v-7d45c639="" data-v-1cf86409="" class="category1-buttons list-inline category-buttons flex" >
                <li data-v-7d45c639="" class="category">
                    <a data-v-7d45c639="" href="/레슨" class=""
                    ><div data-v-7d45c639="" class="category-icon">
                        <img
                                data-v-7d45c639=""
                                src="https://assets.cdn.soomgo.com/icons/category1/lesson.svg"
                                alt="레슨"
                        />
                        <p data-v-7d45c639="" class="category-title p2">1코스</p>
                    </div></a
                    >
                </li>
                <li data-v-7d45c639="" class="category">
                    <a data-v-7d45c639="" href="/홈-리빙" class=""
                    ><div data-v-7d45c639="" class="category-icon">
                        <img
                                data-v-7d45c639=""
                                src="https://assets.cdn.soomgo.com/icons/category1/home-living.svg"
                                alt="홈/리빙"
                        />
                        <p data-v-7d45c639="" class="category-title p2">2코스</p>
                    </div></a
                    >
                </li>
                <li data-v-7d45c639="" class="category">
                    <a data-v-7d45c639="" href="/이벤트" class=""
                    ><div data-v-7d45c639="" class="category-icon">
                        <img
                                data-v-7d45c639=""
                                src="https://assets.cdn.soomgo.com/icons/category1/event.svg"
                                alt="이벤트"
                        />
                        <p data-v-7d45c639="" class="category-title p2">3코스</p>
                    </div></a
                    >
                </li>
                <li data-v-7d45c639="" class="category">
                    <a data-v-7d45c639="" href="/건강-미용" class=""
                    ><div data-v-7d45c639="" class="category-icon">
                        <img
                                data-v-7d45c639=""
                                src="https://assets.cdn.soomgo.com/icons/category1/health-beauty.svg"
                                alt="건강/미용"
                        />
                        <p data-v-7d45c639="" class="category-title p2">4코스</p>
                    </div></a
                    >
                </li>
                <li data-v-7d45c639="" class="category">
                    <a data-v-7d45c639="" href="/알바" class=""
                    ><div data-v-7d45c639="" class="category-icon">
                        <img
                                data-v-7d45c639=""
                                src="https://assets.cdn.soomgo.com/icons/category1/part-time-job.svg"
                                alt="알바"
                        />
                        <p data-v-7d45c639="" class="category-title p2">5코스</p>
                    </div></a
                    >
                </li>
                <li data-v-7d45c639="" class="category">
                    <a data-v-7d45c639="" href="/기타" class=""
                    ><div data-v-7d45c639="" class="category-icon">
                        <img
                                data-v-7d45c639=""
                                src="https://assets.cdn.soomgo.com/icons/category1/etc.svg"
                                alt="기타"
                        />
                        <p data-v-7d45c639="" class="category-title p2">SPECIAL</p>
                    </div></a
                    >
                </li>
            </ul>
        </section>
        <section id="course" class="course-section tab-section" >
            <h1 class="subpage-title">1코스 - 수락·불암산 코스</h1>
            <dl>
                <dt>코스 정보</dt>
                <dd>
                    <span class="course-min-text">
                        <span class="course-min-title">지역</span>
                        노원구, 도봉구
                    </span>
                    <span class="course-min-text">
                        <span class="course-min-title">거리</span>
                        총 18.6km
                    </span>
                    <span class="course-min-text">
                        <span class="course-min-title">소요시간</span>
                        8시간 40분
                    </span>
                    <span class="course-min-text">
                        <span class="course-min-title">난이도</span>
                        고급
                    </span>
                </dd>
                <div class="clearfix"></div>
                <dt>교통편</dt>
                <dd>
                    <span class="course-min-text">
                        <span class="course-min-title">출발지</span>
                        지하철 1호선, 7호선 도봉산역 2번 출입구
                    </span>
                    <span class="course-min-text">
                        <span class="course-min-title">도착지</span>
                        지하철 6호선 화랑대역 4번 출입구
                    </span>
                </dd>
                <div class="clearfix">
                </div>
            </dl>
            <div class="row" style="padding-left: 285px;">
                <section class="mypage" style="padding-top: 90px;">
                    <div class="myTabContents noticeTab active">
                        <div class="noticeListWrap">
                            <ul class="noticeListTimeLine">
                                <li class="noticeDayWrap">
                                    <ul>
                                        <li class="noticeContentWrap">
                                            <div class="left">
                                                <p class="categoryAndDate">
                                                    <span>1코스 시작위치</span>
                                                </p>
                                                <p class="noticeContent">
                                                    여기가 시작위치 입니다.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="noticeContentWrap">
                                            <div class="left">
                                                <p class="categoryAndDate">
                                                    <span>1코스 중간스팟1</span>
                                                </p>
                                                <p class="noticeContent">
                                                    여기가 중간 스팟 첫번째 입니다.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="noticeContentWrap">
                                            <div class="left">
                                                <p class="categoryAndDate">
                                                    <span>1코스 중간스팟2</span>
                                                </p>
                                                <p class="noticeContent">
                                                    여기가 중간 스팟 두번째 입니다.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="noticeContentWrap">
                                            <div class="left">
                                                <p class="categoryAndDate">
                                                    <span>1코스 중간스팟3</span>
                                                </p>
                                                <p class="noticeContent">
                                                    여기가 중간 스팟 세번째 입니다.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="noticeContentWrap">
                                            <div class="left">
                                                <p class="categoryAndDate">
                                                    <span>1코스 종료위치</span>
                                                </p>
                                                <p class="noticeContent">
                                                    여기가 종료위치 입니다.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <div class="col-md-6 text-center" style="padding-left: 110px; padding-bottom: 10px;">
                    <img src="https://trailseoul157k.com/img/sub/course_map_01.png" alt="" class="img-responsive" style="max-width:540px">
                </div>
            </div>


        </section>
    </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/fix/headerLogin.js"></script>
</html>
