<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/fix/favicon.png">
    <title>별별쓰담 | 별별줍깅</title>
    <link data-vue-meta="1" rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="css/jubgging/font.css">
    <link rel="stylesheet" href="/css/jubgging/jubggingQr.css">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
    <link rel="stylesheet" href="/css/fix/footer1.css">
    <link rel="stylesheet" href="/css/fix/footer2.css">
</head>
<body class="doz_sys  _body_menu_m202001034bc4f51fd7de1  shop_payment  fixed-menu-on new_fixed_menu_on new_header_site  loggedin new_fixed_header_active" id="doz_body">
<header th:replace="/app/fix/header.html :: header"></header>
<div doz_type="section" class="section_wrap  pc_section    section_first _section_first   mobile_section_first    side_     " id="s20200103b7ee0d0e6a0ef" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="default">
    <div class="section_bg _section_bg _interactive_bg   " style="   background-size:cover; background-repeat: no-repeat; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color" style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <main>
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w202001037106c645150b2">
                        <div class="_widget_data " data-widget-name="쇼핑 결제 완료" data-widget-type="shop_payment_complete" data-widget-anim="" data-widget-anim-duration="" data-widget-anim-delay="" data-widget-parent-is-mobile="N">
                            <div class="payment_complete shop-content">
                                <div class="complete_pg">
                                    <h5 class="margin-bottom-xxl">별별 줍깅</h5>
                                </div>
                                <div class="table_payment_complete">
                                    <table>
                                        <tbody style="height: 240px;">
                                        <tr>
                                            <td>
                                                <h6 style="text-align: center; padding-top: 33px;">관악산 1코스<br><strong class="text-brand">중간스팟</strong><br>확인되었습니다</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">2022-11-13 14:11</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="tools">
                                        <div class="btn-group-justified" role="group">
                                            <div class="btn-group" role="group">
                                                <a th:href="@{/mypage/mycourse}" class="btn bg-brand to-order line" style="width: 50%;">나의 코스 보기</a>
                                                <a href="javascript:;" class="btn bg-brand to-order" style=" width: 50%;">확인</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:replace="/app/fix/footer.html :: footer"></footer>
</body>
</html>