<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 관리자 페이지</title>
    <link rel="icon" href="/images/admin/0PBC.png">
    <link rel="stylesheet" href="/css/admin/adminCssAll.css">
    <style>
        .orderDetailTBL1{
            width: 17%; margin: 0px 6px 0px 0px ;text-align: center; background: rgba(206,238,217,0.45);
        }
        .orderDetailTBL2{
            width: 28%; margin: 0px 6px 0px 0px ;text-align: center; background: rgba(206,238,217,0.45);
        }
        .orderDetailTBL3{
            width: 14%;  margin: 0px 6px 0px 0px ;text-align: center; background: rgba(206,238,217,0.45);
        }
        .orderDetailTBL4{
            width: 18%;  margin: 0px 6px 0px 0px ;text-align: center; background: rgba(206,238,217,0.45);
        }
        .orderDetailTBL5{
            width: 23%; margin: 0px 0px 0px 0px ; text-align: center; background: rgba(206,238,217,0.45);
        }
    </style>
</head>
<body>
<header th:replace="/app/admin/adminSideBar.html :: sidebar"></header>
<div id="wrapper">
    <div class="flexroot">
        <div class="app_page flex_column">

            <!--우측 Contents-->
            <div class="app_wrapper">
                <!--우측 HEADER -->
                <header class="app_header">
                    <div class="header_wrapper">
                        <div class="headerbar">
                            <div class="headerbar-left">
                                <ul class="header-nav header-nav-options">
                                    <li class="header-nav-brand">
                                        <div class="brand-holder">
                                            <a href="javascript:void(0)" style="cursor: auto"
                                               class="location_text margin-right-lg"> <span
                                                    class="text-gray">주문 관리</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>

                <!--메인 페이지 -->
                <main class="app_main flex_column">
                    <div class="app_main_context">
                        <div class="app_main_context_container">
                            <div id="content" class="dashboard_main">
                                <div id="alertBox" class="alert__wrap"></div>
                                <section>
                                    <div class="clearfix area_wrap">
                                        <div class="section-body float_l">
                                            <div class="app-main flex-column flex-row-fluid"
                                                 id="kt_app_main">
                                                <div class="d-flex flex-column flex-column-fluid">
                                                    <!--관련 제목 입력 부분-->
                                                    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6"
                                                         data-select2-id="select2-data-kt_app_toolbar">
                                                        <div id="kt_app_toolbar_container"
                                                             class="app-container container-xxl d-flex flex-stack"
                                                             data-select2-id="select2-data-kt_app_toolbar_container">
                                                            <div
                                                                    class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                                                <h1
                                                                        class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                                                                    주문 상세 내역</h1>
                                                            </div>
                                                        </div>
                                                    </div><!--/ 관련 제목 입력 부분-->

                                                    <!-- 관련 내용 입력 부분 -->
                                                    <div id="kt_app_content" class="app-content flex-column-fluid">
                                                        <!--begin::Content container-->
                                                        <div id="kt_app_content_container"
                                                             class="app-container container-xxl">
                                                            <!--begin::Products-->
                                                            <div class="card card-flush">
                                                                <!--begin::Card header-->
                                                                <div class="card-header align-items-center py-5 gap-2 gap-md-5"
                                                                     style="border-bottom: 0px solid #eff2f5;">
                                                                    <!--begin::Card title-->
                                                                    <div class="card-title">
                                                                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                                                            <div class="w-100 mw-150px">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Card title-->
                                                                </div>
                                                                <!--end::Card header-->

                                                                <!--begin::Card body-->
                                                                <div class="card-body pt-0">
                                                                    <!--begin::Table-->
                                                                    <div id="kt_ecommerce_products_table_wrapper"
                                                                         class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                        <div class="table-responsive">

                                                                        </div>


                                                                        <div style="width: 60%; margin: 0 auto 48px auto;">
                                                                            <div class="card-toolbar flex-row-fluid justify-content-end gap-5"
                                                                                 style="float: right; margin-left: 10px; height: 36px;margin-top: 7px;">
                                                                                <div class="w-100 mw-150px">
                                                                                    <a href="http://localhost:10001/admin/adminorderlist"
                                                                                       style="padding: 9px 20px 9px 20px;"
                                                                                       class="btn btn-primary">돌아가기</a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 29.4%; margin-right: 9px;"> 주문 번호 </div>
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 70.6%;"> 2022111301 </div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 25%; margin-right: 9px;"> 주문 날짜 </div>
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 75%;"> 2022.11.13</div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 25%; margin-right: 9px;"> 주문자 </div>
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 75%;"> 홍길동 </div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 25%; margin-right: 9px;"> 배송 주소 </div>
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 75%;"> 경기도 성남시 분당구 돌마로 51번길 </div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 25%; margin-right: 9px;"> 주문 상태  </div>
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 75%;"> 주문 완료 </div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 25%; margin-right: 9px;"> 총 결제 금액 </div>
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 75%;"> 22,000 </div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 25%; margin-right: 9px;"> 배송 메세지 </div>
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 75%;"> 문 앞에 두고 벨 눌러주세요 </div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid w-250px ps-14"
                                                                                         style="width: 100%; text-align: center; background: #ceeed9"> 세부 내역 </div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid orderDetailTBL1">품목</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL2">제품명</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL3">수량</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL4">단가</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL5">결제금액</div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid orderDetailTBL1">식품</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL2">사과</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL3">3</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL4">1,000</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL5">3,000</div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid orderDetailTBL1">반려동물</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL2">고구마인형</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL3">3</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL4">2,000</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL5">6,000</div>
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                    <div class="form-control form-control-solid orderDetailTBL1">식품</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL2">감자</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL3">10</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL4">1,300</div>
                                                                                    <div class="form-control form-control-solid orderDetailTBL5">13,000</div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="row">
                                                                            </div>
                                                                        </div>
                                                                        <!--end::Table-->
                                                                    </div>
                                                                    <!--end::Card body-->
                                                                </div>
                                                                <!--end::Products-->
                                                            </div>
                                                            <!--end::Content container-->


                                                        </div><!-- /관련 내용 입력 부분 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/admin/admin.js"></script>
</html>