<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 관리자 페이지</title>
    <link rel="icon" href="/images/admin/0PBC.png">
    <link rel="stylesheet" href="/css/admin/adminCssAll.css">
</head>
<body>
<header th:replace="/app/admin/adminSideBar.html :: sidebar"></header>

<div id="wrapper">
    <div class="flexroot">
        <div class="app_page flex_column">

            <!--우측 Contents-->
            <div class="app_wrapper">
                <!--우측 HEADER -->
                <header class="app_header">
                    <div class="header_wrapper">
                        <div class="headerbar">
                            <div class="headerbar-left">
                                <ul class="header-nav header-nav-options">
                                    <li class="header-nav-brand">
                                        <div class="brand-holder">
                                            <a href="javascript:void(0)" style="cursor: auto"
                                               class="location_text margin-right-lg"> <span
                                                    class="text-gray">배너 관리</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>

                <!--메인 페이지 -->
                <main class="app_main flex_column">
                    <div class="app_main_context">
                        <div class="app_main_context_container">
                            <div id="content" class="dashboard_main">
                                <div id="alertBox" class="alert__wrap"></div>
                                <section>
                                    <div class="clearfix area_wrap">
                                        <div class="section-body float_l">
                                            <div class="app-main flex-column flex-row-fluid"
                                                 id="kt_app_main">
                                                <div class="d-flex flex-column flex-column-fluid">
                                                    <!--관련 제목 입력 부분-->
                                                    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6"
                                                         data-select2-id="select2-data-kt_app_toolbar">
                                                        <div id="kt_app_toolbar_container"
                                                             class="app-container container-xxl d-flex flex-stack"
                                                             data-select2-id="select2-data-kt_app_toolbar_container">
                                                            <div
                                                                    class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                                                <h1
                                                                        class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                                                                    배너 추가</h1>
                                                            </div>
                                                        </div>
                                                    </div><!--/ 관련 제목 입력 부분-->

                                                    <!-- 관련 내용 입력 부분 -->
                                                    <div id="kt_app_content" class="app-content flex-column-fluid">
                                                        <!--begin::Content container-->
                                                        <div id="kt_app_content_container"
                                                             class="app-container container-xxl">
                                                            <!--begin::Products-->
                                                            <div class="card card-flush">
                                                                <!--begin::Card header-->
                                                                <div class="card-header align-items-center py-5 gap-2 gap-md-5"
                                                                     style="border-bottom: 0px solid #eff2f5;">
                                                                    <!--begin::Card title-->
                                                                    <div class="card-title">

                                                                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                                                            <div class="w-100 mw-150px">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <div class="card-body pt-0">
                                                                    <div id="kt_ecommerce_products_table_wrapper"
                                                                         class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                        <div class="table-responsive">

                                                                        </div>
                                                                        <form th:action="@{/admin/banner/save}" name="addBannerForm" method="post" enctype="multipart/form-data">
                                                                        <div style="width: 60%; margin: 0 auto 0 auto;">
                                                                            <div class="card-toolbar flex-row-fluid justify-content-end gap-5"
                                                                                 style="float: right; margin-left: 10px; height: 36px;margin-top: 7px;">
                                                                                <div class="w-100 mw-150px" style="display: flex;flex-direction: column; margin-bottom: 9px;">
                                                                                    <a type="submit" style="cursor: pointer" onclick="addBanner()" class="btn btn-primary">저장</a>
                                                                                    <a href="javascript:void(0)" style="background: #f1416c" class="btn btn-primary uploadCancel">취소</a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                                <div class="d-flex align-items-center position-relative my-1">
                                                                                </div>
                                                                                <div class="d-flex align-items-center position-relative my-1"
                                                                                     style="background-color: #f5f8fa;
                                                                                            border-color: #f5f8fa;
                                                                                            color: #5E6278;
                                                                                            transition: color 0.2s ease;
                                                                                            font-size: inherit;
                                                                                            font-family: inherit;
                                                                                            padding: 8px;
                                                                                            box-shadow: none;
                                                                                            margin-bottom: 10px;">
                                                                                    <label style=" margin: 0 auto; width: 100%; height: 239px;">
                                                                                        <input type="file" id="icon_img"
                                                                                               data-kt-ecommerce-product-filter="search"
                                                                                               class="form-control form-control-solid w-250px ps-14"
                                                                                               placeholder=""
                                                                                               name="bannerNames"
                                                                                               accept="image/jpeg, image/jpg, image/png, image/gif, image/svg+xml"
                                                                                               style="display:none;margin: 0 auto;">
                                                                                        <img src="/images/admin/02.png"
                                                                                             id="thumbnail"
                                                                                             style="width: 100%; height: 100%; ">
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                            </div>
                                                                        </div>
                                                                        <!--end::Table-->
                                                                            <div id="bannerInfo">

                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                    <!--end::Card body-->
                                                                </div>
                                                                <!--end::Products-->
                                                            </div>
                                                            <!--end::Content container-->
                                                        </div><!-- /관련 내용 입력 부분 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${session.member !=null}">
    <input type="hidden" name="memberCategory" th:value="${session.member.memberCategory}">
    <input type="hidden" name="memberName" th:value="${session.member.memberName}">
</th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    let memberCategory = $("input[name='memberCategory']").val();
    let memberName = $("input[name='memberName']").val();
</script>
<script src="/js/admin/admin.js"></script>
<script th:inline="javascript">
    let arrayFile = [];

    $("input[type='file']").on("change",function () {
        let formData = new FormData();
        let $inputFile = $("input[name='bannerNames']");
        let files = $inputFile[0].files;

        let $uploadPath = $("input[name='bannerPath']").val();
        let $bannerUuid = $("input[name='bannerUuid']").val();
        let $bannerName = $("input[name='bannerName']").val();

        deleteFile($uploadPath,$bannerUuid,$bannerName);

        Array.from(files).forEach(file => arrayFile.push(file));
        const dataTransfer = new DataTransfer();
        arrayFile.forEach(file => dataTransfer.items.add(file));
        $(this)[0].files = dataTransfer.files;

        $(files).each(function(i, file){
            formData.append("upload", file);
        });

        $.ajax({
            url: "/file/banner/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: insertImg
        });
    });

    function insertImg(files) {
        let text = "";

        $(files).each(function (i, file) {
            text += `<input name="bannerName" type="hidden" value="`+ file.bannerName +`">`;
            text += `<input name="bannerPath" type="hidden" value="`+ file.bannerPath +`">`;
            text += `<input name="bannerUuid" type="hidden" value="`+ file.bannerUuid +`">`;
        });
        $("#bannerInfo").html(text);

    }

    $(".uploadCancel").on("click",function () {
        let $uploadPath = $("input[name='bannerPath']").val();
        let $bannerUuid = $("input[name='bannerUuid']").val();
        let $bannerName = $("input[name='bannerName']").val();

        deleteFile($uploadPath,$bannerUuid,$bannerName);

        location.href="http://localhost:10001/admin/banner"
    })

    function deleteFile(path, uuid, name) {
        $.ajax({
            url: "/file/banner/delete",
            type: "post",
            data:{
                uploadPath: path,
                bannerUuid: uuid,
                bannerName:name
            }
        })
    }

</script>
</html>