<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 관리자 페이지</title>
    <link rel="icon" href="/images/admin/0PBC.png">
    <link rel="stylesheet" href="/css/admin/adminCssAll.css">
    <style>
        .specialDiv {
            display: none;
        }

        #0special {
            display: none;
        }

    </style>
</head>
<body>
<header th:replace="/app/admin/adminSideBar.html :: sidebar"></header>
<div id="wrapper">
    <div class="flexroot">
        <div class="app_page flex_column">

            <!--우측 Contents-->
            <div class="app_wrapper">
                <!--우측 HEADER -->
                <header class="app_header">
                    <div class="header_wrapper">
                        <div class="headerbar">
                            <div class="headerbar-left">
                                <ul class="header-nav header-nav-options">
                                    <li class="header-nav-brand">
                                        <div class="brand-holder">
                                            <a href="javascript:void(0)" style="cursor: auto"
                                               class="location_text margin-right-lg"> <span
                                                    class="text-gray">줍깅 관리</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>

                <!--메인 페이지 -->
                <main class="app_main flex_column">
                    <div class="app_main_context">
                        <div class="app_main_context_container">
                            <div id="content" class="dashboard_main">
                                <div id="alertBox" class="alert__wrap"></div>
                                <section>
                                    <div class="clearfix area_wrap">
                                        <div class="section-body float_l">
                                            <div class="app-main flex-column flex-row-fluid"
                                                 id="kt_app_main">
                                                <div class="d-flex flex-column flex-column-fluid">
                                                    <!--관련 제목 입력 부분-->
                                                    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6"
                                                         data-select2-id="select2-data-kt_app_toolbar">
                                                        <div id="kt_app_toolbar_container"
                                                             class="app-container container-xxl d-flex flex-stack"
                                                             data-select2-id="select2-data-kt_app_toolbar_container">
                                                            <div
                                                                    class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                                                <h1
                                                                        class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                                                                    코스 수정</h1>
                                                            </div>
                                                        </div>
                                                    </div><!--/ 관련 제목 입력 부분-->

                                                    <!-- 관련 내용 입력 부분 -->
                                                    <div id="kt_app_content" class="app-content flex-column-fluid">
                                                        <!--begin::Content container-->
                                                        <div id="kt_app_content_container"
                                                             class="app-container container-xxl">
                                                            <!--begin::Products-->
                                                            <div class="card card-flush">
                                                                <!--begin::Card header-->
                                                                <div class="card-header align-items-center py-5 gap-2 gap-md-5"
                                                                     style="border-bottom: 0px solid #eff2f5;">
                                                                    <!--begin::Card title-->
                                                                    <div class="card-title">

                                                                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                                                            <div class="w-100 mw-150px">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Card title-->

                                                                </div>
                                                                <!--end::Card header-->

                                                                <!--begin::Card body-->
                                                                <div class="card-body pt-0">
                                                                    <!--begin::Table-->
                                                                    <div id="kt_ecommerce_products_table_wrapper"
                                                                         class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                        <div class="table-responsive">
                                                                        </div>

                                                                        <form th:action="@{/admin/jubgging/course/modified}"
                                                                              name="modifyJubJubCourseForm" method="post">
                                                                            <div id="0special">
                                                                                <img src="/images/admin/0special.png"
                                                                                     style="float: left; width: 11%;margin-left: 90px;">
                                                                            </div>

                                                                            <div style="width: 60%; margin: 0 auto 48px auto;">

                                                                                <div class="card-toolbar flex-row-fluid justify-content-end gap-5"
                                                                                     style="float: right; margin-left: 10px; height: 36px;margin-top: 7px;">
                                                                                    <div class="w-100 mw-150px">
                                                                                        <a type="submit"
                                                                                           onclick="modifyJubJubCourse()"
                                                                                           style="padding: 9px 20px 9px 20px;cursor: pointer; background: #009ef7"
                                                                                           class="btn btn-primary">수정
                                                                                            하기</a>
                                                                                    </div>
                                                                                </div>

                                                                                <div th:object="${course}" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                                    <input type="hidden" th:value="*{courseId}" name="courseId">

                                                                                    <div class="d-flex align-items-center position-relative my-1">
                                                                                        <input type="text"
                                                                                               name="courseName"
                                                                                               data-kt-ecommerce-product-filter="search"
                                                                                               class="form-control form-control-solid w-250px ps-14"
                                                                                               placeholder="코스명"
                                                                                               style="width: 50%;" th:value="*{courseName}">
                                                                                        <input type="text"
                                                                                               name="courseArea"
                                                                                               data-kt-ecommerce-product-filter="search"
                                                                                               class="form-control form-control-solid w-250px ps-14"
                                                                                               placeholder="코스 지역"
                                                                                               style="width: 50%;margin-left: 9px;" th:value="*{courseArea}">
                                                                                    </div>
                                                                                    <div class="d-flex align-items-center position-relative my-1">
                                                                                        <input type="text"
                                                                                               name="courseDistance"
                                                                                               data-kt-ecommerce-product-filter="search"
                                                                                               class="form-control form-control-solid w-250px ps-14"
                                                                                               placeholder="코스 거리 (km)"
                                                                                               style="width: 33.3%;" th:value="*{courseDistance}">
                                                                                        <input type="text"
                                                                                               name="courseTime"
                                                                                               data-kt-ecommerce-product-filter="search"
                                                                                               class="form-control form-control-solid w-250px ps-14"
                                                                                               placeholder="코스 소요시간"
                                                                                               style="width: 33.3%; margin: 0 10px 10px 10px;" th:value="*{courseTime}">
                                                                                        <select class="form-control form-control-solid courseRank"
                                                                                                style="width: 33.3%;"
                                                                                                id="courseRank" name="courseGrade">
<!--                                                                                            <option value="grade"-->
<!--                                                                                                    disabled selected-->
<!--                                                                                                    hidden>난이도-->
<!--                                                                                            </option>-->
                                                                                            <option value="초급" th:selected="${#strings.equals(course.courseGrade , '초급')}">초급
                                                                                            </option>
                                                                                            <option value="중급" th:selected="${#strings.equals(course.courseGrade, '중급')}">중급
                                                                                            </option>
                                                                                            <option value="고급" th:selected="${#strings.equals(course.courseGrade, '고급')}">고급
                                                                                            </option>
                                                                                            <option value="스페셜" th:selected="${#strings.equals(course.courseGrade, '스페셜')}">
                                                                                                Special
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="specialDiv"
                                                                                         id="specialDiv">
                                                                                        <div class="form-control form-control-solid"
                                                                                             style="width: 10%;">시작일
                                                                                        </div>
                                                                                        <input type="datetime-local"
                                                                                               class="form-control form-control-solid"
                                                                                               name="openingDate"
                                                                                               style="width: 40%;margin: 0 9px 9px 9px;"
                                                                                               th:value="*{openingDate}">
                                                                                        <div class="form-control form-control-solid"
                                                                                             style="width: 10%;">마감일
                                                                                        </div>
                                                                                        <input type="datetime-local"
                                                                                               class="form-control form-control-solid"
                                                                                               name="closingDate"
                                                                                               style="width: 40%;margin: 0 0 9px 9px;"
                                                                                               th:value="*{closingDate}">
                                                                                    </div>
                                                                                    <div class="d-flex align-items-center position-relative my-1">
                                                                                        <input type="text"
                                                                                               class="form-control form-control-solid w-250px ps-14"
                                                                                               placeholder="출발지"
                                                                                               name="courseStart"
                                                                                               style="width: 50%;" th:value="*{courseStart}">
                                                                                        <input type="text"
                                                                                               class="form-control form-control-solid w-250px ps-14"
                                                                                               placeholder="도착지"
                                                                                               name="courseFinish"
                                                                                               style="width: 50%;margin-left: 9px;" th:value="*{courseFinish}">
                                                                                    </div>
                                                                                    <div class="d-flex align-items-center position-relative my-1"
                                                                                         style="background-color: #f5f8fa;
                                                                                            border-color: #f5f8fa;
                                                                                            color: #5E6278;
                                                                                            transition: color 0.2s ease;
                                                                                            font-size: inherit;
                                                                                            font-family: inherit;
                                                                                            padding: 8px;
                                                                                            box-shadow: none;
                                                                                            margin-bottom: 10px;">
                                                                                        <label style=" margin: 0 auto; width: 100%; height: 130px;">
                                                                                            <input type="file"
                                                                                                   id="icon_img"
                                                                                                   data-kt-ecommerce-product-filter="search"
                                                                                                   class="form-control form-control-solid w-250px ps-14"
                                                                                                   placeholder=""
                                                                                                   name="courseFile"
                                                                                                   accept="image/jpeg, image/jpg, image/png, image/gif, image/svg+xml"
                                                                                                   style="display:none;margin: 0 auto;">
                                                                                            <img th:src="*{courseFileName}"
                                                                                                 id="thumbnail"
                                                                                                 style="width: 100%; height: 100%;">
                                                                                        </label>
                                                                                        <div id="courseImgInfo">
                                                                                            <input name="courseFileName" type="hidden" th:value="*{courseFileName}">
                                                                                            <input name="courseFilePath" type="hidden" th:value="*{courseFilePath}">
<!--                                                                                            <input name="courseFileUuid" type="hidden" th:value="*{courseFileUuid}">-->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="row">
                                                                                </div>
                                                                            </div>
                                                                            <!--end::Table-->
                                                                        </form>
                                                                    </div>
                                                                    <!--end::Card body-->
                                                                </div>
                                                                <!--end::Products-->
                                                            </div>
                                                            <!--end::Content container-->


                                                        </div><!-- /관련 내용 입력 부분 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${session.member !=null}">
    <input type="hidden" name="memberCategory" th:value="${session.member.memberCategory}">
    <input type="hidden" name="memberName" th:value="${session.member.memberName}">
</th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    let memberCategory = $("input[name='memberCategory']").val();
    let memberName = $("input[name='memberName']").val();
</script>
<script src="/js/admin/admin.js"></script>
<script>
    //리스트 체크박스
    var $checkboxes = $(".form-check-input.checkbox");

    //special 클릭시 시작일 마감일 보이고, special 아이콘 나오게
    $('#0special').css("display", "none");
    $(document).ready(function () {
        $('.courseRank').change(function () {
            var check = $('.courseRank option:selected').val();

            if (check == "스페셜") {
                $('.specialDiv').css("display", "flex");
                $('#0special').css("display", "block");
            } else {
                $('.specialDiv').hide();
                $('#0special').css("display", "none");
            }

        })
    })

    // 전체 submit 전 체크

    function modifyJubJubCourse() {
        if ($("input[name=courseName]").val() == "") {
            alert("코스명을 입력하세요!");
            $("input[name=courseName]").focus();
            return;
        }

        if ($("input[name=courseArea]").val() == "") {
            alert("코스 지역을 입력하세요!");
            $("input[name=courseArea]").focus();
            return;
        }

        if ($("input[name=courseDistance]").val() == "") {
            alert("코스 거리을 입력하세요!");
            $("input[name=courseDistance]").focus();
            return;
        }

        if ($("input[name=courseTime]").val() == "") {
            alert("코스 소요 시간을 입력하세요!");
            $("input[name=courseTime]").focus();
            return;
        }

        if ($('#courseRank option:selected').val() == "grade") {
            alert("코스 난이도를 선택하세요!");
            $("#courseRank").focus();
            return;
        }

        if ($('#courseRank option:selected').val() == "Special") {

            if ($("input[name=courseOpeningDate]").val() == "2022-07-22T12:00") {
                alert("시작일을 입력하세요!");
                $("input[name=courseOpeningDate]").focus();
                return;
            }
            if ($("input[name=courseClosingDate]").val() == "2022-07-22T12:00") {
                alert("마감일을 입력하세요!");
                $("input[name=courseClosingDate]").focus();
                return;
            }
            if ($("input[name=courseStart]").val() == "") {
                alert("출발지를 입력하세요!");
                $("input[name=courseStart]").focus();
                return;
            }
            if ($("input[name=courseFinish]").val() == "") {
                alert("도착지를 입력하세요!");
                $("input[name=courseFinish]").focus();
                return;
            }
            if ($("input[name=courseFile]").next().attr("src") == "/images/admin/001.png") {
                alert("첨부파일을 등록하세요!");
                return;
            }

        } else {

            if ($("input[name=courseStart]").val() == "") {
                alert("출발지를 입력하세요!");
                $("input[name=courseStart]").focus();
                return;
            }
            if ($("input[name=courseFinish]").val() == "") {
                alert("도착지를 입력하세요!");
                $("input[name=courseFinish]").focus();
                return;
            }
            if ($("input[name=courseFile]").next().attr("src") == "/images/admin/001.png") {
                alert("첨부파일을 등록하세요!");
                return;
            }
        }
        $("form[name='modifyJubJubCourseForm']").submit();
    }
    let arrayFile = [];
    let $inputProfile = $("#icon_img");
    $inputProfile.on("change",function () {
        let formData = new FormData();

        let files = $inputProfile[0].files;

        Array.from(files).forEach(file => arrayFile.push(file));
        const dataTransfer = new DataTransfer();
        arrayFile.forEach(file => dataTransfer.items.add(file));
        $(this)[0].files = dataTransfer.files;

        $(files).each(function(i, file){
            formData.append("upload", file);
        });

        $.ajax({
            url: "/file/course/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: insertProfile
        });
    });

    function insertProfile(files) {
        let text = "";

        $(files).each(function (i, file) {
            text += `<input name="courseFileName" type="hidden" value="`+ file.courseFileName +`">`;
            text += `<input name="courseFilePath" type="hidden" value="`+ file.courseFilePath +`">`;
            // text += `<input name="courseFileUuid" type="hidden" value="`+ file.courseFileUuid +`">`;
        });
        $("#courseImgInfo").html(text);

    }
</script>
</html>