<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별별쓰담 | 관리자 페이지</title>
    <link rel="icon" href="/images/admin/0PBC.png">
    <link rel="stylesheet" href="/css/admin/adminCssAll.css">
</head>
<body>
<header th:replace="/app/admin/adminSideBar.html :: sidebar"></header>

<div id="wrapper">
    <div class="flexroot">
        <div class="app_page flex_column">
            <div class="app_wrapper">

                <header class="app_header">
                    <div class="header_wrapper">
                        <div class="headerbar">
                            <div class="headerbar-left">
                                <ul class="header-nav header-nav-options">
                                    <li class="header-nav-brand">
                                        <div class="brand-holder">
                                            <a href="javascript:void(0)" style="cursor: auto"
                                               class="location_text margin-right-lg"> <span
                                                    class="text-gray">회원 관리</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>

                <main class="app_main flex_column">
                    <div class="app_main_context">
                        <div class="app_main_context_container">
                            <div id="content" class="dashboard_main">
                                <div id="alertBox" class="alert__wrap"></div>
                                <section>
                                    <div class="clearfix area_wrap">
                                        <div class="section-body float_l">
                                            <div class="app-main flex-column flex-row-fluid"
                                                 id="kt_app_main">

                                                <div class="d-flex flex-column flex-column-fluid">
                                                    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6"
                                                         data-select2-id="select2-data-kt_app_toolbar">
                                                        <!--begin::Toolbar container-->
                                                        <div id="kt_app_toolbar_container"
                                                             class="app-container container-xxl d-flex flex-stack"
                                                             data-select2-id="select2-data-kt_app_toolbar_container">
                                                            <!--begin::Page title-->
                                                            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                                                <!--begin::Title-->
                                                                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                                                                    회원 목록</h1>
                                                                <!--end::Title-->
                                                            </div>
                                                            <!--end::Page title-->
                                                        </div>
                                                        <!--end::Toolbar container-->
                                                    </div>

                                                    <!--begin::kt_app_content-->
                                                    <div id="kt_app_content"
                                                         class="app-content flex-column-fluid">
                                                        <div id="kt_app_content_container"
                                                             class="app-container container-xxl">
                                                            <!--begin::card-->
                                                            <div class="card">
                                                                <!--begin::card-header-->
                                                                <div class="card-header border-0 pt-6">
                                                                    <div class="card-title">
                                                                                             <!--########## 검색창_필요시 사용 ###########-->
                                                                                             <!--begin::Search-->
                                                                                              <!--<div
                                                                                                 class="d-flex align-items-center position-relative my-1">
                                                                                                 &lt;!&ndash;begin::Svg Icon | path: icons/duotune/general/gen021.svg&ndash;&gt;
                                                                                                 <span
                                                                                                     class="svg-icon svg-icon-1 position-absolute ms-6">
                                                                                                     <svg width="24" height="24" viewBox="0 0 24 24"
                                                                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                             <rect
                                                                                                             opacity="0.5" x="17.0365" y="15.1223"
                                                                                                             width="8.15546" height="2" rx="1"
                                                                                                             transform="rotate(45 17.0365 15.1223)"
                                                                                                             fill="currentColor"></rect>
                                                                                                             <path
                                                                                                             d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                                                                             fill="currentColor"></path>
                                                                                                         </svg>
                                                                                                 </span>
                                                                                                 &lt;!&ndash;end::Svg Icon&ndash;&gt;
                                                                                                 <input type="text"
                                                                                                     data-kt-customer-table-filter="search"
                                                                                                     class="form-control form-control-solid w-250px ps-15"
                                                                                                     placeholder="Search Users">
                                                                                             </div>-->
                                                                                             <!--end::Search-->
                                                                    </div>
                                                                    <div class="card-toolbar">
                                                                        <div class="d-flex justify-content-end"
                                                                             data-kt-customer-table-toolbar="base">
                                                                            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px"
                                                                                    data-kt-menu="true"
                                                                                    id="kt-toolbar-filter">
                                                                                <!--begin::Separator-->
                                                                                <div class="separator border-gray-200"></div>
                                                                                <!--end::Separator-->
                                                                            </div>
                                                                            <button type="button"
                                                                                    id="deleteMemberButton"
                                                                                    class="btn btn-primary"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target="#kt_modal_add_customer"
                                                                                    style="background: #f1416c;">
                                                                                회원 탈퇴
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end::card-header-->

                                                                <!--begin::card-body-->
                                                                <div class="card-body pt-0">
                                                                    <!--begin::Table-->
                                                                    <div id="kt_customers_table_wrapper"
                                                                         class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                        <div class="table-responsive">
                                                                            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                                                                    id="kt_customers_table">

                                                                                <!--begin::Table head-->
                                                                                <thead>
                                                                                <!--begin::Table row-->
                                                                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                                                                    <!-- memberCheckBoxTitle -->
                                                                                    <th class="w-10px pe-2 sorting_disabled memberCheckboxTitle"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label=""
                                                                                        style="width: 29.9px;">
                                                                                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                                                                            <input class="form-check-input total"
                                                                                                   type="checkbox"
                                                                                                   data-kt-check="true"
                                                                                                   data-kt-check-target="#kt_customers_table .form-check-input"
                                                                                                   value="1">
                                                                                        </div>
                                                                                    </th>
                                                                                    <!-- memberIdTitle -->
                                                                                    <th class="min-w-125px sorting memberIdTitle"
                                                                                        tabindex="0"
                                                                                        aria-controls="kt_customers_table"
                                                                                        rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="">
                                                                                        No.
                                                                                    </th>
                                                                                    <!-- memberCategoryTitle -->
                                                                                    <th class="min-w-125px sorting memberCategoryTitle"
                                                                                        tabindex="0"
                                                                                        aria-controls="kt_customers_table"
                                                                                        rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="">
                                                                                        구분
                                                                                    </th>
                                                                                    <!-- memberNameTitle -->
                                                                                    <th class="min-w-125px sorting memberNameTitle"
                                                                                        tabindex="0"
                                                                                        aria-controls="kt_customers_table"
                                                                                        rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="">
                                                                                        이름
                                                                                    </th>
                                                                                    <!-- memberPhoneTitle -->
                                                                                    <th class="min-w-125px sorting memberPhoneTitle"
                                                                                        tabindex="0"
                                                                                        aria-controls="kt_customers_table"
                                                                                        rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="">
                                                                                        전화번호
                                                                                    </th>
                                                                                    <!-- memberEmailTitle -->
                                                                                    <th class="min-w-125px sorting memberEmailTitle"
                                                                                        tabindex="0"
                                                                                        aria-controls="kt_customers_table"
                                                                                        rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="">
                                                                                        이메일
                                                                                    </th>
                                                                                    <!-- memberPointTitle -->
                                                                                    <th class="min-w-125px sorting memberPointTitle"
                                                                                        tabindex="0"
                                                                                        aria-controls="kt_customers_table"
                                                                                        rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="">
                                                                                        포인트
                                                                                    </th>
                                                                                    <!-- memberProfileFileTitle -->
                                                                                    <th class="min-w-125px sorting memberProfileFileTitle"
                                                                                        tabindex="0"
                                                                                        aria-controls="kt_customers_table"
                                                                                        rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="">
                                                                                        가입일
                                                                                    </th>
                                                                                </tr>
                                                                                <!--end::Table row-->
                                                                                </thead>
                                                                                <!--end::Table head-->

                                                                                <!--begin::Table body-->
                                                                                <tbody class="fw-semibold text-gray-600">

                                                                                <!-- 회원 -->
                                                                                <form th:action="@{/admin/member/delete}" method="post" name="deleteForm">
                                                                                <th:block th:each="member:${members}">
                                                                                <tr class="row_member" th:object="${member}">
                                                                                    <!-- memberCheckBox -->
                                                                                    <td class="memberCheckbox">
                                                                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                                                            <input class="form-check-input checkbox" type="checkbox" name="checkedValue" th:value="*{memberId}">
                                                                                        </div>
                                                                                    </td>
                                                                                    <!-- memberId -->
                                                                                    <td class="member_list_value number memberId" th:text="*{memberId}">
                                                                                    </td>
                                                                                    <!-- memberCategory -->
                                                                                    <td class="member_list_value memberCategory" th:text="*{memberCategory}">
                                                                                    </td>
                                                                                    <!-- memberName -->
                                                                                    <td class="member_list_value memberName" th:text="*{memberName}">
                                                                                    </td>
                                                                                    <!-- memberPhone -->
                                                                                    <td class="member_list_value memberPhone" th:text="*{memberPhone}">
                                                                                    </td>
                                                                                    <!-- memberEmail -->
                                                                                    <td class="member_list_value memberEmail" th:text="*{memberEmail}">
                                                                                    </td>
                                                                                    <!-- memberPoint -->
                                                                                    <td class="member_list_value memberPoint" th:text="*{memberPoint}">
                                                                                    </td>
                                                                                    <!-- memberProfileFile -->
                                                                                    <td class="member_list_value memberProfileFile" th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd')}">
                                                                                    </td>
                                                                                </tr>
                                                                                </th:block>
                                                                                </form>

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Table-->

                                                                    <!-- 우측 하단 페이징 처리 -->
                                                                    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                                                        <div class="dataTables_paginate paging_simple_numbers"
                                                                             id="kt_ecommerce_products_table_paginate">
                                                                            <ul class="pagination" th:if="${!members.isEmpty()}">
                                                                                <li class="paginate_button page-item previous disabled"
                                                                                    id="kt_ecommerce_products_table_previous" th:if="${members.hasPrevious()}">
                                                                                    <a th:href="@{|/admin/member/${members.number}|}"
                                                                                       aria-controls="kt_ecommerce_products_table"
                                                                                       data-dt-idx="0"
                                                                                       tabindex="0"
                                                                                       class="page-link"><</a>
                                                                                </li>
                                                                                <li class="paginate_button page-item active" th:each="page:${#numbers.sequence(1, members.totalPages)}">
                                                                                    <a th:text="${page}" th:href="@{|/admin/member/${page}|}"
                                                                                       aria-controls="kt_ecommerce_products_table"
                                                                                       data-dt-idx="1"
                                                                                       tabindex="0"
                                                                                       class="page-link"></a>
                                                                                </li>
                                                                                <li class="paginate_button page-item next"
                                                                                    id="kt_ecommerce_products_table_next" th:if="${members.hasNext()}">
                                                                                    <a th:href="@{|/admin/member/${members.number +2}|}"
                                                                                       aria-controls="kt_ecommerce_products_table"
                                                                                       data-dt-idx="6"
                                                                                       tabindex="0"
                                                                                       class="page-link">></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div><!-- / 우측 하단 페이징 처리 -->
                                                                </div><!--end::card-body-->
                                                            </div><!--end::card-->
                                                        </div>
                                                    </div><!--end::kt_app_content-->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script>
    var $checkboxes = $(".form-check-input.checkbox");

    $("#deleteMemberButton").on("click",function () {
        if ($checkboxes.filter(":checked").length == 0) {
            alert("삭제할 프로그램을 선택하세요.");
            return;
        }

        $("form[name='deleteForm']").submit();
    })
</script>
</html>